$color-1 : #F13F52;
$color-2 : #DC302F;
$theme-colors: ("primary": $color-1,
    "light": #f0cacf //   "secondary": $color-2
);

@import "./parsasal/_fonts.scss";
@import "./parsasal/scss/bootstrap";


a {
    text-decoration: none;
}

* {
    margin: 0px;
    box-sizing: border-box;
}

.zero-padding-margin {

    margin: 0;
    padding: 0;
}

.center {
    margin: auto;
}

.dark-mode {
    filter: invert(1) hue-rotate(180deg);
}

.color1 {
    background-color: $color-1;
}

.color2 {
    background-color: $color-2;
}

body {
    line-height: 1.8em;
    // height: 100%;
}


@media (min-width:992px) {
    .container-full {
        width: 80% !important;
        margin: auto;
    }
}

@media (min-width:1200px) {
    .container-full {
        width: 70% !important;
        margin: auto;
    }
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display: inline-block;
    float: none;
}

#main-header {
    @extend .navbar;
    @extend .navbar-dark;
    background-image: linear-gradient(0deg, #f46d57 25%, #f03f52 25%, #f03f52 50%, #f46d57 50%, #f46d57 75%, #f03f52 75%, #f03f52 100%);
    background-size: 36.00px 36.00px;

    a {
        @extend .bg-light;
        color: #214252;
        padding: 0.3em;
        font-size: calc(0.9em + 0.4vw);

    }

    h3 {
        color: white;
        font-weight: bold;
        font-size: calc(1.4em + 0.6vw);
        margin: 0 auto;

    }


}

.full-size-fit {
    @extend .col-lg-4;
    @extend .col-md-6;
    @extend .col-11;
    @extend .justify-content-center;


}

.responsive-img {
    max-width: 95%;
    height: auto;
}

.row {
    margin: 0;
}

.row-centered {
    @extend .row;
    @extend .justify-content-center;
}


ol {
    /* Remove default list numbering style */
    list-style: none;
}


ol {

    padding: .5em 1em;
    background-color: #fff;
    width: 50%;
    margin: 1em auto;
    border-radius: 2px;
    color: #666;
}

.masale {
    padding-inline-start: calc(0.8em + 2vw);
    padding-inline-end: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    clear: both;
    width: 100%;
    text-align: start;
    display: block;
    counter-increment: big-num;
    position: relative;

    p {
        // display: inline-block;
        position: relative;
        display: block;
        padding-inline-start: 0.5em;
    }
}

.masale:before {
    float: right;
    content: counter(big-num);
    background: #f03f52;
    color: #fff;
    border-radius: 0.2em;
    padding: 0 0.5em;
    position: relative;
    min-width: 1.0em;
    text-align: center;
}


section {
    margin: 0.8em 0;
    display: block;

    .section-header {
        @extend .navbar;
        @extend .navbar-expand-lg;
        @extend .bg-secondary;
        border-radius: 0.2em;
        padding: 0.3em;
        width: 100%;
        overflow: hidden;

        button {
            float: left;
            margin-left: 1em;
            margin-right: auto;
        }

        h5 {
            float: right;
            margin: 0 1em;
            color: white;
        }


    }
}

hr {
    clear: both;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.small-vertical-margin {
    margin-top: 1em;
    margin-bottom: 1em;
}

.mohit_label {
    @extend .col-5;
    @extend .col-sm-5;
    text-align: end;
    margin: auto 0;

}

.small-input {
    @extend .col-5;
    @extend .col-sm-5;
}

.input-style {
    @extend .form-control;

}

$paper-color: #F1EDE9;
$paper-line: #94ACD4;

.explain-textarea {
    @extend .input-style;
    @extend .hand-written;
    min-height: 6em;
    padding: 0.5em 2em;
    background: repeating-linear-gradient($paper-color, $paper-color 31px, $paper-line 31px, $paper-line 32px);
    line-height: 32px;
    outline: 0;
    font-size: 30px;
}


.hover-glow:hover {
    border-color: #66afe9;
    box-shadow: 0 0 8px skyblue;
}

.hover-glow:active {
    border-color: #66afe9;
    box-shadow: 0 0 8px blue;
}

@media (min-width:768px) {
    #page-body {
        margin-top: 0.5em;
        border: 8px double $color-1;
        border-radius: 1em;
        padding: 0.5em;
        position: relative;
        display: block;
        background-color: white;
    }

    .page-footer {
        background-image: linear-gradient(0deg, #f03f52 25%, #f46d57 25%, #f46d57 50%, #f03f52 50%, #f03f52 75%, #f46d57 75%, #f46d57 100%);
        background-size: 36.00px 36.00px;
        width: 100vw;
        height: 22em;
        position: absolute;
        bottom: -8em;
        display: inline-block;
        z-index: -1;
        margin-right: -50%;

        transform: translateX(50%);


    }


}



.go-top {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    font-size: 30px;
    position: fixed;
    z-index: 1;
    bottom: -40px;
    right: 20px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    background-color: #214252;
    color: #FFFFFF;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.go-top.show {
    bottom: 20px;
}

.go-top:hover {
    background-color: #ce6262;
    color: #FFFFFF;
    opacity: 0.7;
}

.go-top .glyphicon {
    top: 5px;
}

@mixin breakpoint ($value) {
    @if $value=='phone' {
        @media only screen and (min-width: 120px) and (max-width: 767px) {
            @content;
        }
    }

    @else if $value=='tablet' {
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            @content;
        }
    }

    @else if $value=='touch' {
        @media only screen and (min-width: 120px) and (max-width: 1024px) {
            @content;
        }
    }

    @else if $value=='desktop' {
        @media only screen and (min-width: 1025px) {
            @content;
        }
    }

    @else {
        @media only screen and (max-width: $value) {
            @content;
        }
    }
}

// Colors
$white: #fff;
$black: #000;
$grey: #595959;
$grey-dark: #2b2b2b;
$grey-light: #eee;
$green: #86c023;
$blue: #017ac7;

// Transition
$duration: 400ms;
$easing: ease;


//----------  pagination
//------------------------------------------------------------------------------
.pagination-wrapper {
    text-align: center;
    // margin: 10px 0;
}

.pagination {
    display: inline-block;
    height: 70px;
    margin-top: 10px;
    padding: 0 15px;
    border-radius: 35px;
    background-color: $grey-light;

    @include breakpoint(1199px) {
        height: 50px;
        margin-top: 50px;
        padding: 0 10px;
        border-radius: 25px;
    }
}

.page-numbers {
    display: block;
    padding: 0 16px;
    float: left;
    transition: $duration $easing;
    color: $grey;
    font-size: 20px;
    letter-spacing: 0.1em;
    line-height: 70px;

    &:hover,
    &.current {
        background-color: $color-1;
        color: $white;
    }

    &.prev:hover,
    &.next:hover {
        background-color: transparent;
        color: $green;
    }

    @include breakpoint(1199px) {
        padding: 0 15px;
        font-size: 16px;
        line-height: 50px;
    }

    @include breakpoint(touch) {
        padding: 0 14px;
        display: none;

        &:nth-of-type(2) {
            position: relative;
            padding-right: 50px;

            &::after {
                content: '...';
                position: absolute;
                font-size: 25px;
                top: 0;
                left: 45px;
            }
        }

        &:nth-child(-n+3),
        &:nth-last-child(-n+3) {
            display: block;
        }

        &:nth-last-child(-n+4) {
            padding-right: 14px;

            &::after {
                content: none;
            }
        }
    }
}