$color-1 : #F13F52;
$color-2 : #DC302F;
$theme-colors: ("primary": $color-1,
    "light": #f0cacf //   "secondary": $color-2
);


@import "./parsasal/scss/bootstrap";
@import "./parsasal/_pagination.scss";
@import "./parsasal/_go_top.scss";

a {
    text-decoration: none;
}

* {
    margin: 0px;
    box-sizing: border-box;
}

.zero-padding-margin {

    margin: 0;
    padding: 0;
}

.center {
    margin: auto;
}

.dark-mode {
    filter: invert(1) hue-rotate(180deg);
}

.color1 {
    background-color: $color-1;
}

.color2 {
    background-color: $color-2;
}

body {
    line-height: 1.8em;
}


@media (min-width:992px) {
    .container-full {
        width: 80% !important;
        margin: auto;
    }
}

@media (min-width:1200px) {
    .container-full {
        width: 70% !important;
        margin: auto;
    }
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display: inline-block;
    float: none;
}

#main-header {
    @extend .navbar;
    @extend .navbar-dark;
    background-image: linear-gradient(0deg, #f46d57 25%, #f03f52 25%, #f03f52 50%, #f46d57 50%, #f46d57 75%, #f03f52 75%, #f03f52 100%);
    background-size: 36.00px 36.00px;

    a {
        @extend .bg-light;
        color: #214252;
        padding: 0.3em;
        font-size: calc(0.9em + 0.4vw);

    }

    h3 {
        color: white;
        font-weight: bold;
        font-size: calc(1.4em + 0.6vw);
        margin: 0 auto;

    }


}

.full-size-fit {
    @extend .col-lg-4;
    @extend .col-md-6;
    @extend .col-11;
    @extend .justify-content-center;


}

.responsive-img {
    max-width: 95%;
    height: auto;
}

.row {
    margin: 0;
}

.row-centered {
    @extend .row;
    @extend .justify-content-center;
}


ol {
    /* Remove default list numbering style */
    list-style: none;
}


ol {

    padding: .5em 1em;
    background-color: #fff;
    width: 50%;
    margin: 1em auto;
    border-radius: 2px;
    color: #666;
}

.masale {
    padding-inline-start: calc(0.6em + 2.4vw);
    padding-inline-end: calc(0.4em + 2vw);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    clear: both;
    width: 100%;
    text-align: start;
    display: block;
    counter-increment: big-num;
    position: relative;

    p {
        position: relative;
        display: block;
        padding-inline-start: 0.5em;
        font-size: 1.06rem;  
        &:before{
            display: none;
        }
        &.before-numbering:before{
            display: block;
        }
    }

    p:before {
        float: right;
        content: counter(big-num);
        background: $color-2;
        color: #fff;
        border-radius: 0.2em;
        padding: 0 0.4em;
        position: relative;
        min-width: 1.0em;
        text-align: center;
        margin-left: 0.5em;

    }



    @media (min-width:992px) {
        &.padded-for-image {
            padding-right: 10vh;
        }

        .padded-for-image {
            padding-right: 6vh;
        }
    }

}



section {
    margin: 0.8em 0;
    display: block;


    .section-header {
        @extend .navbar;
        @extend .navbar-expand-lg;
        width: 100%;
        padding: 0;
        overflow: visible;

        .title-container {
            display: flex;
            .indent-square {
                background-color: $color-2;
                color: $color-2;
                display: table-cell;
                width: 1.2em;
            }

            h5 {

                float: right;
                margin: 0.3em 1em;
                color: white;
            }
            .section-header-image {
                display: none;
            }

            @media (min-width:992px) {
                .section-header-image {
                    display: inline;
                    position: absolute;
                    right: -2.8vw;
                    top: 1.3vh;
                    z-index: 2;
                    max-height: 18vh;   
                    max-width: 20vw;
                }
            }

            background-color: $color-1;
            border-top-left-radius: 0.4em;
            border-bottom-left-radius: 0.4em;
        }


        button {

            float: left;
            margin-left: 1em;
            margin-right: auto;
        }



    }
}

hr {
    clear: both;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.small-vertical-margin {
    margin-top: 1em;
    margin-bottom: 1em;
}

.mohit_label {
    @extend .col-5;
    @extend .col-sm-5;
    text-align: end;
    margin: auto 0;

}

.small-input {
    @extend .col-5;
    @extend .col-sm-5;
}

.input-style {
    @extend .form-control;

}

$paper-color: #F1EDE9;
$paper-line: #94ACD4;

.explain-textarea {
    @extend .input-style;
    @extend .hand-written;
    min-height: 6em;
    padding: 0.5em 2em;
    background: repeating-linear-gradient($paper-color, $paper-color 31px, $paper-line 31px, $paper-line 32px);
    line-height: 32px;
    outline: 0;
    font-size: 30px;
}


.hover-glow:hover {
    border-color: #66afe9;
    box-shadow: 0 0 8px skyblue;
}

.hover-glow:active {
    border-color: #66afe9;
    box-shadow: 0 0 8px blue;
}

@media (min-width:768px) {
    #page-body {
        margin-top: 0.5em;
        border: 8px double $color-1;
        border-radius: 1em;
        position: relative;
        display: block;
        background-color: white;
    }

    .page-footer {
        background-image: linear-gradient(0deg, #f03f52 25%, #f46d57 25%, #f46d57 50%, #f03f52 50%, #f03f52 75%, #f46d57 75%, #f46d57 100%);
        background-size: 36.00px 36.00px;
        width: 100vw;
        height: 22em;
        position: absolute;
        bottom: -8em;
        display: inline-block;
        z-index: -1;
        margin-right: -50%;

        transform: translateX(50%);


    }


}
.farhange-khandan-container{
    padding: 2vh 5vw 5vh 5vw;
    .title-container{
        margin : 2.4em 0 1em 0;

    }
    .farhange-khandan{
        background-color: #fcd8cb;
        border: 4px solid #c82128;
        border-radius: 2.4em;
        padding: 0 1e,;
    }
}


.dotted-border {
    padding: 0.8em 0;
    border-style: dotted;
    border-width: 0.24em;
    border-radius: 0.6em;
    border-color: $color-1;
}
#tangram{
    height: 30em;
    width: 100%;
    display: block;
}


@import "./parsasal/_fonts.scss";
@import "./parsasal/alertbox";