:root {
    --yellow_level1: #fffce0;
    --yellow_level2: #ffdd2b;
    --yellow_level3: #fecc4e;
    --yellow_level4: #fcb94b;

    --red_level1: #f0595b;
    --red_level2: #c8242b;
    --red_level3: #b31c0f;

    --blue_level0: #d4effb;
    --blue_level1: #6bcff6;
    --blue_level2: #77bfd1;
    --blue_level3: #5cb6cd;

    --green_level0: #d2e287;
    --green_level1: #bbd75e;
    --green_level2: #87c765;
    --green_level3: #44b869;
    --green_level4: #3ab54a;

    --orange_level1: #efeadb;
    --orange_level2: #fcb94b;
    --orange_level3: #ff7322;

    --purple: #b09ac9;

    --pink_level0: #fbdfeb;
    --pink: #f287b6;

}
@font-face {
    font-family: 'Zar';
    src: url('../../fonts/Zar.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Zar.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../fonts/Zar.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Zar.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../fonts/Zar.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Zar.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'koodak';
    src: url('../../fonts/KoodakBold.ttf') format('truetype'); /* Legacy iOS */
}
@font-face {
    font-family: 'ZarBold';
    src: url('../../fonts/ZarBold.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/ZarBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../fonts/ZarBold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/ZarBold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../fonts/ZarBold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/ZarBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Faraz';
    src: url('../../fonts/Faraz.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Faraz.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../fonts/Faraz.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Faraz.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../fonts/Faraz.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Faraz.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Yekan';
    src: url('../../fonts/Yekan.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../fonts/Yekan.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/Yekan.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../fonts/Yekan.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/Yekan.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body {
    padding: 0;
    margin: 0;
}
.header {
    width: 100%;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    position: relative;
}
.header2 {
    width: 100%;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.header-box {
    /* margin-top: 130px; */
    font-family: 'koodak','Yekan','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 5.5em;
    background-color: #9be4fa;
    margin-bottom:70px;
    z-index: 1;
    padding:0 40px;
    padding-top: 120px;
    padding-bottom: 20px;
    border-radius: 0 0 45px 45px;
    position: relative;
}
.header-box-text {
    position: absolute;
    color: var(--orange_level3);
    bottom: -68px;
}
.header-box-stroke {
    margin: 0;
    color: var(--orange_level1);
    -webkit-text-stroke: 25px var(--orange_level1);
}
.headr-line {
    position: absolute;
    width: 90%;
    height: 50%;
    border: 5px solid lightgray;
    border-bottom: none;
    border-left: none;
    border-radius: 0 30px 0 0 ;
    top: 160px;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.headr-line2 {
    position: relative;
    margin-top: 150px;
    width: 90%;
    height: 150px;
    border: 5px solid lightgray;
    border-bottom: none;
    border-right: none;
    border-radius: 30px 0 0 0 ;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.headr-line-img {
    width: 13vw;
    transform: translateY(52%);
    margin-right: 10px;  
}
.headr-line-img2 {
    position: absolute;
    right: 100px;
    width: 13vw;
    justify-self: flex-start;
    transform: translateY(52%);
    margin-right: 10px; 
}
.question-one-answer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 80%;
}
.question-one-answer input {
    -moz-appearance: textfield;
    outline: none;
    border: none;
    width: 400px;
    margin-left: 20px;
    height: 30px;
    line-height: 50px;
    font-size: 17px;
    border-bottom: 2px #fb3199 solid;
    text-align: center; 
}
.question-two-answer {
    display: flex;
    width: 85%;
    flex-direction: row-reverse;
}

.headr-line-dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightgray;
    margin-right: -15px;
}
.headr-line-dot2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightgray;
    margin-left: -15px;
}
.question-one {
    direction: rtl;
    display: flex;
    width: 75%;
    font-family: 'koodak','Yekan','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.question-one-text {
    width: 85%;
    margin: 0;
}
.tringle-container {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
}
.tringle {
    transform: rotate(180deg);
    margin-left: 50px;
}
.each-tringle p {
    position: absolute;
    bottom: 50px;
    right: -20px;
}
.tringle-container>p {
    color: #ff7322;
}
.each-tringle {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
}
.each-tringle input {
    width: 50%;
    height: 30px;
    line-height: 50px;
    font-size: 17px;
    align-self: flex-start;
    border: none;
    border-bottom: 2px #ff7322 solid;
    margin-top: 30px;
    -moz-appearance: textfield;
    outline: none;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.question-two {
    direction: rtl;
    display: flex;
    width: 90%;
    font-family: 'koodak','Yekan','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    direction: rtl;
}
.tringle-machine-containre {
    display: flex;
    position: relative;
    align-items: center;
    align-self: center;
}
.tringle-machine-containre p{   
    position: absolute;
    color: #fb3199;
    top: 0;
}
.tringle-machine-leftText {
    left: 0;
}
.tringle-machine-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tringle-machine-input input{
    -moz-appearance: textfield;
    outline: none;
    border: none;
    width: 150px;
    margin-left: 20px;
    height: 30px;
    line-height: 50px;
    font-size: 17px;
    border-bottom: 2px #fb3199 solid;
    margin-top: 70px;
    text-align: center;   
}
.tringle-machine-input input:nth-child(2){
    margin-top: 100px;
}
.tringle-machine-input input:nth-child(3){
    margin-top: 150px;
}
.quetion-three {
    margin-top: 80px;
    direction: rtl;
    display: flex;
    width: 80%;
    font-family: 'koodak','Yekan','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;
    margin-left: auto;
    margin-right: auto;
    border: 5px lightgray solid;
    position: relative;
    border-radius: 30px;
    margin-bottom: 50px;
}
.quetion-three>img {
    position: absolute;
    top: -200px;
    right: -70px;
}
.cloud-machine {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 100px;
    align-self: flex-end;
}
.cloud-machine-row {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 30px;
}
.cloud-machine-item {
    display: flex;
    align-items: center;
}
.cloud-machine-item input {
    -moz-appearance: textfield;
    outline: none;
    border: none;
    width: 150px;
    margin-left: 20px;
    height: 30px;
    line-height: 50px;
    font-size: 17px;
    border-bottom: 2px lightblue solid;
    text-align: center; 
}
.section-two-text{
    align-self: flex-start;
    margin-right: 20%;
}

.flesh-container {
    margin-right: 70px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.flesh-container-col {  
    display: flex;

}
.flesh-container-col table, th, td {
    border: 4px #ff7322 solid;
    border-collapse: collapse;
    width: 100px;
    height: 70px;
}
.question-two-answer table,tr,td {
    border:4px black solid;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
}
.question-two-sec-two {
    display: flex;
    flex-direction: row-reverse;
}
.question-two-sec-two-left {
    display: flex;
    flex-direction: row-reverse;
}
.question-two-sec-two-left table,tr,td {
    border:4px #ff7322 solid;
    border-collapse: collapse;
 }
.question-two-sec-two-left input {
    -moz-appearance: textfield;
    outline: none;
    border: none;
    width: 150px;
    margin-left: 20px;
    height: 30px;
    line-height: 50px;
    font-size: 17px;
    border-bottom: 2px lightblue solid;
    text-align: center; 
}
.question-two-sec-two-left img {
    width: auto;
    height: 150px;
    margin-top: 70px;
}
.question-two-answer table td{
    width: 100px;
    height: 50px;
}
.question-two-answer table td:last-child{
    background-color: #bad967;
}
.question-two-answer table td input {
    -moz-appearance: textfield;
    outline: none;
    border: none;
    width: 98%;
    margin-left: 20px;
    height: 100%;
    line-height: 50px;
    font-size: 20px;
    text-align: center; 
}
.flesh-container-col table input {
    -moz-appearance: textfield;
    outline: none;
    border: none;
    width: 98%;
    margin-left: 20px;
    height: 100%;
    line-height: 50px;
    font-size: 20px;
    text-align: center; 
}
.flesh-container-col img{
    width: auto;
    height: 170px;
    margin: 0 10px;
    margin-top: 30px;
}
footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    background-color: #00b9f2;
}
footer div {
    width: 150px;
    height:80px;
    border-radius:30px;
    color: white;
    margin-right: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    font-family: 'koodak','Courier New', Courier, monospace;
    background-color: #e2dcc2;
}
.confirm-sec {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.confirm-btn{
    font-family: 'koodak','Courier New', Courier, monospace;
    width: 400px;
    font-size: 30px;
    cursor: pointer;
    height: 70px;
    background-color: rgb(113, 189, 113);
    border: none;
    color: white;
    outline: none;
    border-radius: 10px;
    transition: 1s;
}
.confirm-btn:hover {
    width: 700px;
    transition: 1s;
}