@font-face {
  font-family: "Zar";
  src: url("../../fonts/Zar.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Zar.eot?#iefix") format("embedded-opentype"), url("../../fonts/Zar.woff2") format("woff2"), url("../../fonts/Zar.woff") format("woff"), url("../../fonts/Zar.ttf") format("truetype"), url("../../fonts/Zar.svg#svgFontName") format("svg");
  /* Legacy iOS */
}