$light_green_header_color: #e2edc1;
$darker_green: #b8d65f;

$red_titles_color: #ee372f;

$blue_activity_color: #0cb1ef;

$pink: #ed0086;

$orange: #fbc69f;
$light_orange: #fef4d8;

$black: #2E2014;
$white: #FFF;

.header_green_color{
  background-color: $light_green_header_color;
}