.page-header{
  width: 100%;
  display: block;
  float: right;
  background-color: $light_green_header_color;
  height: 3.5rem;

  @include breakpoint(xs) {
    margin: 0 auto;
    float: none;
  }
}
