.activity-text{
    p {
        text-align: center;
        font-family: Koodak;
        // font-size: 2.5vw;
        font-size: 28px;
        color: $white;
        margin-top: 15px;
        // margin-left: 20px;
    }
    background-color: $background_title_color;
    border-radius: 1.5vw;

    padding: 0.25vw 10vw 0.25vw 3vw;
    position: absolute;
    right: 5vw;
    top: 2.5vw;
    z-index: 1;
    margin-right: 2vw;
    // float: right;

    height: 5vw;
    width: 8vw;
}

.activity-image{

    width: 13vw;
    position: absolute;
    right: -2.3vw;
    top: 1vw;
    z-index: 2;
    margin-right: 5vw;
}