.circleContainer {
    border-radius: 50%;
    .circleSlice {
        width: 5000px;
        height: 5000px;
        position: absolute;
        transform-origin: 100% 100%;
        border: 1px solid $black;
        left: 50%;
        top: 50%;
        margin-top: -5002px;
        margin-left: -5002px;
    }
}

#Circle1 {
    @extend .circleContainer;
    float: left; 
    margin-top: 5vw; 
    border: 2px solid $black; 
    animation-fill-mode: forwards;

    width: 14vw;
    height: 14vw;
    border-color: $black;
    position: relative;
    overflow: hidden;
    margin-left: 5vw;
    
}

#Slice1 {
    @extend .circleSlice;
    transform: rotate(90deg); 
    background-color: $circle_slice_red_color; 
}

#Slice2 {
    @extend .circleSlice;
    transform: rotate(180deg); 
    background-color: $circle_slice_blue_color; 
}

#Slice3 {
    @extend .circleSlice;
    transform: rotate(270deg); 
    background-color: $circle_slice_red_color; 
}

#Slice4 {
    @extend .circleSlice;
    transform: rotate(360deg); 
    background-color: $circle_slice_green_color; 
}

#clock-needle:after{
    width: 0;
    height: 0;
    border-bottom: 0.5vw solid transparent;
    border-top: 0.5vw solid transparent;
    border-left: 1.1vw solid $black;
    display: inline-block;
    vertical-align: middle;
    content: "";

}

#clock-needle:before{
    width: 4vw;
    height: 0.3vw;
    background-color: $black;
    display: inline-block;
    vertical-align: middle;
    content: "";
}


#clock-needle {
    position:absolute; 
    margin-left: 16.4vw; 
    margin-top: 9.5vw; 
    transform: rotate(-45deg)
}