$yellow_level1_guessbox: #fffce0;
$yellow_level2_border: #ffdd2b;
$yellow_level3_border: #fecc4e;
$yellow_level4_guessbox: #fcb94b;

$red_level1: #f0595b;
$red_level2: #c8242b;
$red_level3: #db3f32;

$blue_level1: #6bcff6;
$blue_level2: #3853a3;

$green_level1: #bbd75e;
$green_level2: #87c765;
$green_level3: #44b869;
$green_level4: #3ab54a;

$orange_level1: #fee6d3;
$orange_level2: #fcb94b;
$orange_level3: #f89f6d;
$orange_level4: #ffd61e;

$question_number_color: #f8b044;
$table_border_color: #e55726;

$purple: #b09ac9;

$pink: #f287b6;

$white: #fff;
$black: #000;

$dynamic_rnd: 0;
$dynamic_rnd_last: 0;