$yellow_level1_guessbox: #fffce0;
$yellow_level2_border: #ffdd2b;
$yellow_level3_border: #fecc4e;
$yellow_level4_guessbox: #fcb94b;

$red1: #f0595b;
$red2: #c8242b;
$red3: #db3f32;

$blue1: #6bcff6;
$blue2: #3853a3;

$green1: #bbd75e;
$green2: #87c765;
$green3: #44b869;
$green4: #3ab54a;

$orange1: #fee6d3;
$orange2: #fcb94b;
$orange3: #f89f6d;
$orange4: #ffd61e;


$table_border_color: #e55726;

$purple: #b09ac9;

$pink: #f287b6;

// ------------------------------

$white: #fff;
$black: #000;

$question_number_color: #f8b044;

$page_title_bar: #c8242b;
$background_title_color: #fecc4e;

$dynamic_rnd: 0;
$dynamic_rnd_last: 0;

$border_page_color:#ffdd2b;
$background_style_color:#ffdd2b;
$background_style_color2:#fcc441;
$background_style_color3:#ffd61e;

$circle_slice_red_color: #cf3f34;
$circle_slice_green_color: #47a759;
$circle_slice_blue_color: #2095b8;

$table1_background_color: #ffd61e;
$table1_border_color: #e55726;
$table1_colorPicker_red: #cf3f34;
$table1_colorPicker_green: #47a759;
$table1_colorPicker_blue: #2095b8;

$table2_background_color: #f8b044;
$table2_border_color: #4b812a;

$table3_background_color: #f8b044;
$table3_border_color: #4b812a;
$table3_background_title_td_color: #b9ce4d;
$table3_colorPicker_red: #cf3f34;
$table3_colorPicker_blue: #2095b8;

$table4_background_color: #7fbecc;
$table4_border_color: #3e549a;
$table4_background_title_td_color: #e7f5fd;
$table4_colorPicker_red: #cf3f34;
$table4_colorPicker_green: #47a759;
$table4_colorPicker_blue: #2095b8;

