.right-page-num {
    background-color: #f8b044; 
    width: 7vw; 
    height: 5vh; 
    border: 2px double white; 
    border-radius: 35px; 
    position: relative; 
    top: -6.25vh; 
    right: 86vw;
    p {
        color: white; 
        text-align: center; 
        font-family: Zar;
    }
}

// .left-page-num {
    
// }