

.go-top {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    font-size: 30px;
    position: fixed;
    z-index: 1;
    bottom: -40px;
    right: 20px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    background-color: #214252;
    color: #FFFFFF;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.go-top.show {
    bottom: 20px;
}

.go-top:hover {
    background-color: #ce6262;
    color: #FFFFFF;
    opacity: 0.7;
}

.go-top .glyphicon {
    top: 5px;
}

