
#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 25rem;
  height: 15rem;
  background-color: #ffffff;
  border-radius: 2rem;
  transform: translate(-50%, -50%) scale(0);
  box-shadow: 0 2rem 5rem 0 #00000040;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 2rem;

  h1{
      align-self: center;
      color:green;
  }
}


#modal.open-modal {
  animation: open-modal 0.5s forwards;
}
#modal.close-modal {
  animation: close-modal 0.5s forwards;
}

@keyframes open-modal {
  0% {
  transform: translate(-50%, -50%) scale(0);
  }
  50% {
  transform: translate(-50%, -50%) scale(1.2);
  }
  70% {
  transform: translate(-50%, -50%) scale(0.95);
  }
  95% {
  transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
  transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes close-modal {
  100% {
  transform: translate(-50%, -50%) scale(0);
  }
  50% {
  transform: translate(-50%, -50%) scale(1.2);
  }
  30% {
  transform: translate(-50%, -50%) scale(0.95);
  }
  5% {
  transform: translate(-50%, -50%) scale(1.1);
  }
  0% {
  transform: translate(-50%, -50%) scale(1);
  }
}
