$light_blue: #A5CDE0;
$dark_blue: #64B1C7;
$green: #84B954;
$darker_pink: #d17fa7;
$dark_pink: #D17FA6;
$light_pink: #DC9FBC;
$lighter_pink: #fdebf3;
$purple: #784a90;

body {
	direction: rtl;
	margin: 32px 0 32px 0;
}

img {
	width: 100%;
}

#smallCube {
	width: 60px;
}

.title-style{
    background-color: $light_pink;
    border-radius: 3vw;
    text-align: center;
    font-size: 3vw;
    color: black;
    padding: 1vw;
	position: absolute;
	width: 18vw;
    right: 40vw;
	top: 3vw;
	z-index: 1;
}

.behind-title-style {
    height: 1vw;
    background-color: $green;
    color: $green;
    border-style: solid;
	position: absolute;
	width: 20vw;
    right: 39vw;
    left: 34vw;
	top: 6vw;
	z-index: 1;
}

.header-title {
    background-color: $light_pink;
    border-radius: 1.7vw 0 0 1.7vw;
    border-right: 2vw solid $dark_pink;
    text-align: center;
    font-size: 2.25vw;
	color: #000;
	font-weight: bold;
	padding: 8px;
	width: 16vw;
	position: relative;
    right: -3.1vw;
	top: 1vw;
	margin-bottom: 2vw;
    z-index: 1;
}

.practice-title {
    background-color: $dark_pink;
    border-radius: 1.7vw 0 0 1.7vw;
    text-align: center;
    font-size: 2.25vw;
	color: #fff;
	padding: 8px;
	width: 16vw;
	position: relative;
	right: -3vw;
	margin: 4vw 0 2vw 0;
    z-index: 1;
}

#rightArrow {
	cursor: pointer;
	border-right: .3vw solid $purple;
	border-bottom: .3vw solid $purple;
	width: 1.5vw;
    height: 1.5vw;
	transform: rotate(-45deg);
	margin-bottom: -8px;
}

#leftArrow {
	cursor: pointer;
	border-left: .3vw solid $purple;
	border-top: .3vw solid $purple;
	width: 1.5vw;
    height: 1.5vw;
	transform: rotate(-45deg);
	margin-top: 8px;
}

.right-border-template {
	width: 90vw;
    max-width: 90vw;
    border: 0.8vw double $dark_pink;
    margin: 6vw 8.4vw 0 0;
    border-left: none;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: relative;
    background-color: #fff;
}

.left-border-template {
	width: 90vw;
    max-width: 90vw;
    border: 0.8vw double $dark_pink;
    margin: 6vw 0 0 10vw;
    border-right: none;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
    position: relative;
    background-color: #fff;
}

.page-number-on-bottom {
	box-sizing: border-box;
    background-color: $darker_pink;
    border-radius: 2em;
    width: 5.8em;
    color: #fff;
    border: 0.35em double #fff;
    padding: 0 1.1em;
    position: relative;
    display: flex;
	align-items: center;
	justify-content: center;
}

.background-style-right {
	width: 100vw;
	height: 48vw;
	position: absolute;
    background-image: repeating-linear-gradient(0deg, $dark_pink, $dark_pink 1vw, $light_pink 0vw, $light_pink 2.5vw);
    background-position: bottom;
    background-repeat: no-repeat;
	bottom: -20vw;
	left: 0;
    z-index: -1;
}

.background-style-left {
	width: 98.4vw;
	height: 40vw;
	position: absolute;
    background-image: repeating-linear-gradient(0deg, $dark_pink, $dark_pink 1vw, $light_pink 0vw, $light_pink 2.5vw);
    background-position: bottom;
    background-repeat: no-repeat;
	bottom: -20vw;
	right: 0;
    z-index: -1;
}

.answer-box {
	border-top: none;
    border-left: none;
    border-right: none;
    resize: none;
	width: 100%;
	height: 22px;
	padding: 12px 12px 0 12px;
	border-color: $light_blue;
	direction: ltr;
	background-color: transparent;
	
	&:focus {
		outline: none;
	}
}

.small-answer-box {
	border-top: none;
    border-left: none;
    border-right: none;
    resize: none;
	width: 4vw;
	height: 2vw;
	border-color: $light_blue;
	direction: ltr;
	background-color: transparent;
	text-align: center;
	
	&:focus {
		outline: none;
	}
}

ol {
	margin-right: -24px;
}

.page-number-wrapper {
	margin-top: -3vw;
}

#readingCulture {
	right: -4.3vw;
}

.reading-culture {
	li {
		margin-left: 8px;
	}
}

#readingCultureImg {
	position: absolute;
	width: 20vw;
    left: 4vw;
    top: -6vw;
}

#wormImage {
	position: absolute;
    width: 10vw;
    right: 0vw;
    top: -7.5vw;
}

#vectorImagePage_78 {
	width: 40vw;
	margin-top: -1vw;
}

#ladybirdBeetleImg {
    position: absolute;
	width: 16vw;
    left: -2vw;
    top: 8vw;
}

#girlAndMotherImg {
	position: absolute;
    width: 15vw;
    right: -7vw;
    top: 0vw;
    z-index: 1;
}

#patternTitlePage_76 {
	margin-right: 8vw
}

#flowerPotPage_76 {
	width: 24vw;
    margin-top: 3vw;
}

.square-wrapper {
	width: 50vw;
}

.rtl {
	direction: rtl !important;
}

.ltr {
	direction: ltr !important;
}

.square {
	border: 3px solid $dark_blue;
	background-color: $light_blue;
	width: 2vw;
    height: 2vw;
}

p {
	margin: 0;
}

.circle {
	position: relative;
	width: 10px;
	height: 10px;
	-moz-border-radius: 7.5px;
	-webkit-border-radius: 7.5px;
	border-radius: 7.5px;
	background-color: $purple;
	

	&::before {
		content: '';
		display: inline-block;
		width: 10px;
		height: 10px;
		-moz-border-radius: 7.5px;
		-webkit-border-radius: 7.5px;
		border-radius: 7.5px;
		background-color: $purple;
		left: 8px;
		top: 9px;
		position: absolute;
	}

	&::after {
		content: '';
		display: inline-block;
		width: 10px;
		height: 10px;
		-moz-border-radius: 7.5px;
		-webkit-border-radius: 7.5px;
		border-radius: 7.5px;
		left: -8px;
		position: absolute;
		top: 9px;
		background-color: $purple;
	}
}

.reading-culture {
	background-color: $lighter_pink;
	border: 3px solid $dark_pink;
	border-radius: 32px;
}