:root {
    --light-red: #ff564f;
    --light-green: #88dd77;
    --very-light-orange: #fcb94b;
    --light-orange: #fbaf4b;
    --middle-orange: #ee8900;
    --light-brown: #ee7700;
}
@font-face
{
    font-family: 'zar';
    src: url("../../fonts/Zar.woff");
    format("woff");
}
.text
{
    color: black;

    font-family: 'zar';
    font-size: 2vw;
    direction: rtl;
    text-align: justify;
}
#p1background
{
    background: linear-gradient(to right, var(--light-orange) 0%, var(--light-orange) 35%, var(--middle-orange) 35%, var(--middle-orange) 100%);
    height: 134vw;
}
#p2background
{
    background-image: repeating-linear-gradient(0deg, sandybrown, sandybrown 0.7vw, var(--very-light-orange)  0vw, var(--very-light-orange)  1.5vw);
    background-repeat: no-repeat;

    position: absolute;
    top:92.5vw;
    right: 0.1vw;

    width: 120vw;
    height: 61vw;

    z-index: -1;
}
#p3background
{
    background-image: repeating-linear-gradient(0deg, sandybrown, sandybrown 0.7vw, var(--very-light-orange) 0vw, var(--very-light-orange)  1.5vw);
    background-repeat: no-repeat;

    position: absolute;
    top: 90vw;
    left: 0.1vw;

    width: 99.2vw;
    height: 54vw;

    z-index: -1;
}
#p2content
{
    background-color: white;

    border-style: double;
    border-color: sandybrown ;
    border-width: 0.8vw;
    border-left: 0px;
    border-bottom-right-radius: 4vw;
    border-top-right-radius: 4vw;

    position: relative;
    top: 10vw;
    right: 2vw;

    width: 89.4vw;
    height: 121vw;
}
#p3content
{
    background-color: white;

    margin-left: 12vw;

    border-style: double;
    border-color: sandybrown ;
    border-width: 0.7vw;
    border-right: 0px;
    border-bottom-left-radius: 4vw;
    border-top-left-radius: 4vw;

    position: relative;
    top: 10vw;
    right: 5vw;

    width: 90.99vw;
    height: 112vw;
}
#page1header
{
    color: green;
    background-color: white;

    font-size: 4.5vw;
    text-align: center;

    border-style: solid;
    border-color: brown ;
    border-width: 3px;
    border-radius: 2.5vw;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    padding-left: 1vw;
    padding-right: 2.8vw;

    position: absolute;
    top: 9.5vw;
    left: 61.5vw;
}
#page2header
{
    color: white;
    background-color: sandybrown;

    font-size: 3vw;
    text-align: center;

    border-style: solid;
    border-color: sandybrown ;
    border-width: 0.1vw;
    border-radius: 1.8vw;
    border-top-right-radius: 0vw;
    border-bottom-right-radius: 0vw;

    padding-left: 1.4vw;
    padding-right: 1.4vw;

    position: absolute;
    top: 0.6vw;
    left: 65.8vw;
}
#page3header
{
    background-color: var(--very-light-orange) ;

    font-size: 2.7vw;
    text-align: center;

    border-style: solid;
    border-color: var(--very-light-orange) ;
    border-width: 3px;
    border-radius: 3.2vw;

    padding: 0.5vw;
    padding-right: 0.3vw;
    padding-left: 0.3vw;

    position: absolute;
    top: -5vw;
    left: 45vw;

    z-index: 1;
}
#p3b
{
    background-color: purple;

    border-style: solid;
    border-color: purple;

    position: absolute;
    top: -1vw;
    left: 44.1vw;

    width: 18.58vw;
    height: 1.1vw;

    z-index: 0;
}
#p1text
{
    background-color: bisque;

    border-style: solid;
    border-color: bisque;
    border-width: 2px;
    border-radius: 2.5vw;

    padding: 0.5vw;

    position:absolute;
    top: 104vw;
    left: 21vw;
    right: 15vw;
}
#p2text
{
    background-color: white;

    border-style: double;
    border-color: chocolate;
    border-right: white;
    border-width: 0.47vw;
    border-bottom-style: groove;

    padding: 1vw;
    padding-right: 1.3vw;

    position:absolute;
    top: 117.2vw;
    left: 7.8vw;

    height: 6.1vw;
    width: 58vw;
}
#p3text
{
    background-color: white;

    border-style: double;
    border-color: chocolate;
    border-left: white;
    border-width: 0.45vw;
    border-bottom-style: groove;

    padding: 1.2vw;
    padding-right: 4.5vw;
    padding-left: 6vw;

    position:absolute;
    top: 107.9vw;
    left: 20vw;

    height: 5.9vw;
}
.q
{
    color: var(--light-brown);
}
#p2q
{
    position:absolute;
    top: 10.5vw;
    left: 27.5vw;
}
#p2q1
{
    position:absolute;
    top: 13.45vw;
    left: 33vw;
}
#p2q2
{
    position:absolute;
    top: 29vw;
    left: 27.6vw;
}
#p2q3
{
    position:absolute;
    top: 45vw;
    left: 15vw;
}
#p2q4
{
    position:absolute;
    top: 82vw;
    left: 15vw;
}
#p3q1
{
    position:absolute;
    top: 6vw;
    left: 45vw;
}
#p3q2
{
    position:absolute;
    top: 43vw;
    left: 45.8vw;
}
#p3q2_1
{
    position:absolute;
    top: 64vw;
    left: 24vw;
}
#p3q2_2
{
    position:absolute;
    top: 78vw;
    left: 55.4vw;
}
#p2t1
{
    color: purple;

    position:absolute;
    top: 17.5vw;
    left: 31.5vw;
}
#p2t2
{
    color: purple;

    position:absolute;
    top: 35.3vw;
    left: 36.8vw;
}

#p3t1
{
    color: purple;

    position:absolute;
    top: 9.2vw;
    left: 12.7vw;
}
#calculator
{
    position: absolute;
    left: 15vw;
    top: 13vw;

    width: 32vw
}
#topleft
{
    position: absolute;
    left: 15vw;
    top: 37vw;

    height: 35vw;
    width: 36vw
}
#topright
{
    position: absolute;
    left: 52vw;
    top: 37vw;

    height: 35vw;
    width: 37vw
}
#bottomleft
{
    position: absolute;
    left: 15vw;
    top: 73vw;

    height: 27vw;
    width: 39vw
}
#bottomright
{
    position: absolute;
    left: 55vw;
    top: 73vw;

    height: 27vw;
    width: 34vw
}
#boy
{
    position: absolute;
    top: 1vw;
    left: 77.28vw;

    width: 14vw;
}
#clock
{
    position: absolute;
    top: 16.7vw;
    left: 68vw;

    width: 10.5vw;
    height: 11.5vw;
}
#mountain
{
    position: absolute;
    top: 62vw;
    left: 14.5vw;

    width: 68.5vw;
}
#iran
{
    position: absolute;
    top: 98vw;
    left: 28vw;

    width: 24vw;
}
#girl
{
    position: absolute;
    top: 109.3vw;
    left: 68.4vw;

    width: 12.75vw;
    height: 16.8vw;
}
.sum
{
    position: absolute;
    left: 12vw;

    width: 14vw;
}
#sum1
{
    top: 14vw;
}
#sum2
{
    top: 32.5vw;
}
#sum3
{
    top: 49.1vw;
}
#sum4
{
    top: 91vw;
}
#pencil
{
    position: absolute;
    top: 17.5vw;
    left: 1.8vw;

    width: 14vw;
}
#polygonal
{
    position: absolute;
    top: 19vw;
    left: 18vw;

    width: 63vw;
}
#matches
{
    position: absolute;
    top: 48vw;
    left: 13vw;

    width: 69vw;
}
#thought
{
    position: absolute;
    top: 68vw;
    left: 3.5vw;

    width: 44vw;
}
.numb
{
    color: white;
    background-color: var(--very-light-orange);

    font-family: "B Nazanin";
    font-size: 2vw;
    direction: rtl;
    text-align: justify;

    border-style: solid;
    border-color: var(--very-light-orange);
    border-width: 3px;
    border-radius: 11px;

    padding-left: 1vw;
    padding-right: 1vw;

    position: absolute;
    top: 58vw;
}
#n1
{
    left: 12vw;
}
#n2
{
    left: 26vw;
}
#n3
{
    left: 43.4vw;
}
#n4
{
    left: 69.1vw;
}
#man
{
    position: absolute;
    top: 104vw;
    left: 7.3vw;

    width: 13vw;
}
.answer
{
    color: black;

    font-family: 'zar';
    font-size: 2vw;
    direction: rtl;
    text-align: center;

    border-style: solid;
    border-color: black ;
    border-width: 0.2vw;
    border-radius: 1vw;

    position:absolute;
    left: 67vw;

    width: 7.5vw;
    height: 3vw;
}
#p2a1
{
    left: 57vw;
    top: 23.5vw;
}
#p2a2
{
    top: 40vw;
}
#p2a3
{
    top: 56vw;
}
#p2a4
{
    top: 92vw;
}
#p3a1
{
    left: 73vw;
    top: 37vw;
}
#p3a2_1
{
    left: 73vw;
    top: 72vw;
}
#p3a2_2
{
    left: 73vw;
    top: 83vw;
}
.review
{
    background-color: var(--very-light-orange);
    color: black;

    font-family: 'zar';
    font-size: 2vw;
    direction: rtl;
    text-align: center;

    border-style: solid;
    border-color: var(--very-light-orange);
    border-width: 0.2vw;
    border-radius: 1vw;

    position:absolute;
    left: 55vw;

    width: 9vw;
    height: 3.5vw;
}
#p2r1
{
    left: 45vw;
    top: 23.5vw;
}
#p2r2
{
    top: 40vw;
}
#p2r3
{
    top: 56vw;
}
#p2r4
{
    top: 92vw;
}
#p3r1
{
    left: 61vw;
    top: 37vw;
}
#p3r2_1
{
    left: 61vw;
    top: 72vw;
}
#p3r2_2
{
    left: 61vw;
    top: 83vw;
}
.feedback
{
    color: black;
    background-color: white;

    font-family: 'zar';
    font-size: 3vw;
    direction: rtl;
    text-align: justify;

    position: absolute;
    right: 37.1vw;
}
#p2f1
{
    top: 23vw;
    right: 47vw;
}
#p2f2
{
    top: 39.5vw;
}
#p2f3
{
    top: 55.5vw;
}
#p2f4
{
    top: 91.5vw;
}
#p3f1_1
{
    right: 32.5vw;
    top: 33.5vw;
}
#p3f1_2
{
    right: 32.5vw;
    top: 38vw;
}
#p3f2_1_1
{
    right: 32.5vw;
    top: 67.7vw;
}
#p3f2_1_2
{
    right: 32.5vw;
    top: 72vw;
}
#p3f2_2_1
{
    right: 10.5vw;
    top: 89vw;
}
#p3f2_2_2
{
    right: 10.5vw;
    top: 93vw;
}
#p3f2_2_3
{
    right: 10.5vw;
    top: 97vw;
}
.pagination-container {
    direction: rtl;
    font-size: 3.5vw;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    overflow: visible;
    height: 3em;
    position: absolute;
}
#pg1
{
    left: 32vw;
    top: 122.5vw;
}
#pg2
{
    left: 32vw;
    top: 140.5vw;
}
#pg3
{
    left: 32vw;
    top: 131.3vw;
}
.page-number
{
    background-color: var(--light-orange);
    border-radius: 2em;
    width: 5.8em;
    color: white;
    border: 0.35em double white;

    font-family: 'zar';
    padding: 0 1.1em;
    position: relative;
    display: flex;
    box-sizing: border-box;
}
.page-number input
{
    background-color: var(--light-brown);
    border: none;
    width: 100%;
    text-align: center;
    font-size: 32px;
    color: white;
}
.page-number-button {
    width: 3em;
    display: flex;
    color: white;
    justify-content: center;
}
.page-number-button > a {
    color: white;
    font-size: 2.5em;
    display: flex;
}