#leftgreen{
    border-top:double #46A764 10px;
    border-left:double #46A764 10px;
    border-radius:25px 0 0 0;
}
#colorLightGreen{
    background: #B6D067;
}

#colorGreen{
    background: #46A764;
}

#sideGreen{
    background-image: repeating-linear-gradient(#B6D067 0px ,#B6D067 4px ,#46A764 4px,#46A764 8px);
  }

#downbarGreen {
    overflow : scroll;
    background-image: repeating-linear-gradient(#B6D067 0px ,#B6D067 4px ,#46A764 4px,#46A764 8px);
    padding: 10% 0% 3% 0%;
    align-items :baseline;
  }

  .gre{  
    border:solid #46A764;
    width: 75px;
  }

  #p13q1_2{
    border:solid #46A764;
    width: 200px;  
  }

  #find{
    border: solid 2px #46A764;
    background: #B6D067;
    padding: 10px 20px ;
    text-align: justify;
    text-justify: inter-word;
  }

  #pageCounterGreen{background: #ffffff;
  border-radius: 25px;
  color:#46A764 ;  
  width: 10%;
  text-align: center;
  border: 4px double #46A764;
  padding-top: 1%;
  padding-bottom: 1%;}

#textGreen{
    border-color: #46A764;
}