*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'zar';
    src: url("../../fonts/Zar.eot");
    src: url("../../fonts/Zar.ttf") format("ttf");
  }

@font-face{
    font-family: 'samin';
    src: url("../../fonts/Samim-Bold.eot");
}  

  p ,span{
      font-family: 'zar' !important;
  }

  .number{
      font-family: 'samin';
      color: #5cb6cd;
  }

/* ------------------------------------------------------------------------ */
/* -----------------------        page 28       --------------------------- */
/*------------------------------------------------------------------------- */

body .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    padding-right: 10vh ;
    width: 80%;
    height: 80%;
    margin-right: 20%;
    margin-bottom: 20%;
    border : 1.5vh  double #5cb6cd;
    border-left: none;
    border-radius: 0px 30px 30px 0px;
    background-color: #ffffff;
}

.review {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5cb6cd;
    width: 16vw;
    height: 5vw;
    border-radius: 2.5vw;
    position: relative;
    top: -5vh;
}
.review-text {
    color: black;
    text-align: center;
    font-family: Koodak;
    font-weight: bold;
    font-size: 2.5vw;
}


body .content .activity1{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 70vw;
    margin-left: 20vh;
    margin-right: 0vh;
    margin-bottom: 20vh;
    margin-top: 0vh;
}


body .content .activity1 .activityTitle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    right: -3%;
}
body .content .activity1 .activityTitle p {
    background-color: #5cb6cd;
    color: #ffffff;
    width: 7vw;
    height: 5vh;
    font-size: 3vh;
    text-align: center;
    margin-top: 2px;
    padding: 5px 12px;
    border-radius: 15px 0px 0px 15px;
}

body .content .activity1 .activityTitle img{
    width: 8vw;
    height: 20vh;
    border:none;
}

body .content .activity1 .picture  img{
    border-radius: 10px;
    border: 2PX solid #78c2d1;
    width: 20vw;
}
@media screen and (max-width: 800px) {

    body .content .activity1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   

    body .content .activity{
        margin-bottom: 25vw;
    }   

    body .content .activity1 .picture  img{
        width: 50vw;
    }

    body .content .activity1 .activityTitle img{
        width: 15vw;
        margin-bottom: 2vh;
    }

    body .content .activity1 .activityTitle p {  
        width: 10vw;
    }

  }

body .content .activity1 .activity  {
    width: 50vw;
    height: 40vh;
    font-size: 3.5vh;
}

body .content .activity1 .activity  span{
    color: #39c1f0;
}

body .content .activity1 .activity input,
body .content .activity2  input,
body .content .countAndSay input{
    width: 10vw;
    height: 3vh;
    border: none;
    border-bottom: 1px solid #39c1f0;
    margin: 2vh;
    padding: 2vh ;
    text-align: center;
    z-index: 1;
}

body .content .activity2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

body .content .activity2 p{
    width: 100%;
    height: 100%;
    font-size: 3.5vh;
}

body .content .activity2 span{
    color: #39c1f0;
}

body .content .activity2 img{
    margin-top: 5vh;
    width: 100%;
}

body .content .countAndSay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    background-color: #e1f4fc;
    width: 70VW;
    padding: 4VW;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid #39c1f0;
    border-radius: 15px;
}

body .content .countAndSay .title .first{
    background-color: #78c2d1;
    width: 20%;
    height: 7vh;
    color: #ffffff;
    padding: 5px;
    padding-left: -5px;
}

body .content .countAndSay .title .second{
    text-align: center;
    font-size: 3vh;
}

 body .content .countAndSay .cube {
     display: flex;
    
     justify-content:center;
}
@media screen and (max-width: 800px) {
    body .content .countAndSay .cube  {
        flex-wrap: wrap;
    }
  }
body .content .countAndSay .cube img {
    width: 15vh;
    height: 15vh;
}

body .content .countAndSay .cube .pencel{
    height: 25vh;
}

body .content .pageNumber {
    background-color: #0c9dc3;
    border-radius: 2.5vw;
    border: 0.9vw double white;
    text-align: center;
    font-size: 2vw;
    font-family: Koodak;
    color: white;
    padding: 0 3vw;
    position: relative;
    top: 30%;
    left: 55%;
  
}

/* ------------------------------------------------------------------------ */
/* -----------------------        page 29       --------------------------- */
/*------------------------------------------------------------------------- */
.content29 p{
    font-size: 3ex;
}

body .content29{
    padding: 5vh;
    padding-right: 0%;
    border : 1.5vh  double #5cb6cd;
    margin: 5% 0 20% 20%;
    padding: 0% 5% 10% 10%;
    border-right: none; 
    border-radius: 30px 0px 0px 30px;
    background-color: #ffffff;
}

body .content29 .question1{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 820px) {
    body .content29 .question1{
        align-items:center ;
    }
}

body .content29 .question1 .questiontitle{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 5%;
}

body .content29 .question1 .questiontitle .text {
    width: 50vw;
}

body .content29 .question1 .questiontitle .logo img{
    width: 20vw;
    height: 25vh;
}

body .content29 .question1 .questiontitle .cubeShape img{
    width: 30vw;
    height: 35vh;
}

@media screen and (max-width: 820px) {

    body .content29 .question1 .questiontitle{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    body .content29 .question1 .questiontitle .cubeShape img{
        margin-top: 3vh;
        width: 50vw;
        height: 30vh;
    }

}


body .content29 .question1 .answer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 6vh;
}


body .content29 .question1 .answer  p{
    text-align: right;
    padding: 2vh;
}


body .content29 .question1 .answerTitle p{
    margin-top: 2vh;
    margin-bottom: -2vh; 
    text-align: right;
}
body .content29 .question1 .answerTitle .redText{
    color: #f165bd;
}
body .content29 .question1 .answer input{
    border: none;
    border-bottom:1px solid #39c1f0;
    width: 5vw;
}

body .content29 .question2{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin-top: 6vh;
}

@media screen and (max-width: 820px) {
    body .content29 .question2{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

body .content29 .question2 img{
    width: 20vw;
}

@media screen and (max-width: 820px) {
    body .content29 .question2 img{
        margin-top: 3vh ;   
    }
}

body .content29 .last{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

body .content29 .last p{
    margin-bottom: 5vh;
    text-align: right;
}

@media screen and (max-width: 820px) {
    body .content29 .last {
        justify-content: center;
        align-items: center;
    }

    body .content29 .last p{
        text-align: center;
    }
}


body .content29 .last .shapes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 820px) {
    body .content29 .last .shapes{
        flex-direction: column;
    }
}

body .content29 .last .shapes .cubeAndCoin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline ;
}


@media screen and (max-width: 820px) {
    body .content29 .last .shapes .cubeAndCoin{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 3vh;
    }

    body .content29 .last .shapes .cubeAndCoin img{
        width: 20vh;
    }
}

body .content29 .pageNumber {
    background-color: #0c9dc3;
    border-radius: 2.5vw;
    border: 0.9vw double white;
    text-align: center;
    font-size: 2vw;
    font-family: Koodak;
    color: white;
    padding: 0 3vw;
    position: absolute;
    margin-top: 8.2%;
    margin-left: -14%;
}


/* ------------------------------------------------------------------------ */
/* -----------------------        page 30       --------------------------- */
/*------------------------------------------------------------------------- */