:root{
    --color-very-light-blue : rgb(231, 245, 253);
    --color-light-blue : rgb(128,190,204);
    --color-light-gray: rgb(233,232,232);
    --color-light-orange : rgb(252,196,67);
    --color-orange : rgb(247,176,69);
    --color-dark-orange : rgb(238,134,32);
    --color-light-red : rgb(231,96,96);
    --color-purple :rgb(175,55,117);
}

.left-page{
    width: 90vm;
    max-width: 100%;
    border: 0.8vw double rgb(128,190,204);;
    margin: 6vw 0 0 10vw;
    border-right: none;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
    position: relative;
    background-color: white;
}

.background-style{
    width: 100vw;
    height: 54.3vw;
    background-image: repeating-linear-gradient(0deg, #79c2d2, #79c2d2 1vw, #e1f4fd 0vw, #e1f4fd 2.5vw);
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -12vw;
    z-index: -1;
}

.title-content{

    background-color: #79c2d2;
    border-radius: 2vw;

    text-align: center;
    font-family: Koodak;
    font-size: 3vw;
    color: black;

    padding: 0 2vw;
    position: absolute;
    right: 35vw;
    left: 35vw;
    top: -3.3vw;
}

.title-background-rectangle{
    height: 1vw;

    background-color: rgb(175,55,117);
    color: rgb(175,55,117);
    border-style: solid;

    position: absolute;
    right: 34vw;
    left: 34vw;
    top: -1.2vw;
}

.activity-text{
    background: #79c2d2;
    border: 2px solid #79c2d2;
    border-radius: 2.5vw;
    text-align: center;
    color: white;
    font-family: Koodak;
    font-size: 2.25vw;
    padding: 0 5vw 0 3vw;
    position: absolute;
    right: 8vw;
    top: 2.5vw;
    z-index: 1;
}

.activity-img{
    width: 13vw;
    position: absolute;
    right: -2.3vw;
    top: 0.5vw;
    z-index: 2;
}