:root {
    --color-very-light-blue: rgb(231, 245, 253);
    --color-light-blue: rgb(128, 190, 204);
    --color-light-gray: #e9e8e8;
    --color-gray: #cfcfcf;
    --color-light-orange: rgb(252, 196, 67);
    --color-orange: rgb(247, 176, 69);
    --color-dark-orange: rgb(238, 134, 32);
    --color-light-red: rgb(231, 96, 96);
    --color-purple: rgb(175, 55, 117);
}
@font-face {
    font-family: 'zar';
    src: url("../../fonts/Zar.woff") format("woff");
}

.page31-select{
    width: 6vw;
    height: 3vw;
    background: rgb(128, 190, 204);
    border-radius: 0.5vw;
    font-family: 'zar';
    font-size: 1vw;
}
.check-button{
    width: 5vw;
    height: 3vw;
    background: rgb(128, 190, 204);
    border-radius: 0.5vw;
    border-color: white;
    box-shadow: none;
    font-family: 'zar';
    font-size: 1vw;
    margin-left: 45vw;
    margin-top: 2vw;
}
#question-2 {
    direction: rtl;
}

#question-2-text {
    display: inline-block;
    margin-bottom: 0;
}

#question-3 {
    direction: rtl;
}

#question3-input-number {
    display: inline-block;
    width: 15vw;
}

#question-3-input-text {
    display: inline-block;
    width: 15vw;
}

.question-1-inputs {
    display: inline-block;
    width: 20vw;
    margin-left: 3vw;
    vertical-align: top;
}

.right-page {

    width: 90vw;
    max-width: 100%;
    border: 0.8vw double #79c2d2;
    margin: 6vw 10vw 0 0;
    border-left: none;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: relative;
    background-color: white;
}

.left-page {
    width: 90vm;
    max-width: 100%;
    border: 0.8vw double rgb(128, 190, 204);;
    margin: 6vw 0 0 10vw;
    border-right: none;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
    position: relative;
    background-color: white;
}

.background-style {
    width: 100vw;
    height: 54.3vw;
    background-image: repeating-linear-gradient(0deg, #79c2d2, #79c2d2 1vw, #e1f4fd 0vw, #e1f4fd 2.5vw);
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -12vw;
    z-index: -1;
}

.title-content {

    background-color: #79c2d2;
    border-radius: 2vw;

    text-align: center;
    font-family: Koodak;
    font-size: 3vw;
    color: black;

    padding: 0 2vw;
    position: absolute;
    right: 35vw;
    left: 35vw;
    top: -3.3vw;
}

.page-number {
    background-color: #0c9ec3;
    border-radius: 2.5vw;
    border: 0.9vw double white;
    text-align: center;
    font-size: 2vw;
    font-family: Koodak;
    color: white;
    padding: 0 3vw;
    position: absolute;
    bottom: -0.5vw;
    right: -5vw;
}

.left-page-number {
    left: -5vw;
    right: auto;
    bottom: -1vw;
}

.title-background-rectangle {
    height: 1vw;

    background-color: rgb(175, 55, 117);
    color: rgb(175, 55, 117);
    border-style: solid;

    position: absolute;
    right: 34vw;
    left: 34vw;
    top: -1.2vw;
}

.activity-text {
    background: #79c2d2;
    border: 2px solid #79c2d2;
    border-radius: 2.5vw;
    text-align: center;
    color: white;
    font-family: Koodak;
    font-size: 2.25vw;
    padding: 0 5vw 0 3vw;
    position: absolute;
    right: 8vw;
    top: 2.5vw;
    z-index: 1;
}

.activity-img {
    width: 13vw;
    position: absolute;
    right: -2.3vw;
    top: 0.5vw;
    z-index: 2;
}

.homework-img {
    width: 13vw;
    position: absolute;
    right: 4vw;
    top: 2vw;
    z-index: 2;
}

.ruler-img {
    width: 25vw;
}

.text-config {
    font-family: 'zar';
    font-size: 2vw;
    direction: rtl;
    white-space: pre-wrap;
}

.questions-text-config {
    padding-right: 5vw;
    padding-left: 3vw;
    padding-bottom: 2vw;
    margin-top: 2vw;
}

.container {
    max-width: 100vw;
    margin: 5vw auto;
}

.new-line {
    display: block;
    margin: 5px 0;
}

.hezar-taii {
    vertical-align: top;
}

.sad-taii {
    vertical-align: top;
}

.dah-taii {
    vertical-align: top;
}

.yeki {
    vertical-align: top;
}

.circle {
    height: 3.5vw;
    width: 3.5vw;
    background-color: rgb(233, 232, 232);
    border: 0.1vw solid #cfcfcf;
    border-radius: 50%;
    display: inline-block;
    color: transparent;

}

.first-circle {
    margin-left: 1.5vw;
}

.last-circle {
    color: black;
    font-size: 1vw;
    text-align: center;
}

.question-number {
    color: #79c2d2;
}

.overlay-circle {
    margin-left: -3vw;

}

.question-1-table-cells {
    border: 0.15vw solid black;
    width: 5vw;
    margin: 0vw;
    padding: 1vw;
}

.question-1-table {
    border-collapse: collapse;
    width: 20vw;
    /*margin: 0;*/
    /*padding: 0;*/
}

.input-config-question-1 {
    text-align: center;
    width: 10vw;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 0.15vw solid rgb(128, 190, 204);
    font-size: 1vw;
}

.table-input-config-question-1 {
    text-align: center;
    width: 5vw;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 0.15vw solid rgb(128, 190, 204);
}

.table-text-config {
    font-family: 'zar';
    font-size: 1.5vw;
    direction: rtl;
    text-align: center;
    padding: 0;
    margin: 0;
}

.no-padding-margin {
    margin: 0;
    padding: 0;
}
.inline{
    display: inline-block;
}
.no-right-padd{
    padding-right: 0;
}

#question3-input-number::before {
    content: 'يه عدد';
}

#question3-input-text::before {
    content: 'يه حروف';
}

.andazegiri-kon {
    width: 82vw;
    position: relative;
    left: 1vw;
    background-color: #e1f4fd;
    border: 0.15vw solid #79c2d2;
    border-radius: 2vw;
    margin-bottom: 2vw;
}

.andazegiri-kon-text {
    background: #79c2d2;
    border: 2px solid #79c2d2;
    border-radius: 2.5vw;
    text-align: center;
    color: white;
    font-family: Koodak;
    font-size: 2.25vw;
    padding: 0 5vw 0 3vw;
    position: absolute;
    left: -1vw;
    top: 0.5vw;
    z-index: 1;
}

.line {
    background: rgb(175, 55, 117);
    height: 0.2vw;
    margin-left: 5vw;
}

#andazegiri-line1 {
    width: 15vw;
    margin-right: 5vw;
    transform: rotate(15deg);
}

#andazegiri-line2 {
    width: 12vw;
    margin-right: 5vw;
    margin-left: 5vw;

}

#andazegiri-line3{
    width: 15vw;
    margin-right: 5vw;

}

#andazegiri-line4{
    width: 20vw;
    margin-right: 5vw;
    margin-left: 5vw;
    transform: rotate(-12deg);

}

#line1-width {

}
#line2-width {

}
#line3-width {

}
#line4-width {

}
.page31-andazegiri-inp{
    margin-right: 5vw;
    direction: rtl;
    margin-bottom: 5vw;
}

.input-config-andazegiri {
    width: 10vw;
    margin: 0vw;
    padding: 0;
    border: none;
    background: transparent;
    border-bottom: 0.15vw solid #79c2d2;
}

.andazegiri-background-rectangle {
    height: 3.5vw;

    background-color: #139ebd;
    color: #139ebd;
    border-style: solid;

    position: absolute;
    right: 80vw;
    left: -1.5vw;
    top: 0.5vw;
}

.page32-question1 {

    padding-bottom: 0vw;
    margin: 0vw;
    padding-right: 15vw;

}

.page32-question3 {
    max-width: 80vw;
    position: relative;
    left: 5vw;
    border: 0.8vw double rgb(128, 190, 204);
    border-radius: 5vw;
    background-color: white;
    margin-bottom: 2.5vw;
}

.sign {
    color: rgb(231, 96, 96);;
}

.page32-question3-input {
    width: 5vw;
    margin: auto;
    border: none;
    border-bottom: 0.15vw solid rgb(128, 190, 204);
}

#pitcher {
    width: 10vw;
    margin-left: 20vw;
    position: absolute;
    top: 2vw;
}

#cup-of-tea {
    width: 10vw;
    position: absolute;
    left: 5vw;
    top: 10vw;
}

#match {
    width: 10vw;
    position: absolute;
    left: 5vw;
    top: 17vw;
}

#house {
    width: 25vw;
    position: absolute;
    top: 22vw;
    left: 2vw;
}

#box {
    width: 10vw;
    position: absolute;
    top: 37vw;
    left: 25vw;
}

#truck {
    width: 30vw;
    position: absolute;
    top: 38vw;
    right: 18vw;
}

#dah-riali {
    width: 8vw;
    position: absolute;
    bottom: 40vw;
    left: 8vw;
}

#sad-riali {
    width: 9vw;
    position: absolute;
    bottom: 40vw;
    left: 16vw;
}

#hezar-riali {
    width: 10vw;
    position: absolute;
    bottom: 40vw;
    left: 25vw;
}

#page33-question1 {
    padding-right: 20vw;
    padding-top: 3vw;
}

#page33-question1-tozih {
    width: 50vw;
}

.page33-question2 {
    max-width: 80vw;
    position: relative;
    left: 5vw;
    border: 0.3vw solid rgb(175, 55, 117);
    border-radius: 3vw;
    background-color: white;
    margin-bottom: 2.5vw;
    direction: rtl;
}

.page33-question3-4 {
    max-width: 45vw;
    position: relative;
    left: 22.5vw;
    border: 0.3vw solid #79c2d2;
    border-radius: 3vw;
    background-color: white;
    margin-bottom: 2.5vw;
    direction: rtl;
}
.arrow {
    color: rgb(175, 55, 117);
}
.center-text{
    text-align: center;
}
.page33-question5{
    margin-top: 0vw;
    margin-bottom: 0vw;
    padding-top: 0vw;
    padding-bottom: 0vw;
}
#worm{
    position: absolute;
    top: 8vw;
    width: 10vw;
}
#sheets{
    position: absolute;
    top: 0vw;
    left: 11vw;
    width: 10vw;
}