:root {
    --main_color: #47a758;
    --footer_color1 : #84b954;
    --footer_color2 : #b9ce4d;
    --title_color : #b9ce4d;
    --title-blue : #3e549a;
    --topic-title-color : #84b954;

}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family:myfont ;
}

@font-face {
    src: url("/assets/fonts/Zar.woff") format("woff");
    font-family: "myfont";
}

body{
    background-image: repeating-linear-gradient(0deg,var(--footer_color1), var(--footer_color1) 1vw, var(--footer_color2) 0vw , var(--footer_color2) 2.5vw);
    background-size: 100% 30%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.clearfix{
    clear: both;
}

.main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    float: right;
}

.content-box{
    width: 90%;

    background: white;
    margin: 3vw auto;
    border: 1vw double;
    border-color:var(--main_color);
    border-radius: 2vw;
    position: relative;
}


.page-title{
    width: 18vw;
    height: 5vw;
    margin: 0 auto;
    padding-top: .5vw;
    background-color: var(--title_color);
    border-style: double;
    text-align: center;
    font-family: myfont;
    font-size: 2vw;
    color: black;
    text-align: center;
    top: -2.75vw;
    position: absolute;
    margin-right: 38%;
    border-radius: 2vw;

}


.page-topic{
    margin-top: 1vw;
    width: 100%;
    height: 13vw;
    float: right;
}

.topic-image{
    width: 10%;
    height: 13vw;
    float: right;

}

.topic-title{
    float: right;
    width: 10vw;
    height: 3vw;
    background-color: var(--topic-title-color);
    text-align: center;
    font-family: myfont;
    font-size: 2vw;
    color: white;
    border-radius: 0.75vw 0 0 0.75vw;
    margin-top: 0.5vw;

}
.page-number{
    width: 8vw;
    height: 3vw;
    margin: 0 auto;
    position: absolute;
    background-color: var(--main_color);
    border-style: double;
    text-align: center;
    font-family: myfont;
    font-size: 2vw;
    color: white;
    background-position: center;
    bottom: -1.75vw;
    right:43.5%;
    border-radius: 0.75vw;

}

.previous-page{
    display: block;
    float: right;
    text-decoration: none;
    color: var(--main_color);
    font-size: 12vw;
}

.next-page{
    display: block;
    float: left;
    text-decoration: none;
    color: var(--main_color);
    font-size: 12vw;
}
.test{
    width: 100%;
    height: 1500px;
}







