:root {
    --main_color: #47a758;
    --footer_color1 : #84b954;
    --footer_color2 : #b9ce4d;
    --title_color : #b9ce4d;
    --title-blue : #3e549a;
    --topic-title-color : #84b954;
    --question_number_color:#3b9e3a;
    --grid_q1_color:#7fbecc;
    --grid_orange_color: #f8b044;
    --grid_pink_color: #f19684;
    --grid_light_blue_color:#64b1c7;
    --grid_gold_color:#fcc441;
    --grid_light_purple_color:#d17fa6;
    --grid_red_color:#df2626;
    --grid_green_color:#4ba338;
    --grid_purple_color:#a088ba;
    --grid_light_brown_color:#f19345;
    --creative_color:#e9f1d2;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: Zar;
    src: url("/assets/fonts/Zar.woff") format("woff");
}

body{
    font-family:"B Zar";
    font-size: 2vw;
    text-align: justify-all;
    background-image: repeating-linear-gradient(0deg,var(--footer_color1), var(--footer_color1) 1vw, var(--footer_color2) 0vw , var(--footer_color2) 2.5vw);
    background-size: 100% 30%;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow-x:hidden ;
}


.center{
    text-align: center;
}

.clearfix{
    clear: both;
    margin: 2vw 0 ;
}
.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

.text-center{
    text-align: center;
}

.text-red{
    color: red;
}

.main {
    width: 100%;
    margin: 0 auto;
}

.content-box{
    width: 90%;
    background: white;
    margin: 3vw auto;
    padding:0vw 3vw;
    border: 1vw double;
    border-color:var(--main_color);
    border-radius: 2vw;
    position: relative;
}

.creative{
    width: 90%;
    padding: 1vw 2vw 2vw 5vw;
    background-color: var(--creative_color);
    float: right;
    border: 0.2vw solid var(--main_color);
    border-radius: 1vw;
}

.page-title{
    width: 18vw;
    height: 5vw;
    margin: 0 auto;
    padding-top: .5vw;
    background-color: var(--title_color);
    border-style: double;
    text-align: center;
    font-size: 2vw;
    color: black;
    text-align: center;
    top: -2.75vw;
    position: absolute;
    margin-right: 34%;
    border-radius: 2vw;
}

.page-topic{
    margin-top: 1vw;
    width: 100%;
    height: 13vw;
    float: right;
    position: relative;
}

.topic-image{
    width: 10%;
    height: 13vw;
    float: right;
}

.topic-image-practice{
    width: 10%;
    height: 11vw;
    position: absolute;
}

.topic-title{
    float: right;
    width: 10vw;
    height: 3vw;
    background-color: var(--topic-title-color);
    text-align: center;
    font-size: 2vw;
    color: white;
    border-radius: 0.75vw 0 0 0.75vw;
    margin-top: 0.5vw;
}
.topic-title-classwork{
    height: 2.5vw;
    margin-right: -2vw;
    font-size: 1.75vw;
}

.topic-title-practice{
    width: 12vw;
    position: absolute;
    padding: 0 2vw;
    margin-right: 2.5vw;
    text-align:left ;
}
.topic-title-creative{
    width: 10vw;
    text-align: center;
    padding: 0vw 1vw;
    position: absolute;
    background-color: var(--footer_color1);
    border-top-left-radius: 0.75vw;
    border-bottom-left-radius: 0.75vw;
    right: 0;
    float: right;
}

 .question_box{
     width: 80%;
     padding: 0vw 0;
     margin: 5vw auto;
     position: relative;
}


 .question_box p{
     top: 3vw;
     float: right;
     position: absolute;
     right: 5vw;
 }

 .question-number{
     font-family: "B Zar";
     font-size: 2vw;
     color: var(--question_number_color);
}

.grid-container {
     width: 100%;
     display: grid;
     grid-template-columns: 4vw 4vw 4vw 4vw ;
     grid-column-gap: 0.7vw;
     float: right;
     margin: 0 37%;
 }

.container {
    width: 100%;
    float: right;
}
.half-page {
    width: 50%;
    float: right;
    margin: 0 -4vw;
    margin-left: 4vw;
}

.one-third-page{
    width: 33.33%;
    float: right;
    margin: 0 -3vw;
    margin-left: 3vw;
    padding:0;
}

.third-forth-page{
    width: 75%;
    float: left;
}
.one-forth-page{
    width: 25%;
    float: left;
}

.calculator-size{
    width: 15vw;
    height: 20vw;
}

.calman-size{
    width: 12vw;
    height: 14vw;

}

.five_col{
    grid-template-columns: 4vw 4vw 4vw 4vw 4vw ;

}
.small-four-col{
    grid-template-columns: 1.5vw 1.5vw 1.5vw 1.5vw;
}
.small-five-col{
    grid-template-columns: 1.5vw 1.5vw 1.5vw 1.5vw 1.5vw ;
}

.six_col{
    grid-template-columns: 4vw 4vw 4vw 4vw 4vw 4vw ;

}

.small_six_col{
    grid-template-columns: 1.5vw 1.5vw 1.5vw 1.5vw 1.5vw 1vw ;

}

.seven-col{
    grid-template-columns: 1.5vw 1.5vw 1.5vw 1.5vw 1.5vw 1.5vw 1.5vw;
}

.eight-col{
    grid-template-columns: 1.5vw 1.5vw 1.5vw 1.5vw 1.5vw 1.5vw 1.5vw 1.5vw;
}

.grid-item {
    background-color: var(--grid_q1_color);
    padding: 2vw;
    margin:0.1vw;
    float: right;
}

.small-grid-item{
    padding: 1vw;
    margin:0.1vw;
}
.grid-item:hover{
    transform: scale(1.2);
}
.small-grid-item:hover{
    transform: scale(1.2);
}


.grid-item-border-red {
    border: solid 0.3vw;
    border-color: red;
}
.grid-item-border-yellow {
    border: solid 0.3vw;
    border-color: yellow;
}
.grid-item-border-blue {
    border: solid 0.3vw;
    border-color: blue;
}

.grid-item-border-green {
    border: solid 0.3vw;
    border-color: green;
}
.grid-item-border-purple {
    border: solid 0.3vw;
    border-color: purple;
}
.grid-item-border-black {
    border: solid 0.3vw;
    border-color: black;
}

.grid-item-white{
    background-color: white;
}

.grid-item-orange {
    background-color: var(--grid_orange_color);
}

.grid-item-pink{
    background-color: var(--grid_pink_color);
}
.grid-item-gold{
    background-color: var(--grid_gold_color);
}
.grid-item-light-blue{
    background-color: var(--grid_light_blue_color);
}
.grid-item-light-brown{
    background-color: var(--grid_light_brown_color);
}
.grid-item-light-purple{
    background-color: var(--grid_light_purple_color);
}
.grid-item-red{
    background-color: var(--grid_red_color);
}
.grid-item-green{
    background-color: var(--grid_green_color);
}
.grid-item-purple{
    background-color: var(--grid_purple_color);
}

.grid_number{
    text-align: center;
}

.input-row{
     width: 100%;
     margin: 2vw 0;
     text-align: center;
     float: right;
}
.input-small-row{
    margin-right: 1.5vw;
    text-align: center;
}

.input-style{
    width: 7vw;
    border-bottom:var(--main_color) solid 0.2vw;
    margin: 2vw 0;
    text-align: center;
    background-color: transparent;
}


.input-large-style{
    width: 20vw;
    border-bottom:var(--main_color) solid 0.1vw;
    margin: -1vw 1vw;
    text-align: center;
    float: left;
}
.input-small-style{
    width: 4vw;
    height: 2vw;

}
.creative-input-style{
    width: 4vw;
    height: 2vw;
    margin-left: 1vw;
    margin-top: 0;
}
.input-xsmall-style{
    width: 1.3vw;
    height: 2vw;
    font-size: 1.5vw;
}

.submit{
     width:10vw;
     border-radius: 1vw;
     background: var(--main_color);
     text-align: center;
     color: white;
     text-decoration: none;
     margin:0 44% 2vw;
 }

.submit-half-page{
    margin:0 50% 2vw;
}
.submit-third-page{
    margin:0 33.33% 2vw;
}

.bullet{
    color: var(--main_color);
    font-size: 5vw;
}

.guider{
    width: 6vw;
    height: 4vw;
}

.page-number{
    width: 8vw;
    height: 3vw;
    margin: 0 auto;
    position: absolute;
    background-color: var(--main_color);
    border-style: double;
    text-align: center;
    font-size: 2vw;
    color: white;
    background-position: center;
    bottom: -1.5vw;
    right:44%;
    border-radius: 0.75vw;
}

.page-navigator{
    width: 100%;
    margin: 7vw auto;
    padding: 5vw 0vw 0vw;
}

.previous-page{
    display: block;
    float: right;
    position: absolute;

}
.previous-page a{
    text-decoration: none;
    color: var(--main_color);
    font-size: 3vw;
}
.previous-page a:hover{
    text-decoration: none;
    color: olive;
    font-size: 3vw;
}

.next-page{
    display: block;
    float: left;


}
.next-page a{
    text-decoration: none;
    color: var(--main_color);
    font-size: 3vw;
}
.next-page a:hover{
    text-decoration: none;
    color: olive;
    font-size: 3vw;
}











