:root {
    --base_color:#47a758;
    --footer_color: #ff001f;
}
#center_pic_style{
        display: flex ;
        align-items: center ;
        justify-content: center;
}
.input_text{
    border-radius: 1vw;
    border-color: var(--base_color);
    width: 5vw;
    max-width: 5vw;

}

.submit_button {
    text-align: center;
    border-radius: 1vw;
    border-color: var(--base_color);
    background: var(--base_color);
    width: 10vw;
    max-width: 10vw;

}

