:root {
    --yellow_level1_guessbox: #fffce0;
    --yellow_level2_border: #ffdd2b;
    --yellow_level3_border: #fecc4e;
    --yellow_level4_guessbox: #fcb94b;

    --red_level1: #f0595b;
    --red_level2: #c8242b;
    --red_level3: #db3f32;

    --blue_level0: #d4effb;
    --blue_level1: #6bcff6;
    --blue_level2: #3853a3;
    --blue_level3: #5cb6cd;

    --green_level0: #d2e287;
    --green_level1: #bbd75e;
    --green_level2: #87c765;
    --green_level3: #44b869;
    --green_level4: #3ab54a;

    --orange_level1: #fee6d3;
    --orange_level2: #fcb94b;
    --orange_level3: #f89f6d;

    --purple: #b09ac9;

    --pink_level0: #fbdfeb;
    --pink: #f287b6;

    --dynamic_rnd: 0;
    --dynamic_rnd_last: 0;

}

body {
    margin: 0;
}

@font-face {
    font-family: 'zar';
    src: url("../../fonts/Zar.woff") format("woff");
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


#right-frame {

    width: 90vw;
    max-width: 100%;

    border: 0.8vw double var(--yellow_level2_border);

    margin: 6vw 10vw 0 0;
    border-left: none;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: relative;
    background-color: white;
}

.left-frame {
    width: 90vw;
    max-width: 100%;

    border: 0.8vw double var(--yellow_level2_border);

    margin: 6vw 0 0 10vw;
    border-right: none;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
    position: relative;
    background-color: white;
}

.frame-background {

    width: 100vw;
    height: 53vw;

    background-image: repeating-linear-gradient(0deg, var(--yellow_level2_border), var(--yellow_level2_border) 1vw, var(--yellow_level3_border) 0vw, var(--yellow_level3_border) 2.5vw);
    background-position: bottom;
    background-repeat: no-repeat;

    position: absolute;
    bottom: -12vw;
    z-index: -1;
}

.page-number {

    background-color: var(--yellow_level4_guessbox);
    border-radius: 2.5vw;
    border: 0.9vw double white;

    text-align: center;
    font-size: 2vw;
    font-family: Koodak;
    color: white;

    padding: 0 3vw;
    position: absolute;
    bottom: -0.5vw;
    right: -5vw;
}

#header {
    font-family: Koodak;
}

#header-container {

    background-color: var(--yellow_level3_border);
    border-radius: 2vw;

    text-align: center;
    font-family: Koodak;
    font-size: 3vw;
    color: black;

    padding: 0 2vw;
    position: absolute;
    right: 33vw;
    left: 33vw;
    top: -3.3vw;
}


#header-around {
    height: 1.5vw;

    background-color: var(--red_level2);
    color: var(--red_level2);

    position: absolute;
    right: 32vw;
    left: 32vw;
    top: -1.2vw;
}

.activity-label {

    background-color: var(--yellow_level3_border);
    border-radius: 1.5vw;

    text-align: center;
    font-family: Koodak;
    font-size: 2.5vw;
    color: white;

    padding: 0 11vw 0 3vw;
    position: absolute;
    right: 2vw;
    top: 2.5vw;
    z-index: 1;
}

.activity-icon {

    width: 13vw;
    position: absolute;
    right: -2.3vw;
    top: 0.5vw;
    z-index: 2;
}

.text-config {
    font-family: 'zar', serif;
    font-size: 2vw;
    direction: rtl;
}

.questions-text-config {
    padding-right: 5vw;
    padding-left: 3vw;
    padding-bottom: 2vw;
    margin-top: 2vw;
}

.inline-q {
    direction: rtl;
    margin: 2vw;
}



#q1-orange-container {
    background-color: orangered;
}

#q2-orange-container {
    background-color: orangered;
}

.q1-table-container {
    border-radius: 10px;
    width: 75vw;
    max-width: 75%;
    height: 240px;
    margin: auto auto;
    padding: 20px;
}

.q2-table-container {
    border-radius: 10px;
    width: 75vw;
    max-width: 75%;
    height: 100px;
    margin: auto auto;
    padding: 20px; /*l*/
}

.class-table {
    width: 55vw;
    margin: auto auto;
    font-size: 1.5vw;
    direction: rtl;
    font-family: 'zar', serif;
    table-layout: fixed;
    border-collapse: collapse;
}

table td input {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

td {
    position: relative;
    padding: 0.7vw;
    border: 0.25vw solid #000000;
    font-size: 1.5vw;
    font-family: 'zar';
    text-align: center;
}

.simple-table {
    width: 65vw;
    margin: 0 3vw 0 3vw;
    border-collapse: collapse;
    font-size: 1.5vw;
    font-family: 'zar';
}

.green-td {
    padding: 0.7vw;
    border: 0.2vw solid #000000;
    font-size: 1.5vw;
    font-family: 'zar';
    text-align: center;
    background-color: green;
}

.shaking-animation {
    animation: shake 1.5s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.page-no-input {

    width: 25vw;

    position: absolute;
    right: 0;
    left: 0;
    bottom: -7vw;
    margin: auto;
}

#Q1 {
    padding-top: 6vw;
    padding-right: 15vw;
    margin-top: 3vw;
}

.color-picker-container {
    float: left;
    margin-left: -12vw;
}

#Q1_clock_img {
    position: relative;
    bottom: 2vw;
    float: left;
    width: 20vw;
    padding-left: 7vw;
    padding-top: 1vw;
}

#Q2 {
    padding-top: 2vw;
}

.colored-td-yellow {
    background-color: var(--yellow_level3_border);
}

.colored-td-red {
    background-color: var(--red_level1);
}

.colored-td-blue {
    background-color: var(--blue_level1);
}

.colored-td-green {
    background-color: var(--green_level2);
}

.page-number-input {

    background-color: var(--yellow_level4_guessbox);
    border-radius: 2.5vw;
    border: 0.9vw double white;

    text-align: center;
    font-size: 2vw;
    color: white;

    padding: 0.1vw 0.5vw;
    float: left;
}

#next_btn {
    float: left;
    margin-right: 1.5vw;
}

#pre_btn {
    float: left;
    margin-left: 1.5vw;
}

/* page 125 */
