:root {
    --yellow_level1_guessbox: #fffce0;
    --yellow_level2_border: #ffdd2b;
    --yellow_level3_border: #fecc4e;
    --yellow_level4_guessbox: #fcb94b;

    --red_level1: #f0595b;
    --red_level2: #c8242b;
    --red_level3: #db3f32;

    --blue_level0: #d4effb;
    --blue_level1: #6bcff6;
    --blue_level2: #3853a3;
    --blue_level3: #5cb6cd;

    --green_level0: #d2e287;
    --green_level1: #bbd75e;
    --green_level2: #87c765;
    --green_level3: #44b869;
    --green_level4: #3ab54a;

    --orange_level1: #fee6d3;
    --orange_level2: #fcb94b;
    --orange_level3: #f89f6d;

    --purple: #b09ac9;

    --pink_level0: #fbdfeb;
    --pink: #f287b6;

    --dynamic_rnd: 0;
    --dynamic_rnd_last: 0;

}

/*Global*/
body {
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input{
    width: 20vw;
}
table td input {
    /*position: absolute;*/
    display: block;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    padding: 0.2vw;
    box-sizing: border-box;
}

td {
    position: relative;
    border: 0.25vw solid #000000;
    font-size: 1.5vw;
    font-family: Zar, serif;
    text-align: center;
    background-clip: padding-box;
}

/**************Fonts***************/
@font-face {
    font-family: Zar;
    src: url("../../fonts/Zar.woff") format("woff");
}

@font-face {
    font-family: Koodak;
    src: url("../../fonts/KoodakBold.ttf");
}

/******************Classes******************/
.background-style-margin {
    left: -10vw;
}

.background-style {
    width: 100vw;
    height: 53vw;
    background-image: repeating-linear-gradient(0deg, var(--yellow_level2_border), var(--yellow_level2_border) 1vw, var(--yellow_level3_border) 0vw, var(--yellow_level3_border) 2.5vw);
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -12vw;
    z-index: -1;
}

.left-frame {
    width: 90vw;
    max-width: 100%;
    border: 0.8vw double var(--yellow_level2_border);
    margin: 6vw 0 0 10vw;
    border-right: none;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
    position: relative;
    background-color: white;
}

.activity-image {
    width: 13vw;
    position: absolute;
    right: -2.3vw;
    top: 0.5vw;
    z-index: 2;
}

.activity-text {
    background-color: var(--yellow_level3_border);
    border-radius: 1.5vw;
    text-align: center;
    font-family: Koodak, serif;
    font-size: 2.5vw;
    color: white;
    padding: 0 11vw 0 3vw;
    position: absolute;
    right: 2vw;
    top: 2.5vw;
    z-index: 1;
}

.frame-background {

    width: 100vw;
    height: 53vw;

    background-image: repeating-linear-gradient(0deg, var(--yellow_level2_border), var(--yellow_level2_border) 1vw, var(--yellow_level3_border) 0vw, var(--yellow_level3_border) 2.5vw);
    background-position: bottom;
    background-repeat: no-repeat;

    position: absolute;
    bottom: -12vw;
    z-index: -1;
}

.page-number {
    background-color: var(--yellow_level4_guessbox);
    border-radius: 2.5vw;
    border: 0.9vw double white;
    text-align: center;
    font-size: 2vw;
    font-family: Koodak, serif;
    color: white;
    padding: 0 3vw;
    position: absolute;
    bottom: -0.5vw;
    right: -5vw;
}

.text-config {
    font-family: Zar, serif;
    font-size: 2vw;
    direction: rtl;
}

.questions-text-config {
    padding-right: 5vw;
    padding-left: 3vw;
    padding-bottom: 2vw;
    margin-top: 2vw;
}

.inline-q {
    direction: rtl;
    margin: 2vw;
}

.class-table {
    width: 55vw;
    margin: auto auto;
    font-size: 1.5vw;
    direction: rtl;
    font-family: Zar, serif;
    table-layout: fixed;
    border-collapse: collapse;
}

.colored-td-yellow {
    background-color: var(--yellow_level3_border);
}

.colored-td-red {
    background-color: var(--red_level1);
}

.colored-td-blue {
    background-color: var(--blue_level1);
}

.colored-td-green {
    background-color: var(--green_level2);
}

.colored-td-light-green {
    background-color: rgba(224, 255, 218, 0.81);
}

.colored-td-purple {
    background-color: rgba(195, 154, 255, 0.81);
}

.page-number-input {

    background-color: var(--yellow_level4_guessbox);
    border-radius: 2.5vw;
    border: 0.9vw double white;

    text-align: center;
    font-size: 2vw;
    color: white;

    padding: 0.1vw 0.5vw;
    float: left;
}

.simple-table {
    width: 65vw;
    margin: 0 3vw 0 3vw;
    border-collapse: collapse;
    font-size: 1.5vw;
    font-family: Zar, serif;
}

.green-td {
    padding: 0.7vw;
    border: 0.2vw solid #000000;
    font-size: 1.5vw;
    font-family: Zar, serif;
    text-align: center;
    background-color: green;
}

.shaking-animation {
    animation: shake 1.5s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.color-picker-container {
    float: left;
    margin-left: -12vw;
}

.page-no-input {

    width: 25vw;

    position: absolute;
    right: 0;
    left: 0;
    bottom: -7vw;
    margin: auto;
}

.rotate-img {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-10deg);
}

.page-number-left {
    left: -5vw;
    right: auto;
}

.orange_background {
    background-color: orangered;
}

.simple-td {
    font-size: 1.5vw;
    font-family: Zar, serif;
    text-align: center;
    background-color: white;
}

.guess-box-level1 {
    background-color: var(--yellow_level1_guessbox);
    border: 0.4vw solid var(--yellow_level4_guessbox);
    border-radius: 4vw;
    position: relative;
    padding: 1.5vw;
    margin: 18vw 1.5vw 6vw 7vw;
}

.guess-box-text-left {
    background-color: var(--yellow_level3_border);
    border-radius: 0 01.5vw 1.5vw 0;
    border-left: 2vw solid var(--yellow_level4_guessbox);

    text-align: center;
    font-family: Koodak;
    font-size: 2.5vw;
    color: white;

    padding: 0 2vw 0 3vw;
    position: absolute;
    left: -1.5vw;
    top: 3vw;
    z-index: 1;
}

.rounded-image {
    border-radius: 2vw;
}

.guess-box-level2 {
    width: 70vw;
    position: relative;
    padding: 1.5vw;
    margin-top: 2vw;
    margin-right: 30vw;
}

.image-size-for-guess-box {
    width: 45vw;
}


.center-vertical {
    position: absolute;
    top: 50%;
}

.first_question {
    margin-top: 8vw;
    margin-right: 8vw;
}

.guess-box-text-right {
    background-color: var(--yellow_level3_border);
    border-radius: 1.5vw 0 0 1.5vw;
    border-right: 2vw solid var(--yellow_level4_guessbox);

    text-align: center;
    font-family: Koodak;
    font-size: 2.5vw;
    color: white;

    padding: 0 3vw 0 2vw;
    position: absolute;
    right: -2vw;
    top: 1vw;
    z-index: 1;
}

/*********************IDs*******************/
#right_frame {
    width: 90vw;
    max-width: 100%;
    border: 0.8vw double var(--yellow_level2_border);
    margin: 6vw 10vw 0 0;
    border-left: none;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: relative;
    background-color: white;
}

#header {
    font-family: Koodak, serif;
}

#activity_img {
    margin-right: 5vw;
}

#activity_txt {
    margin-right: 3vw;
    float: right;
}

#header_container {
    background-color: var(--yellow_level3_border);
    border-radius: 2vw;
    text-align: center;
    font-family: Koodak, serif;
    font-size: 3vw;
    color: black;
    padding: 0 2vw;
    position: absolute;
    right: 33vw;
    left: 33vw;
    top: -3.3vw;
}

#header-around {
    height: 1.5vw;
    background-color: var(--red_level2);
    color: var(--red_level2);
    position: absolute;
    right: 32vw;
    left: 32vw;
    top: -1.2vw;
}

#q1-orange-container {
    font-weight: bold;
    border-radius: 2vw;
    width: 60vw;
    max-width: 75%;
    height: 20%;
    margin: auto auto;
    padding: 1.5vw;
    background-color: orangered;
}

#q2-orange-container {
    font-weight: bold;
    border-radius: 2vw;
    width: 60vw;
    max-width: 75%;
    height: 20%;
    margin: auto auto;
    padding: 1.5vw;
    background-color: orangered;}

#Q1 {
    padding-top: 6vw;
    padding-right: 15vw;
    margin-top: 3vw;
}

#Q1_119 {
    padding-top: 6vw;
    padding-right: 17vw;
    margin-top: 3vw;
    float: right;
}

#Q1_clock_img {
    position: relative;
    bottom: 2vw;
    float: left;
    width: 20vw;
    padding-left: 7vw;
    padding-top: 1vw;
}

#Q2 {
    padding-top: 2vw;
}

#Q2_120 {
    float: right;
}

#next_btn {
    float: left;
    margin-right: 1.5vw;
}

#pre_btn {
    float: left;
    margin-left: 1.5vw;
}

#Q1_Thermometer {
    position: absolute;
    width: 5vw;
    right: 12vw;
}

#Q1_119_img_sun {
    position: relative;
    width: 10vw;
    top: -3vw;
    left: 5vw;
}

#table_container_119 {
    border-radius: 10px;
    width: 75vw;
    height: 55%;
    max-width: 75%;
    margin: auto auto;
    padding: 20px;
    background-color: #ffbaad;
}

#table_119 {
    position: relative;
    left: -5vw;
}

#guess_box_level1 {
    clear: both;
    left: -6vw;
    margin-top: 2vw;
}

#Q1_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#Q1_118 {
    position: relative;
    right: 25%;
    top: 1.5vw;
}

#Q1_table {
    padding-top: 3vw;
    float: left;
}

#Q1_table_container_120 {
    float: left;
    border-radius: 10px;
    width: 60vw;
    max-width: 75%;
    padding: 2vw;
    margin-left: 10vw;
    background-color: rgba(124, 185, 0, 0.59);
}

#Q1_table_120 {
    float: left;
    width: 35vw;
}

#Q1_table_120 td {
    border: 0.25vw solid #1e8900;
}

#Q1_balls_img {
    position: absolute;
    width: 20vw;
    right: 5vw;
    top: 19vw;
}

#Q2_table_container_120 {
    float: left;
    border-radius: 2vw;
    width: 25vw;
    height: 25%;
    max-width: 75%;
    padding: 1.5vw;
    margin-left: 10vw;
    margin-bottom: 3vw;
    background-color: rgba(160, 45, 255, 0.91);
}

#Q2_table_120 {
    width: 20vw;
    position: relative;
}

#Q2_table_120 td {
    border: 0.3vw solid #8e21cb;
}

#Q2_desc_120 {
    float: right;
}

#Q2_box_120 {
    border: 0.3vw solid limegreen;
    background-color: white;
    border-radius: 3vw;
    width: 100%;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}