:root {
    --light-green : #bbd75e;
    --middle-green : #8bc669;
    --purple : #b01f6f;
}

p.question {
    font-size: 1.5vw;
    text-align: right;
}

p, h2 {
    font-family: Koodak;
}

.main_title {
    background-color: var(--light-green);
    width: 15%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 30px;
    font-size:1.1vw;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.activity {
    display: flex;
    flex-direction: row;
    margin-right: 5vw;
}

.activity > div > img{
    width: 8vw;  
}

.title {
    background-color: var(--middle-green);
    width: 5vw;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size:1.3vw;
    color: white;
    margin-top: 10px;
    margin-right: -5px;
}

.content {
    margin-top: 3vw;
    margin-right: 10vw;
    width: 75%;
}


.clock_col {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    margin-right: 6vw;
}

.clock_col > p {
    text-align: center;
    font-size: 1.5vw;
    color: var(--purple);
}

.clock_row{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.clock_row > div > img {
    width: 19vw;
}
