:root {
    --light-green : #bbd75e;
    --middle-green : #8bc669;
    --dark-green : #4fac77;
    --purple : #b01f6f;
    --super-light-green: #e4f0d4;
}

::placeholder{
    font-family: Koodak;
    font-size: 1vw;
}

p.question {
    font-size: 1.5vw;
    text-align: right;
}

span.question {
    font-size: 1.5vw;
    text-align: right;
}

span.qu_num {
    color: var(--light-green);
}

p, h2, span{
    font-family: Koodak;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.flex_end {
    justify-content: flex-end;
}

.main_title {
    background-color: var(--light-green);
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 30px;
    font-size:1.5vw;
    margin-top: -4vw;
    position: relative;
    z-index: 5;
}

.line_col {
    width: 10px;
    height: 100vw;
    margin-right: 8vw;
}
.line1 {
    border-right: 3px solid var(--dark-green);
}
.line2 {
    border-right: 1px solid var(--dark-green);
    margin-right: -7px;
}

.line_row {
    width: 93%;
    height: 10px;
    margin-top: 5vw;
}
.line3 {
    border-top: 3px solid var(--dark-green);
}
.line4 {
    border-top: 1px solid var(--dark-green);
    margin-top: -7px;
}

.activity {
    margin-right: 5vw;
}
.activity > div > img{
    width: 8vw;  
}

.title {
    background-color: var(--middle-green);
    width: 12vw;
    height: 3.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size:2vw;
    color: white;
    margin-top: 10px;
    margin-right: -2.2vw;
}

.title > p {
    margin-right: 0.7vw;
}

.content {
    margin-top: 3vw;
    margin-right: 2vw;
    width: 70%;
}

.clock_col {
    margin-top: 1vw;
    margin-right: 6vw;
}
.clock_col > p {
    text-align: center;
    font-size: 1.5vw;
    color: var(--purple);
}

.clock_row{
    justify-content: flex-end;
}
.clock_row > div > img {
    width: 19vw;
}

table {
    width: 100%;
}
.td1 {
    width: 75%;
}
.td2 {
    width: 25%;
}

.ans_mid {
    margin-right: 1.5vw;
    margin-left: 1vw;
}

.ok {
    font-size: 1.1vw;
}

.green_box {
    margin-left: 5vw !important;
    width: 95%;
    border-radius: 30px;
    border: 3px solid var(--dark-green);
    background-color: var(--super-light-green);
    margin: auto;
}
.green_box > * {
   width: 30vw; 
   margin: auto;
   margin-top: 2vw;
   margin-bottom: 2vw;

}



/* btn */
.btn_div {
  display: inline-block;
  float: right;
}
.uppercase {
  text-transform: uppercase;
}
.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.btn--primary {
  background: var(--light-green);
  color: #fff;
  border-radius: 2px;
  padding: 0.6vw 1vw;
}
.btn--primary:hover {
  background: var(--middle-green);
}
.btn--primary:active {
  background: var(--middle-green);
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.btn--inside {
  margin-left: -3.5vw;
}
.form__field {
  width: 5vw;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 1vw 1.5vw;
}

