:root {

    --red_level1: #f0595b;
    --red_level2: #c8242b;

    --purple: #b09ac9;

    --purple-dark:#957dac;
    --purple-light:#a48cb6;
    --purple--title :#c2abc7;
    --red--title :#ab3d7b;

}

*{
    margin : 0;
    padding: 0;
}

@font-face {
    font-family: Zar;
    src: url("../../fonts/Zar.woff") format("woff");

}


body{
    background-image: repeating-linear-gradient(0deg,var(--purple-dark), var(--purple-dark) 1vw, var(--purple-light) 0vw , var(--purple-light) 2.5vw);
    background-size: 100% 40%;
    background-position: bottom;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    font-family: ZAR;
}

.border{
    width: 90%;
    background: white;
    border: 0.8vw double var(--purple-dark) ;
    border-radius: 0 4vw 4vw 0 ;
    position: relative;
    margin-right:10vw; 
    margin-top: 12vw;
    margin-bottom: 22vw;
    border-left: none;
} 
.border_rev{
    width: 90%;
    padding: 70% 0;
    background: white;
    border: 0.8vw double var(--purple-dark) ;
    border-radius: 4vw 0 0 4vw;
    position: relative;
    margin-left:9.2vw; 
    margin-top: 12vw;
    margin-bottom: 22vw;
    border-right: none;
    
}

.Rectangle_title{
    height: 1vw;

    background-color: var(--red_level2);
    color: var(--red_level2);
    border-style: solid;

    position: absolute;
    right: 34vw;
    left: 34vw;
    top: -1.2vw;

} 

.title_text{
    background-color: var(--purple--title);
    border-radius: 2vw;

    text-align: center;
    font-family: ZAR,koodak;
    font-size: 3vw; 
    color: black;

    padding: 2vw 2vw;
    position: absolute;
    right: 35vw;
    left: 35vw;
    top: -4.4vw;
    
}

.number_of_page{
    background-color: var(--purple);
    border-radius: 2.5vw;
    border: 0.99vw double white;

    text-align: center;
    font-size: 2vw;
    font-family: ZAR,koodak;
    color: white;
    direction: rtl;
    padding: 0.7vw 1vw;
    float: left; 
}

.activity-text{

    background-color: var(--purple-light);
    border-radius: 1vw;

    padding: 1vw 10vw 1vw 2vw;
    position: absolute;
    right: 2vw;
    top: 2vw;
    z-index: 1;

    text-align: center;
    font-family: ZAR;
    font-size: 2.5vw;
    color: white;  
}

.activity-image{
    width: 12vw; 
    position: absolute;
    right: -0.9vw;
    top: 0.4vw;
    z-index: 2;

}
.rev{
    right: 0vw; 
}

.question{
    line-height: 1.8;
    font-family: ZAR,Faraz;
    font-size: 2vw;
    direction: rtl;
    font-weight: 1px;
}

#q1{
    margin: 10vw 12vw 1vw 5vw ;
}

#q2{
    margin: 1vw 3vw 3vw 2vw;
}


.text{
    /* border : 1px solid red; */
    position: absolute;
    left:3vw;
    right: 15vw;
    top: 10vw;
}

.img_q1{
    width: 65vw;
    padding: 5vw;
    padding-right: 4vw;
    /* border-radius: 2px; */
}

.img_paperClipRuler{
    width: 25vw;
    padding: 5vw;
    padding-right: 50vw;
}
.img_linearGraph{
    width:20vw;
}

.test{
    margin-top: 15vw;
}

.input_style{
    text-align: center;
    font-size:2vw;
    font-family: ZAR,Faraz;

    border : none;
    border-bottom: 1px solid var(--purple);
    border-radius: 0.5vw;
    width: 8vw;
    height: 3vw;

}

#border{
    border: 1px solid var(--purple);
    border-radius: 5vw;
    position: absolute;
    left:5vw;
    right: 5vw;
    bottom: 5vw;
    top : 20vw;
    padding: 5vw;

    font-family: ZAR,koodak,Faraz;
    font-size: 2vw;
    direction: rtl;
}
.container-box{
    display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
    align-content: space-between;
    margin:2vw 9vw 0vw 9vw;
}
.container-image{
    width: 7vw; 
    height: 10vw;
}

.container-input{
    width:7vw;
}
.CircleBlue_red{
    bottom : 70vw;
}
.table_circle{
    margin: 1vw 1vw 0vw 0vw;
}

td{
    padding-right: 1vw;
}
.td_padding_top{
    padding-top: 3vw;
    padding-right: 3vw;
}
.td_answer{
    padding-top: 5.2vw;
}
.td_padding_right{
    padding-right: 17vw;
}
.td_input{
    padding-right: 10vw;
}
.td_input2{
    padding-right: 25vw;
}

#Separator_col{
    padding-right: 2vw;
}
.img_width10{
    width:10vw;
}
.shape{
    width:25vw; 
}

.img_ant{
    width: 20vw;
}

.textarea {
    font-size:2vw;
    font-family: ZAR,Faraz;
    direction: rtl;

    border : none;
    border: 0.5vw solid var(--purple);
    border-radius: 2vw;
    margin: 2vw 8vw 0 2vw;
    margin-left: 10vw;
    resize: none;
    width: 55vw;
    height: 10vw;
    box-sizing: border-box;
    padding: 2vw;
}
.submit{
    font-size: 2vw;
    font-family: ZAR,Faraz;

    background-color: var(--purple--title);
    border-radius: 1vw;
    border: none;
    color: black;
    padding: 1.5vw 2vw;
    text-align: center;
    text-decoration: none;
}
.submit:hover{
    cursor: pointer;
    background-color: var(--purple-dark);
    color: black;
}

.Rectangle{
    border : 0.5px solid var(--purple);
    padding-top: 2vw;
    padding-right : 1.8vw;
    background-color:#fff4f8;
}

.padding_R2{
    padding-right : 7.2vw;
}
.padding_R3{
    padding-right : 2.4vw;
}
.padding_R4{
    padding-right : 4.8vw;
}
.padding_R5{
    padding-right : 3.6vw;
}

.page-no-input{

    width: 25vw;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -7vw;
    margin: auto;
}

#next_btn{float: left;margin-top: 1.4vw; margin-right: 1.5vw;}
#pre_btn{float: left;margin-top: 1.4vw; margin-left: 1.5vw;}

.message {
    font-size: 3vw;
    font-family: ZAR,Faraz;
    direction: rtl;

    background: #f8f1f1;
    width:  20vw;
    height: 8vw;
    position: fixed;
    left: 3vw;
    top: 3vw;
    border: 0.5vw solid var(--purple-light);
    border-radius: 20px;
    z-index: 5;
    box-shadow: 3px 5px #888888;

    transition: all 1s linear;

    opacity: 0;
    display: none;
    
    justify-content: center;
    align-items: center;
}
