:root {
    --yellow_level1_guessbox: #ffe4d4;
    --orange_level2_border: #f89e48;
    --orange_level3_border: #fdb94a;
    --orange_level4_guessbox: #fcb94b;

    --green: #1ECD97;
    --gray: #bbbbbb;

    --red_level1: #f0595b;
    --red_level2: #c8242b;
    --red_level3: #db3f32;

    --pink_level1: #fdebf3;
    --pink_level2: #dc93b0;
    --pink_level3: #b03776;

    --blue_level0: #d4effb;
    --blue_level1: #6bcff6;
    --blue_level2: #3853a3;
    --blue_level3: #5cb6cd;

    --green_level0: #d2e287;
    --green_level1: #bbd75e;
    --green_level2: #87c765;
    --green_level3: #44b869;
    --green_level4: #3ab54a;

    --orange_level1: #f06522;
    --orange_level2: #fcb94b;
    --orange_level3: #f89f6d;

    --purple: #7b3f97;

    --pink_level0: #fbdfeb;
    --pink_level1: #d47fa8;
    --pink: #f287b6;

    --main_color: #47a758;

    --dynamic_rnd: 0;
    --dynamic_rnd_last: 0;


}

* {
    font-family: 'B Zar';
    font-size: 1rem;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'ZarBold';
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    width: 100%;
    margin: 0 auto;
}

.page-title{
    width: 22vw;
    height: 4vw;
    margin: -3vw 30vw;
    padding-top: .5vw;
    background-color: var(--orange_level3_border);
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    color: black;
    text-align: center;
    border-radius: 2vw;
}


.mr {
    margin-right: 8vw;
}

.mr-6 {
    margin-right: 6vw;
}

.border-level-right {
    max-width: 100%;
    border-top: 4px solid var(--pink_level1);
    margin: 6vw 9vw 0 0;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
}

.border-level-left {
    max-width: 100%;
    border-top: 4px solid var(--pink_level1);
    margin-top: 8vw;
    margin-left: 8vw;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
}

.right-border-body {
    max-width: 100%;
    border: 0.5vw double var(--orange_level2_border);
    border-left: none;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: relative;
    background-color: white;
}

.left-border-body {
    max-width: 100%;
    border: 0.5vw double var(--orange_level2_border);
    border-right: none;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
    position: relative;
    background-color: white;
}

.background-style {

    width: 100vw;
    height: 62.8vw;

    background-image: repeating-linear-gradient(0deg, var(--orange_level2_border), var(--orange_level2_border) 1vw, var(--orange_level3_border) 0vw, var(--orange_level3_border) 1.7vw);
    background-position: bottom;
    background-repeat: no-repeat;

    position: absolute;
    bottom: -12vw;
    z-index: -1;
}

.height {
    height: 55vw
}

.page-number {

    background-color: var(--orange_level2_border);
    border-radius: 1.4vw;
    border: 0.3vw double white;

    text-align: center;
    font-size: 2vw;
    font-family: "B Zar";
    color: white;

    padding: 0 3vw;
    position: absolute;
    bottom: -0.5vw;
    right: -5vw;
}

.page-number-107 {
    left: -5vw;
    right: auto
}


.page-navigator {
    direction: rtl;
    width: 100%;
    margin: 7vw auto;
    padding: 5vw 0vw 0vw;
}

.previous-page {
    display: block;
    float: right;
    margin-right: 2vw;
}

.previous-page a {

    text-decoration: none;
    color: var(--main_color);
    font-size: 3vw;
}

.previous-page a:hover {
    text-decoration: none;
    color: olive;
    font-size: 3vw;
}

.next-page {
    display: block;
    float: left;
    margin-left: 2vw;
}

.next-page a {
    text-decoration: none;
    color: var(--main_color);
    font-size: 3vw;
}

.next-page a:hover {
    text-decoration: none;
    color: olive;
    font-size: 3vw;
}

.title-style {

    background-color: var(--orange_level3_border);
    border-radius: 2vw;

    text-align: center;
    font-family: Koodak;
    font-size: 3vw;
    color: black;

    padding: 0 2vw;
    position: absolute;
    right: 35vw;
    left: 35vw;
    top: -3.3vw;
}

.that-ridiculous-red-parts-in-title {
    height: 1.5vw;

    background-color: var(--red_level2);
    color: var(--red_level2);

    position: absolute;
    right: 34vw;
    left: 34vw;
    top: -1.2vw;
}

.activity-text {

    background-color: var(--orange_level3_border);
    border-radius: 1vw;

    text-align: center;
    font-family: B Koodak;
    font-size: 2.2vw;
    color: white;

    padding: 0.3vw 2.5vw 0.3vw 2.1vw;
    position: absolute;
    right: 14vw;
    top: 2vw;
    z-index: 1;
}

.additional-style {
    padding: 0.3vw 10vw 0.3vw 2.1vw;
    right: 4vw;
}

.activity-image {
    width: 13vw;
    position: absolute;
    right: -1vw;
    top: 0.5vw;
    z-index: 2;
}

.margin-activity-img {
    margin: -1vw -1vw 0 0;
}

.m-activity-108 {
    margin: 1vw 2vw 0 0;
}


.disable-style {
    position: static;
    display: flex;
    margin-top: -6vw;
    margin-right: -4vw;
}

#Q1_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.q1-container {
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-around;

}

#Q3_container {
    margin-bottom: 4vw;
}

.text-config {
    align-self: center;
    margin-top: 5vw;
    margin-right: -5.5vw;
}

.m-text-config {
    margin-top: 8vw;
    margin-right: -9vw;
}

.m-text-config-107 {
    margin-top: -2vw;
    margin-right: 0;
}

.m-text-config-108 {
    margin: 1vw 9vw 0 0;
}

.m-q4-text-config {
    margin-right: -1vw;
    margin-top: -5vw;
}

.mr-text-config {
    margin-right: 9vw;
}

.rect-1_preview {
    width: 18vw;
}

.rect2_preview {
    width: 25vw;
}

.pd-tree {
    padding-left: 5vw;
    padding-top: 1vw;
}

.text-config > p {
    font-family: "B Zar";
    font-size: 2vw;
    white-space: pre-wrap;
}

.cube-numbers {
    display: flex;
    justify-content: center;
    margin-top: -5vw;
    margin-right: 8vw;
}

.question-style {
    clear: both;
    font-family: 'B Zar';
    font-size: 2vw;
    margin-right: 4vw;
    margin-top: 3vw;
}

.font-family {
    font-family: "B Zar";
    font-size: 2vw;
}

.rtl-direction {
    direction: rtl;
}

.orange-color {
    color: var(--orange_level1);
}

.question-number {
    font-family: 'B Zar';
    font-size: 2vw;
    color: var(--orange_level1);
}

.cube-numbers img {
    width: 40vw;
    height: 20vw;
}

.draw-cube {
    border: 5px dotted var(--orange_level1);
    display: flex;
    position: relative;
    border-radius: 5px;
    margin: 2vw 9vw 2vw 1vw;
    min-height: 400px;
}

.show-maker {
    display: flex;
}

.show-maker > img {
    align-self: flex-end;
    height: 20vw;
    margin-right: -4vw;
}

/*.hover-guess-box-text-left {
    position: absolute;
    float: left;
    height: 70px;
    width: 20px;
    left: -24px;
    margin-top: -5px;
    background-color: var(--orange_level2_border);
    z-index: 2;
}*/

.guess-box-level1 {
    background-color: var(--yellow_level1_guessbox);
    border: 0.18vw solid var(--orange_level1);
    border-radius: 2vw;
    clear: both;
    position: relative;
    padding: 1.3vw;
    margin: 18vw 2.4vw 6vw 7vw;
    min-height: 30vw;
}

.guess-box-level1 {
    left: -5vw;
}

.left-zero {
    left: 0;
}

.guess-box-level1 {
    margin: 3vw 1.7vw 6vw 6vw;
}

.guess-box-text-right {
    background-color: var(--orange_level3_border);
    border-radius: 1.5vw 0 0 1.5vw;
    border-right: 2vw solid var(--orange_level4_guessbox);

    text-align: center;
    font-family: B Koodak;
    font-size: 2.1vw;
    color: white;

    padding: 0.2vw 1vw 0.2vw 2vw;
    /*padding-left: 2vw;*/
    position: absolute;
    right: -2vw;
    top: 1vw;
    z-index: 1;
}

.guess-box-text-left {
    background-color: var(--orange_level3_border);
    border-radius: 0 01.5vw 1.5vw 0;
    border-left: 2vw solid var(--orange_level4_guessbox);
    text-align: center;
    font-family: B Koodak;
    font-size: 2.1vw;
    color: white;
    padding: 7px 1vw 7px 1vw;
    position: absolute;
    left: -1.5vw;
    top: 1vw;
    z-index: 1;
}

.guess-box-level2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: -3vw;
    /*padding-right: ;*/
}

.guess-box-level2 {
    justify-content: left;
    margin-left: 7vw
}

.rect-3-width {
    width: 18vw;
}

.guess-box-level2 img:first-child {
    margin-left: -7vw;
    padding-right: 5vw;
}

.guess-box-level2 img:nth-child(2) {
    margin-top: -2vw;
    margin-right: -2vw;
}

.equation.stacked {
    display: inline-block;
}

.number {
    display: block;
    margin-left: 0.7em; /* space for the operator */
    text-align: right;
    font-size: 2vw;
}

.operator {
    float: left;
    font-size: 2vw;
    color: #ef3e26;
}

.equation.stacked .equals {
    display: block;
    height: 0;
    margin-bottom: 1vw;
    border-bottom: solid 1px black;
    overflow: hidden;
}

.numbers {
    position: absolute;
    left: 5vw;
    top: 10vw;
}

.top {
    top: 1vw;
}

.left {
    left: 3vw;
}

.left-numbers {
    left: 38vw;
}

.clear-both {
    clear: bottom;
}

.mr-3 {
    margin-right: 3vw;
}


.additional-style-number {
    position: static;
}

.checkVal {
    width: 4.5vw;
    text-align: center;
    font-size: 1.7vw;
    /*box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);*/
    /*border: 0.5px solid var(--main_color);*/
    /*border-radius: 0.5vw;*/
    /*border: 0;*/
    /*border-bottom: var(--blue_level3) solid 0.1vw;*/
}

.row-numbers {
    display: flex;
    justify-content: space-around;
    margin-right: 2vw;
}

.pull-right {
    float: right;
    font-family: "B Zar";
    font-size: 2vw;
    margin-right: 20vw;
}

.pull-left {
    float: left;
    font-family: "B Zar";
    font-size: 2vw;
    margin-left: 2vw;
}

.creative-input-style {
    width: 4vw;
    height: 2vw;
    border: 0;
    /*border: 0.5px solid var(--main_color);*/
    /*border-radius: 0.5vw;*/
    margin-left: 1vw;
    margin-top: 0;
}

.input-style {
    border-bottom: var(--blue_level3) solid 0.1vw;
    margin: -0.6vw 1vw;

    text-align: center;
    background-color: transparent;
}

.clearfix {
    clear: both;
    margin: 2vw 0;
}

.simple-table {
    direction: rtl;
    background-color: var(--pink_level0);
    padding: 1vw 0 0 0;
    /*padding-left: 1vw;*/
    border: 0.2vw solid var(--pink_level2);
    border-radius: 2vw;
    margin: -11vw 0 5px 13vw;
    width: 24vw;
    height: 17vw;
    text-align: -webkit-center;
}

.m-simple-table {
    margin: 6vw 0 0 13vw;
}

.simple-table table {
    border-collapse: collapse;
}

.simple-table td {
    font-size: 1.5vw;
    width: 3vw;

    text-align: center;
    font-family: Koodak;
    padding: 0.6vw 1.4vw 1vw 1.4vw;
}

.simple-table .bottom-border {
    border-bottom: 0.2vw solid var(--pink_level3);
}

.simple-table .right-border {
    border-right: 0.2vw solid var(--pink_level3);
}

.simple-table .top-border {
    border-top: 0.2vw solid var(--pink_level3);
}

.partition-q3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.right-coins {
    margin-right: 6vw;
    margin-top: 3vw;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
