
body > #firstPage{
    background: linear-gradient(
      to left, 
      #C47898 0%, 
      #C47898 70%, 
      #D18CA3 70%, 
      #D18CA3 100%
    );
    height: 100%;
    width: 100%;
    padding: 10% 0 10% 0%;
  }
  .flexrow{
    display: flex;
    justify-content: space-around;
    flex-flow:row wrap;
  }
  .titr{
    padding: 0.5vw 3vw 0vw 1vw;
    background : #ffffff;
    color: #1793AF;
    border-radius: 30px 0px 0px 30px;
    border-style: solid;
    border-color: #A22268;
    max-height: 80px;
    margin-bottom: 10px;
    line-height: 75px;
  }

  #up {
    background : white;
    max-height: 400px;
    padding: 10px;
    border-radius: 25px;
  }
  #down {
    margin: 30px 20px 30px 20px;
    max-height: 720px;
    min-width: 80px;
  }
  
  #txt{
    justify-content: flex-end;
  }
  #firstPageP{
    background : #FBE7EC;
    border-radius: 30px ;
    max-height: 100px;
    max-width: 500px;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px 20px 10px 20px;
    margin: 0% 0% 0% 10%;
}
 
#pages {
    margin-top:10%;
  }
#pages > a{
  color: #1793AF;
  background: white;
  font-size: larger;
  border-style: solid;
  border-color: #A22268;
  padding: 1% 3%;
  border-radius: 30px;

}