 :root {
    --pink_level0: #fbdfeb;
    --rose:  #f9c6a9;
    --lighter_rose: #fbd2c1;
    --border-pink: #f19684;
    --border_white: #f3eee3;
    --description_back: #fde8d4;

    --dynamic_rnd: 0;
    --dynamic_rnd_last: 0;

}
.firstbody{
    /* width: 613px;
    height: 811px; */
  background-image:
    linear-gradient(
      to right, 
      #fbd2c1 32%,
      #f9c6a9 32% 70%
    );
}

.first-title {
    width: 47vw;
    height: 7vw;
    float: right;
    margin-top: 7vw;
    background-color: white;
    border-style: solid;
    border-width: 0.4vw;
    border-color: #f19684;
    text-align: center;
    vertical-align: middle;
    line-height: 7vw;  
    border-top-left-radius: 25px; 
    border-bottom-left-radius: 25px; 
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  #topleftimg{
      position: relative;
    border: 0.2vw solid #f19684;
    border-top-left-radius: 25px; 
      border-bottom-left-radius: 25px; 
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      top: 7vw;
      left: 11vw;
      
  }

  #middleimg{
    position: relative;
    border: 0.7vw solid  #f3eee3;
    background-color: white;
    max-width: 50%;
    height: auto;
    top: 12vw;
    left: 11vw;

  }

  .description{
     position: relative;
    top: 20vw;
    left:19vw; 
    margin-bottom: 30vw;
      background-color: #fde8d4;
      border: 0.2vw solid #f19684;
      border-top-left-radius: 25px; 
      border-bottom-left-radius: 25px; 
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      text-align: center;
    /* vertical-align: middle; */
    line-height: 2vw;
     
  }


.right-border{

    width: 90vw;
    max-width: 100%;

    border: 0.8vw double var(--lighter_rose);

    margin: 6vw 10vw 0 0;
    border-left: none;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: relative;
    background-color: white;
}

.left-border{
    width: 90vw;
    max-width: 100%;

    border: 0.8vw double var(--lighter_rose);

    margin: 6vw 0 0 10vw;
    border-right: none;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
    position: relative;
    background-color: white;
}

.background-style{

    width: 100vw;
    height: 53vw;

    background-image: repeating-linear-gradient(0deg, var(--lighter_rose), var(--lighter_rose) 1vw, var(--rose) 0vw, var(--rose) 2.5vw);
    background-position: bottom;
    background-repeat: no-repeat;

    position: absolute;
    bottom: -12vw;
    z-index: -1;
}

.page-number{

    background-color: var(--rose);
    border-radius: 2.5vw;
    border: 0.9vw double white;

    text-align: center;
    font-size: 2vw;
    font-family: Koodak;
    color: white;

    padding: 0 3vw;
    position: absolute;
    bottom: -0.5vw;
    right: -5vw;
}


.problem-text{

    background-color: var(--rose);
    border-radius: 1.5vw;

    text-align: center;
    font-family: Koodak;
    font-size: 2.5vw;
    color: white;

    padding: 0 11vw 0 3vw;
    position: absolute;
    right: 2vw;
    top: 2.5vw;
    z-index: 1;
}

.problem-image{

    width: 13vw;
    position: absolute;
    right: -2.3vw;
    top: 0.5vw;
    z-index: 2;
}

.text-config{
    font-family: Zar;
    font-size: 2vw;
    direction: rtl;
    white-space: pre-wrap;
}

.questions-text-config{
    padding-right: 5vw;
    padding-left: 3vw;
    padding-bottom: 2vw;
    margin-top: 2vw;
}

.hint{

  color: deeppink;
}








.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.flex_end {
  justify-content: flex-end;
}
form>div>span {
  text-align: right;
}
.form{
  position: relative;
  right: 22vw;
}
.form__field {
  width: 5vw;
  height: 2.5vw;
  
  background: #fff;
  color: #424242;
  font: inherit;
  /* font-size: 2.5vw; */
  border: 0;
  outline: 0;
  padding: 1vw 1.5vw;
}
.normal_shadow {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.yellow_shadow {
  box-shadow: 0 6px 10px 0 rgba(255, 235, 59, 0.8);
}

.red_shadow {
  box-shadow: 0 6px 10px 0 rgba(244, 67, 54, 0.8);
}

.green_shadow {
  box-shadow: 0 6px 10px 0 rgba(205, 220, 57, 0.8);
}

.btn_div {
  display: inline-block;
  float: right;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  cursor: pointer;
  width: 5vw;
  height: 3vw;
 
}

.btn--primary {
  background: lightgreen;
  color: #fff;
  border-radius: 0.5vw;
  padding: 0.6vw 1vw;
}

.btn--primary:hover {
  background: greenyellow;
}

.btn--primary:active {
  background: greenyellow;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.btn--inside {
  margin-left: -3.5vw;
}




  
  .hovered {
    background: #f4f4f4;
    border-style: dashed;
  }

  .container {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0px;
  }

  .box.eight{

    font-size: 8vw;
    font-family: Koodak;
    color: rgb(230, 173, 222);

  }
  .box.two{
    font-size: 8vw;
    font-family: Koodak;
    color: rgb(52, 206, 193);
  }
  .box.three{
    font-size: 8vw;
    font-family: Koodak;
    color: rgb(206, 52, 147);
  }
  .box.five{
    font-size: 8vw;
    font-family: Koodak;
    color: rgb(75, 52, 206);
  }
  
  .box {

    display: inline-block;
    position: relative;
    height: 14vw;
    width: 10vw;
    margin: 3vw;
    top: 0.5vw;
    left: 0.1vw; 
    text-align: center;
    vertical-align: middle;
    line-height: 13vw;  
    border: solid 3px greenyellow;
    background-color: white;
    cursor: pointer;

    border-top-left-radius: 25px; 
    border-bottom-left-radius: 25px; 
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

  }

  

  .box.over {
    background: #f4f4f4;
    border-style: dashed;
  }

  .hold {
    border: solid 1vw #ccc;
  }



  /* inline styles */
  #Q1{padding-top: 6vw; padding-right: 15vw; margin-top: 3vw;}









