:root {
 

    --pink_level0: #fbdfeb;
    --rose:  #f9c6a9;
    --lighter_rose: #fbd2c1;
    --border-pink: #f19684;
    --border_white: #f3eee3;
    --description_back: #fde8d4;

    --dynamic_rnd: 0;
    --dynamic_rnd_last: 0;

}
.firstbody{
    /* width: 613px;
    height: 811px; */
  background-image:
    linear-gradient(
      to right, 
      #fbd2c1 32%,
      #f9c6a9 32% 70%
    );
}

.first-title {
    width: 47vw;
    height: 7vw;
    float: right;
    margin-top: 7vw;
    background-color: white;
    border-style: solid;
    border-width: 0.4vw;
    border-color: #f19684;
    text-align: center;
    vertical-align: middle;
    line-height: 7vw;  
    border-top-left-radius: 25px; 
    border-bottom-left-radius: 25px; 
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  #topleftimg{
      position: relative;
    border: 0.2vw solid #f19684;
    border-top-left-radius: 25px; 
      border-bottom-left-radius: 25px; 
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      top: 7vw;
      left: 11vw;
      
  }

  #middleimg{
    position: relative;
    border: 0.7vw solid  #f3eee3;
    background-color: white;
    max-width: 50%;
    height: auto;
    top: 12vw;
    left: 11vw;

  }

  .description{
     position: relative;
    top: 20vw;
    left:19vw; 
    margin-bottom: 30vw;
      background-color: #fde8d4;
      border: 0.2vw solid #f19684;
      border-top-left-radius: 25px; 
      border-bottom-left-radius: 25px; 
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      text-align: center;
    /* vertical-align: middle; */
    line-height: 2vw;
     
  }


.right-border{

    width: 90vw;
    max-width: 100%;

    border: 0.8vw double var(--lighter_rose);

    margin: 6vw 10vw 0 0;
    border-left: none;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: relative;
    background-color: white;
}

.left-border{
    width: 90vw;
    max-width: 100%;

    border: 0.8vw double var(--lighter_rose);

    margin: 6vw 0 0 10vw;
    border-right: none;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
    position: relative;
    background-color: white;
}

.background-style{

    width: 100vw;
    height: 53vw;

    background-image: repeating-linear-gradient(0deg, var(--lighter_rose), var(--lighter_rose) 1vw, var(--rose) 0vw, var(--rose) 2.5vw);
    background-position: bottom;
    background-repeat: no-repeat;

    position: absolute;
    bottom: -12vw;
    z-index: -1;
}

.page-number{

    background-color: var(--rose);
    border-radius: 2.5vw;
    border: 0.9vw double white;

    text-align: center;
    font-size: 2vw;
    font-family: Koodak;
    color: white;

    padding: 0 3vw;
    position: absolute;
    bottom: -0.5vw;
    right: -5vw;
}


.problem-text{

    background-color: var(--rose);
    border-radius: 1.5vw;

    text-align: center;
    font-family: Koodak;
    font-size: 2.5vw;
    color: white;

    padding: 0 11vw 0 3vw;
    position: absolute;
    right: 2vw;
    top: 2.5vw;
    z-index: 1;
}

.problem-image{

    width: 13vw;
    position: absolute;
    right: -2.3vw;
    top: 0.5vw;
    z-index: 2;
}

.text-config{
    font-family: Zar;
    font-size: 2vw;
    direction: rtl;
    white-space: pre-wrap;
}

.questions-text-config{
    padding-right: 5vw;
    padding-left: 3vw;
    padding-bottom: 2vw;
    margin-top: 2vw;
}








