 :root {
    --pink_level0: #fbdfeb;
    --rose:  #f9c6a9;
    --lighter_rose: #fbd2c1;
    --border-pink: #f19684;
    --border_white: #f3eee3;
    --description_back: #fde8d4;
    --light-green: #bbd75e;
    --middle-green: #8bc669;
    --blue-dots: #64b1c7;
    --dynamic_rnd: 0;
    --dynamic_rnd_last: 0;

}

/* Font families */
@font-face{
  font-family: Zar;
  src: url("../../fonts/Zar.ttf");
}

@font-face{
  font-family: Koodak;
  src: url("../../fonts/KoodakBold.ttf");
}

body{margin: 0;}

.firstbody{
    /* width: 613px;
    height: 811px; */
  background-image:
    linear-gradient(
      to right, 
      #fbd2c1 32%,
      #f9c6a9 32% 70%
    );
}

.first-title {
  text-align: center;
    font-family: Koodak;
    color: #3b9e3a;
    font-size: 3.7vw;
    /* padding-right: 5vw; */
    padding-left: 3vw;
    /* padding-bottom: 2vw;
    margin-top: 2vw; */
    width: 47vw;
    height: 7vw;
    float: right;
    margin-top: 7vw;
    background-color: white;
    border-style: solid;
    border-width: 0.4vw;
    border-color: #f19684;
    
    text-align: left;
    vertical-align: middle;
    line-height: 7vw; 
    
    border-top-left-radius: 25px; 
    border-bottom-left-radius: 25px; 
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  #topleftimg{
      position: relative;
    border: 0.2vw solid #f19684;
    border-top-left-radius: 25px; 
      border-bottom-left-radius: 25px; 
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      top: 7vw;
      left: 11vw;
      
  }

  #middleimg{
    position: relative;
    border: 0.7vw solid  #f3eee3;
    background-color: white;
    max-width: 50%;
    height: auto;
    top: 12vw;
    left: 11vw;

  }

  .description{
    width: 30vw; 
    height: 7vw;
     position: relative;
    top: 20vw;
    left:19vw; 
    font-family: Zar;
    font-size: 1.5vw;
    direction: rtl;
    margin-bottom: 30vw;
      background-color: #fde8d4;
      border: 0.2vw solid #f19684;
      border-top-left-radius: 25px; 
      border-bottom-left-radius: 25px; 
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      text-align: center;
    line-height: 1.7vw;
     
  }
  .first_footer{
    position: relative;
    bottom: 3vw;
    width: 25vw;
  
    right: 0;
    left: 0;
    bottom: 5vw;
    margin: auto;
  }


.right-border{

    width: 90vw;
    max-width: 100%;

    border: 0.8vw double var(--lighter_rose);

    margin: 6vw 10vw 0 0;
    border-left: none;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: relative;
    background-color: white;
}

.left-border{
    width: 90vw;
    max-width: 100%;

    border: 0.8vw double var(--lighter_rose);

    margin: 6vw 0 0 10vw;
    border-right: none;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
    position: relative;
    background-color: white;
}

.background-style{

    width: 100vw;
    height: 53vw;

    background-image: repeating-linear-gradient(0deg, var(--lighter_rose), var(--lighter_rose) 1vw, var(--rose) 0vw, var(--rose) 2.5vw);
    background-position: bottom;
    background-repeat: no-repeat;

    position: absolute;
    bottom: -12vw;
    z-index: -1;
}

.page-number{

    background-color: var(--rose);
    border-radius: 2.5vw;
    border: 0.9vw double white;

    text-align: center;
    font-size: 2vw;
    font-family: Koodak;
    color: white;

    padding: 0 3vw;
    position: absolute;
    bottom: -0.5vw;
    right: -5vw;
}

.number_ofQ{
  color: var(--rose);
  font: inherit;
  font-weight: bold;
}


.problem-text{

    background-color: var(--rose);
    border-radius: 1.5vw;

    text-align: center;
    font-family: Koodak;
    font-size: 2.5vw;
    color: white;

    padding: 0 11vw 0 3vw;
    position: absolute;
    right: 2vw;
    top: 2.5vw;
    z-index: 1;
}

.problem-image{

    width: 13vw;
    position: absolute;
    right: -2.3vw;
    top: 0.5vw;
    z-index: 2;
}

.text-config{
    font-family: Zar;
    font-size: 2vw;
    direction: rtl;
    white-space: pre-wrap;
}

.questions-text-config{
    padding-right: 5vw;
    padding-left: 3vw;
    padding-bottom: 2vw;
    margin-top: 2vw;
}

.hint{

  color: deeppink;
}

.anscontainer {
  width: 100%;
  height: 20vw;
  position: relative;
  overflow: hidden;
  border: none;
  margin: 1.5vw 0 1.5vw 0;
  
} 
.anscontainer textarea {
  float: right;
  margin-right: 2vw;
  resize: none;
  width: 80%;
  height: 20vw;
  color: #424242;
  line-height: 4ch;
  background-image: linear-gradient( #f3eee3, #f3eee3 calc(4ch - 2px));
  background-size: 100% 4ch;
  border: none;
  font-size: 1vw;
  font-family:persianNum;
}






/* btn */

.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_col {
  display: flex;
  flex-direction: column;
}
.flex_end {
  justify-content: flex-end;
}

.btn_div {
  display: inline-block;
  float: right;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.btn--primary {
  background: var(--light-green);
  color: #fff;
  
  
  text-align: center;
    vertical-align: middle;
      
  border-radius: 2px;
  padding: 0.6vw 1vw;
}

.btn--primary:hover {
  background: var(--middle-green);
}

.btn--primary:active {
  background: var(--middle-green);
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.btn--inside {
  margin-left: -3.5vw;
}
.form{
  position: relative;
  left: 70vw;
}
.first_form{
  position: relative;
  left: 63vw;
}

.form__field {
  width: 5vw;
  background: #fff;
  color: #424242;
  font: inherit;
  font-size: 1.5vw;
  border: 0;
  outline: 0;
  padding: 1vw 2vw;
}

.ok {
  font-size: 1.5vw;
}
form>div>span {
  text-align: right;
}

.normal_shadow {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.yellow_shadow {
  box-shadow: 0 6px 10px 0 rgba(255, 235, 59, 0.8);
}

.red_shadow {
  box-shadow: 0 6px 10px 0 rgba(244, 67, 54, 0.8);
}

.green_shadow {
  box-shadow: 0 6px 10px 0 rgba(130, 220, 57, 0.8);
}


  .hovered {
    background: #f4f4f4;
    border-style: dashed;
  }

  .container {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0px;
  }

  .box.eight{

    font-size: 8vw;
    font-family: Koodak;
    color: rgb(230, 173, 222);

  }
  .box.two{
    font-size: 8vw;
    font-family: Koodak;
    color: rgb(52, 206, 193);
  }
  .box.three{
    font-size: 8vw;
    font-family: Koodak;
    color: rgb(206, 52, 147);
  }
  .box.five{
    font-size: 8vw;
    font-family: Koodak;
    color: rgb(75, 52, 206);
  }
  
  .box {

    display: inline-block;
    position: relative;
    height: 14vw;
    width: 10vw;
    margin: 3vw;
    top: 0.5vw;
    left: 0.1vw; 
    text-align: center;
    vertical-align: middle;
    line-height: 13vw;  
    border: solid 3px greenyellow;
    background-color: white;
    cursor: pointer;

    border-top-left-radius: 25px; 
    border-bottom-left-radius: 25px; 
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

  }

  

  .box.over {
    background: #f4f4f4;
    border-style: dashed;
  }

  .hold {
    border: solid 1vw #ccc;
  }

  .numbers_img{
    margin:3vw;
    width: 42vw;
    position: relative;
    left: 20vw;

  }


  /* page 135 */
  #Q1_fun_far{float: right; margin: 3vw 0 0 25vw; position:absolute; color: var(--blue-dots);}

.page-number-left{left: -5vw; right: auto;}
.background-style-margin{left: -10vw;}

.that-ridiculous-red-parts-in-title{
  height: 1.5vw;

  background-color: var(--blue-dots);
  color: var(--blue-dots);

  position: absolute;
  right: 32vw;
  left: 32vw;
  top: -1.2vw;
}

.title-style{

  background-color: var(--rose);
  border-radius: 2vw;

  text-align: center;
  font-family: Koodak;
  font-size: 2.3vw;
  color: black;

  padding: 0 2vw;
  position: absolute;
  right: 33vw;
  left: 33vw;
  top: -2.8vw;
}

.shapes_img{
  width: 38vw;
  height: 28.5vw; 
  /* float: left; */
  /* padding-right: -2vw; */
margin-right: -6vw;
  /* margin-left: 7vw; */

}
.shapes_input{
  width: 5vw;
  height: 3vw;
  border: solid yellowgreen;
  /* border-style: solid var(--light-green); */
  background: #fff;
  color: #424242;
  font: inherit;
  font-size: 1.5vw;
  border: 0;
  outline: 0;
}

.rec1{
  position: relative;
  right: 10vw;
  top: 6vw;
}
.rec2{
  position: relative;
  right: 15.2vw;
  top: 12vw;
}
.triangle1{
  position: relative;
  right: 32vw;
  top: 22vw;
}
.triangle2{
  position: relative;
  right: 44vw;
  top: 22vw;
}
.circle{
  position: relative;
  right: 29vw;
  top: 10vw;
}
.rec_circle{
  position: relative;
  right: 46vw;
  top: 5vw;
}
.triangle_circle{
  width: 4vw;
  height: 1.5vw;
  position: relative;
  right: 53.5vw;
  top: 18.7vw;
}
.rec_triangle_circle{
  position: relative;
  right: 55vw;
  top: 14vw;
}

.form1_135{
  position: relative;
  right: 15vw;
  bottom: 0vw;
  padding-right: 9vw;
  margin-top: 8vw;
  margin-right: 4vw; }

 .btn_shape{ 
   position: absolute;
  bottom: 5vw;
  width: 9vw;
  height: 5vw;
 }

 .page135-question2 {
  display: inline-block;
  position: relative;
  left: 4.5vw;
  height: 3vw;
  bottom: 2vw;
  background-color: white;
}
.page135-question2-2{
  display: inline-block;
  position: relative;
  left: 20vw;
  height: 3vw;
  background-color: white;
}


.sign {
  color: rgb(231, 96, 96);;
}

.page32-question3-input {
  display: inline-block;
  font: inherit;
  font-size: 1.5vw;
  width: 5vw;
  margin: auto;
  border: none;
  
  border-bottom: 0.15vw solid var(--rose);
}
.p2-p135{
  position: relative;
  left: 12vw;
}
.multiply_img{
  position: relative;
  width: 8vw;
  height: 4vw;
  left: 6vw;
  bottom: 0vw;
}
.multiply_img2{
  position: relative;
  width: 8vw;
  height: 4vw;
  left: 23vw;
  bottom: 0vw;
}
.p135-q2-btn{
  position: relative;
  bottom: 6vw;
  left: 13vw;
}
.p135-q2-2-btn{
  position: relative;
  bottom: 0.5vw;
  left: 37vw;
}
.pen_img{
  width: 16vw;
  height: 16vw;
  position: relative;
  left: 70vw;

}
.footer2_hint{
  position: relative;
  width: 67vw;
  height: 5vw;
  margin-left: 10vw;
  margin-right: 6vw;
  margin-bottom: -2vw;
  background-color: white;
  border-top: 0.4vw double #f19684;
  border-right: 0.4vw double #f19684;
  text-align: ltr;
    vertical-align: middle;
    line-height: 7vw; 

}
.footer2_img{
  width: 15vw;
  height: 15vw;
  position: absolute;
  bottom: -2.2vw;
  left: 6vw;
  z-index: 2;
}

.footer1_hint{
  position: relative;
  height: 5vw;
  margin-right: 13vw;
  margin-left: 6vw;
  margin-bottom: -2vw;
  /* width: 67vw;
  height: 5vw;
  margin-left: 6vw;
  margin-right: 10vw;
  margin-bottom: -2vw; */
  background-color: white;
  border-top: 0.4vw double #f19684;
  border-left: 0.4vw double #f19684;
  text-align: ltr;
    vertical-align: middle;
    line-height: 3.5vw; 

}
.footer1_img{
  width: 11vw;
  height: 12vw;
  position: absolute;
  bottom: -2.2vw;
  left: 72vw;
  z-index: 2;
}



  /* inline styles */
  #Q1{padding-top: 6vw; padding-right: 15vw; margin-top: 3vw;}
  #Q1_135{padding-right: 8vw; padding-top: 5vw;}
  #Q1description_135{padding-top: 0vw; padding-right: 8.8vw; margin-top: 0vw;}
  #shapes_container{float: bottom;}

/* footer */
  .page-no-input{

    width: 25vw;
  
    position: absolute;
    right: 0;
    left: 0;
    bottom: -7vw;
    margin: auto;
  }
  .page-number-input{

    background-color: var(--yellow_level4_guessbox);
    border-radius: 2.5vw;
    border: 0.9vw double white;

    text-align: center;
    font-size: 2vw;
    color: white;

    padding: 0.1vw 0.5vw;
    float: left;
}
  #next_btn{float: left; margin-right: 1.5vw;}
#pre_btn{float: left; margin-left: 1.5vw;}







