* {
    direction: rtl
}

a, a:active, a:focus, a:focus-within, a:hover, a:link, a:visited {
    text-decoration: none
}


.page-header:before {
    content: '';
    position: absolute;
    display: block;
    top: 2rem;
    bottom: 0;
    z-index: -100;
    border-top: solid;
    border-bottom: solid;
    width: 100%;
    border-width: 2px;
    border-color: #f8b044;
}

.page-header-left:before {
    border-left: solid;
    border-width: 2px;
    border-color: #f8b044;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.page-title {
    background-color: #f8b044;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1.25rem;
    border-radius: 500rem;
    margin: 0 auto;
    font-size: 1.25rem;
    text-align: center;
}

.page-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative
}

.page-subtitle-component{
    width: 17%;
    display: block;
    float: right;
}

.page-subtitle-component .page-subtitle-text{
    background-color: #f8b044;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    text-align: left;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    font-size: 1.2rem;
    z-index: 1;
}

.page-subtitle-component .page-subtitle-cover {
    height: 1.5rem;
    width: 7rem;
    position: relative;
    left: 3rem;
    top: 0.5rem;
    z-index: 2;
}

.page-subtitle-component .page-subtitle-cover img{
    width: 100%;
}