* {
    direction: rtl;
}

a, a:active, a:focus, a:focus-within, a:hover, a:link, a:visited {
    text-decoration: none
}


body {
    margin: 0;
    overflow-x: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

:root {
    --orange_level0: #fde8d4;
    --orange_level1: #f8b044;
    --orange_level2: #f19345;
    --orange_level3: #e55726;

    --pink_level1: #fdebf3;
    --pink_level2: #dc93b0;
    --pink_level3: #b03776;

    --green-square: #47a758;

    --text-box-border-color: #a5cde0;
}

.text {
    font-family: Zar;
    font-size: 2vw;
    direction: rtl;
}

.page-left-border {
    width: 73vw;
    max-width: 100%;
    border: 0.8vw double var(--orange_level2);
    padding: 2vw 7vw 5vw;
    margin: 6vw 0 0 10vw;
    border-right: none;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
    position: relative;
    background-color: white;
}

.background {
    width: 100vw;
    height: 43vw;

    background-image: repeating-linear-gradient(var(--orange_level2), var(--orange_level2) 1.5vw, var(--orange_level1) 0vw, var(--orange_level1) 2vw);
    background-position: bottom;
    background-repeat: no-repeat;

    position: absolute;
    bottom: -12vw;
    right: 0;
    z-index: -1;
}

.page-number {
    background-color: var(--orange_level2);
    border-radius: 2.5vw;
    border: 0.5vw double white;

    text-align: center;
    font-family: Zar;
    font-size: 2.5vw;
    color: white;

    padding: 0 3vw;
    width: fit-content;
    width: -moz-fit-content;
    z-index: 1;
}

.page-left-border .page-number {
    position: relative;
    left: -75vw;
    top: 5.5vw;
}

.exercise_item {
    position: absolute;
    right: 3vw;
}

.exercise_item .exercise_title {
    background-color: var(--orange_level1);
    border-radius: 1.5vw;

    text-align: center;
    font-family: Koodak;
    font-size: 2.5vw;
    color: white;

    position: relative;
    right: -10vw;
    z-index: 1;

    padding-right: 8.5vw;
    padding-left: 2vw;

    float: right;
}

.exercise_item .exercise-cover {
    width: 12vw;
    float: right;
    z-index: 2;
    position: relative;
}

/*unclean code*/

.page-right-border {
    width: 90vw;
    max-width: 100%;

    border: 0.8vw double var(--orange_level2);

    margin: 6vw 10vw 0 0;
    border-left: none;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: relative;
    background-color: white;
}


.page-right-border .background-style {
    right: -9vw;
}

.activity_item .activity-cover {
    width: 13vw;
    position: absolute;
    right: -2.3vw;
    top: 0.5vw;
    margin-right: 5vw;
    z-index: 2;
}

.activity_item .activity-title {
    background-color: var(--orange_level1);
    border-radius: 1.5vw;

    text-align: center;
    font-family: Koodak;
    font-size: 2.5vw;
    color: white;

    padding: 0 11vw 0 3vw;
    position: absolute;
    right: 3vw;
    top: 2.5vw;
    z-index: 1;

    margin-right: 3vw;
    float: right;
}

.classwork_item .classwork-cover {
    width: 13vw;
    position: absolute;
    right: -11vw;
    top: 0.5vw;
    margin-right: 5vw;
    z-index: 2;
}

.classwork_item .classwork_title {
    background-color: var(--orange_level1);
    border-radius: 1.5vw;

    text-align: center;
    font-family: Koodak;
    font-size: 2.5vw;
    color: white;

    padding: 0 9vw 0 2vw;
    position: absolute;
    right: -3vw;
    top: 2.5vw;
    z-index: 1;

    float: right;
}

.underline-text {
    text-decoration: underline;
}

.questions-number {
    color: var(--orange_level3);
}

.simple-table {
    background-color: var(--pink_level1);
    padding: 0.5vw;
    border: 0.2vw solid var(--pink_level2);
    border-radius: 3vw;
}

.simple-table table {
    border-collapse: collapse;
}

.simple-table td {
    font-size: 1.5vw;
    text-align: center;
    font-family: Koodak;

    padding: 0.5vw;
}

.simple-table .bottom-border {
    border-bottom: 0.3vw solid var(--pink_level3);
}

.simple-table .right-border {
    border-right: 0.3vw solid var(--pink_level3);
}

.simple-table .top-border {
    border-top: 0.3vw solid var(--pink_level3);
}

.dotted_table table {
    border-collapse: collapse;
    width: 100%;
}

.dotted_table td {
    border: 0.5vw dotted var(--orange_level3);
    width: 50%;
}

.underline-text-box {
    border: none;
    border-bottom: 2px solid var(--text-box-border-color);
    text-align: center;
    font-size: 1.5vw;
    font-family: Koodak;
    background: transparent;
}

.noborder-text-box {
    border: none;
    background-color: #00000000;
    width: 4vw;
    height: 2.5vw;
    text-align: center;
    border-radius: 1vw;
    font-size: 1.5vw;
    text-align: center;
    font-family: Koodak;
}

.small-text-box {
    width: 4vw;
}

.complete_container {
    border: 0.3vw solid var(--orange_level3);
    border-radius: 3vw;
    background-color: var(--orange_level0);


    margin-top: 1.5vw;
    padding-left: 5vw;
    padding-top: 1vw;

}

.complete_title {
    background-color: var(--orange_level1);
    border-top-left-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
    border-right: 2vw solid var(--orange_level2);

    text-align: center;
    font-family: Koodak;
    font-size: 2.5vw;
    color: white;
    float: right;
    z-index: 1;

    padding-right: 1vw;
    padding-left: 1vw;
    margin-top: 1vw;

    position: relative;
    right: -2vw;
}

.complete_content {
    margin-right: 11.5vw;
}

.square_table {
    float: left;
}

.square_table td {
    margin: 1vw;
}

.margin-square_table {
    margin-left: 3vw;
}

.square {
    width: 2vw;
    height: 2vw;
    background-color: var(--green-square);
}


/*** PAGE 109 ***/

#content_109 {
    padding-right: 15vw;
    padding-left: 7vw;
    margin-top: 9vw;
}

#content_109 #Q1_container {
    padding-right: 2vw;
}

#content_109 #Q1_description {
    float: right;
}

#content_109 #Q1_table {
    clear: both;
    float: left;
    margin-top: 1vw;
}

#content_109 #Q1_money_box_image {
    float: left;
    width: 9vw;
    margin-left: 5vw;
}

#content_109 #Q1_table_message {
    float: left;
    margin-top: 7vw;
    margin-left: 10vw;
}

#content_109 #Q1_questions_content {
    clear: both
}

#content_109 #Q1_desc {
    float: right;
}

#content_109 #Q1_blank1_message {
    margin-right: 1.5vw;
}

#content_109 #Q1_blank2_message {
    margin-right: 1.5vw;
}

#content_109 #Q1_blank3_message {
    margin-right: 1.5vw;
}

#content_109 #Q1_blank4_message {
    margin-right: 1.5vw;
}

#content_109 #Q1_thinking_image {
    float: left;
    width: 9vw;
}

#content_109 #Q2_container {
    clear: both;
}

#content_109 #Q2_table {
    clear: both;
    float: left;
}

#content_109 #Q2_table_message {
    float: left;
    margin-top: 7vw;
    margin-left: 20vw;
}

#content_109 #Q2_questions_content {
    clear: both;
}

#content_109 #Q3_container {
    clear: both;
}

#content_109 #Q3_table {
    width: fit-content;
}

/*** PAGE 110 ***/

#content_110 #complete_Q2_questions {
    width: 100%;
}

#content_110 #complete_Q2_questions table {
    width: 100%;
}

#content_110 #complete_Q2_questions td {
    width: 50%;
}

/*** PAGE 110 ***/
#content_111 #Q1_container {
    margin-right: 15.5vw;
}

#content_111 #Q1_container #Q1_answer {
    margin-top: 4vw;
    direction: ltr;
}

#content_111  #Q1_container #Q1_response{
    margin-left: 5vw;
}

#content_111 #Q2_container {
    margin-top: 6vw;
}

#content_111 #Q2_container #Q2_answer {
    margin-top: 2vw;
    direction: ltr;
}

#content_111  #Q2_container #Q2_response{
    margin-left: 5vw;
}

#content_111 #Q3_container {
    margin-top: 2vw;
}

#content_111 #Q3_container #Q3_answer {
    margin-top: 2vw;
    direction: ltr;
}

#content_111  #Q3_container #Q3_response{
    margin-left: 5vw;
}

#content_111 #Q4_container {
    margin-top: 2vw;
    clear: both;
}

#content_111 #Q4_container #Q4_answer {
    margin-top: 2vw;
    direction: ltr;
}

#content_111  #Q4_container #Q4_response{
    margin-left: 5vw;
}

#content_111 #Q5_container {
    margin-top: 2vw;
}

#content_111 #Q5_container #Q5_answer {
    margin-top: 2vw;
    direction: ltr;
}
#content_111 #Q5_container #Q5_answer #Q5_image{
    width: 16vw;
}

#content_111 #Q5_container #Q5_text_box {
    margin-left: 5vw;
}

#content_111  #Q5_container #Q5_response{
    margin-left: 5vw;
}

#content_111 #Q6_container{
    margin-top: 2vw;
}

#content_111 #Q6_container #Q6_exercise {
    width: 100%;
}

#content_111 #Q6_container #Q6_response {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    width: fit-content;
    width: -moz-fit-content;
}

#content_111 #Q6_container #Q6_exercise #Q6_exercise_1,
#content_111 #Q6_container #Q6_exercise #Q6_exercise_2,
#content_111 #Q6_container #Q6_exercise #Q6_exercise_3,
#content_111 #Q6_container #Q6_exercise #Q6_exercise_4{
    float: left;
}

#content_111 #Q6_container #Q6_exercise #Q6_answer_1,
#content_111 #Q6_container #Q6_exercise #Q6_answer_2,
#content_111 #Q6_container #Q6_exercise #Q6_answer_3,
#content_111 #Q6_container #Q6_exercise #Q6_answer_4{
    clear: both;
    float: left;
}

#content_111 #Q6_exercise td {
    direction: ltr;
}

#content_111 #Q6_exercise input {
    width: 5vw;
}