.background-style {
  width: 100vw;
  height: 28vw;
  background-image: repeating-linear-gradient(to bottom, #fcc441, #fcc441 1vw, #ffd61e 0vw, #ffd61e 2.5vw);
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -12vw;
  z-index: -1;
  left: -10vw;
}

* {
  margin: 0;
  padding: 0;
}

.right-page-border {
  width: 90vw;
  height: 100vw;
  max-width: 100%;
  border: 0.8vw double #ffdd2b;
  border-top-left-radius: 4vw;
  border-bottom-left-radius: 4vw;
  border-right: none;
  margin: 5vw 0 0 10vw;
  background-color: #fff;
  position: relative;
}

.title-style {
  background-color: #fecc4e;
  border-radius: 2vw;
  width: 6vw;
  height: 4vw;
  padding: 0 2vw;
  position: absolute;
  right: 40vw;
  left: 40vw;
  top: -2vw;
}
.title-style p {
  color: #000;
  text-align: center;
  font-size: 3vw;
  font-family: Koodak;
}

.that-ridiculous-red-parts-in-title {
  height: 1.5vw;
  background-color: #c8242b;
  color: #c8242b;
  position: absolute;
  right: 39.5vw;
  left: 39.5vw;
  top: -1vw;
}

.activity-text {
  background-color: #fecc4e;
  border-radius: 1.5vw;
  padding: 0.25vw 10vw 0.25vw 3vw;
  position: absolute;
  right: 5vw;
  top: 2.5vw;
  z-index: 1;
  margin-right: 2vw;
  height: 5vw;
  width: 8vw;
}
.activity-text p {
  text-align: center;
  font-family: Koodak;
  font-size: 28px;
  color: #fff;
  margin-top: 15px;
}

.activity-image {
  width: 13vw;
  position: absolute;
  right: -2.3vw;
  top: 1vw;
  z-index: 2;
  margin-right: 5vw;
}

.tableContainer, #Table4-container, #Table3-container, #Table2-container, #Table1-container {
  background-color: white;
}
.tableContainer .table, #Table4-container .table, #Table3-container .table, #Table2-container .table, #Table1-container .table {
  border-collapse: collapse;
  font-family: Koodak;
}
.tableContainer .table tr .td, #Table4-container .table tr .td, #Table3-container .table tr .td, #Table2-container .table tr .td, #Table1-container .table tr .td {
  border: solid 2px #e55726;
  font-family: Zar;
  margin: 0;
  text-align: center;
}
.tableContainer .table tr .td div .color-picker, #Table4-container .table tr .td div .color-picker, #Table3-container .table tr .td div .color-picker, #Table2-container .table tr .td div .color-picker, #Table1-container .table tr .td div .color-picker {
  width: 1.5vw;
  height: 1.5vw;
  border: 0.2vw solid #b09ac9;
  border-radius: 2vw;
  position: relative;
  margin-top: 0.5vw;
}
.tableContainer .table tr .td-row-name, #Table4-container .table tr .td-row-name, #Table3-container .table tr .td-row-name, #Table2-container .table tr .td-row-name, #Table1-container .table tr .td-row-name {
  background-color: white;
}

#Table1-container {
  background-color: #ffd61e;
  border-radius: 15px;
  width: 50vw;
  max-width: 100%;
  margin: 0 auto;
  float: right;
}
#Table1-container .table {
  width: 90%;
  margin: 10px 20px;
  background-color: #fff;
  border: solid 2px #e55726;
}
#Table1-container .table tr .td {
  font-family: Zar;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  border-color: #e55726;
}
#Table1-container .table tr .td div .color-picker {
  width: 1vw;
  height: 1vw;
  border: 0.2vw solid #b09ac9;
  border-radius: 2vw;
  position: relative;
  margin-top: 0.5vw;
}
#Table1-container .table tr .td div .red-color-td {
  background-color: #cf3f34;
  margin: 2px auto;
}
#Table1-container .table tr .td div .green-color-td {
  background-color: #47a759;
  margin: 2px auto;
}
#Table1-container .table tr .td div .blue-color-td {
  background-color: #2095b8;
  margin: 2px auto;
}
#Table1-container .table tr .td-title-name {
  background-color: white;
}

#Table2-container {
  background-color: #f8b044;
}

#Table3-container {
  background-color: #f8b044;
}
#Table3-container .table tr .td {
  font-family: Koodak;
  text-align: center;
  background-color: #b9ce4d;
  border-color: #4b812a;
}
#Table3-container .table tr .td div .color-picker {
  width: 1.5vw;
  height: 1.5vw;
  border: 0.2vw solid #b09ac9;
  border-radius: 2vw;
  position: relative;
  margin-top: 0.5vw;
}
#Table3-container .table tr .td div .red-color-td {
  background-color: #cf3f34;
  float: left;
}
#Table3-container .table tr .td div .blue-color-td {
  background-color: #2095b8;
  float: left;
  margin-left: 0.5vw;
  margin-right: -2vw;
}
#Table3-container .table tr .td-title-name {
  background-color: white;
}

#Table4-container {
  background-color: #7fbecc;
}
#Table4-container .table tr .td-title-name {
  background-color: #e7f5fd;
}
#Table4-container .table tr .td {
  border-color: #3e549a;
  font-family: Koodak;
  text-align: center;
  background-color: white;
}
#Table4-container .table tr .td div .color-picker {
  width: 1.5vw;
  height: 1.5vw;
  border: 0.2vw solid #b09ac9;
  border-radius: 2vw;
  position: relative;
  margin-top: 0.5vw;
}
#Table4-container .table tr .td div .red-color-td {
  background-color: #cf3f34;
  float: left;
}
#Table4-container .table tr .td div .green-color-td {
  background-color: #47a759;
  float: left;
  margin-left: 0.5vw;
  margin-right: -2vw;
}
#Table4-container .table tr .td div .blue-color-td {
  background-color: #2095b8;
  float: left;
  margin-left: 0.5vw;
  margin-right: -2vw;
}
#Table4-container .table tr .td-title-name {
  background-color: white;
}

@font-face {
  font-family: "Zar";
  src: url("/assets/fonts/Zar.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/Zar.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Zar.woff2") format("woff2"), url("/assets/fonts/Zar.woff") format("woff"), url("/assets/fonts/Zar.ttf") format("truetype"), url("/assets/fonts/Zar.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "ZarBold";
  src: url("/assets/fonts/ZarBold.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/ZarBold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/ZarBold.woff2") format("woff2"), url("/assets/fonts/ZarBold.woff") format("woff"), url("/assets/fonts/ZarBold.ttf") format("truetype"), url("/assets/fonts/ZarBold.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Faraz";
  src: url("/assets/fonts/Faraz.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/Faraz.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Faraz.woff2") format("woff2"), url("/assets/fonts/Faraz.woff") format("woff"), url("/assets/fonts/Faraz.ttf") format("truetype"), url("/assets/fonts/Faraz.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: Koodak;
  src: url("../../fonts/KoodakBold.ttf");
}
.tableContainer, #Table1-container, #Table2-container, #Table3-container, #Table4-container {
  background-color: white;
}
.tableContainer .table, #Table1-container .table, #Table2-container .table, #Table3-container .table, #Table4-container .table {
  border-collapse: collapse;
  font-family: Koodak;
}
.tableContainer .table tr .td, #Table1-container .table tr .td, #Table2-container .table tr .td, #Table3-container .table tr .td, #Table4-container .table tr .td {
  border: solid 2px #e55726;
  font-family: Zar;
  margin: 0;
  text-align: center;
}
.tableContainer .table tr .td div .color-picker, #Table1-container .table tr .td div .color-picker, #Table2-container .table tr .td div .color-picker, #Table3-container .table tr .td div .color-picker, #Table4-container .table tr .td div .color-picker {
  width: 1.5vw;
  height: 1.5vw;
  border: 0.2vw solid #b09ac9;
  border-radius: 2vw;
  position: relative;
  margin-top: 0.5vw;
}
.tableContainer .table tr .td-row-name, #Table1-container .table tr .td-row-name, #Table2-container .table tr .td-row-name, #Table3-container .table tr .td-row-name, #Table4-container .table tr .td-row-name {
  background-color: white;
}

#Table1-container {
  background-color: #ffd61e;
  border-radius: 15px;
  width: 50vw;
  max-width: 100%;
  margin: 0 auto;
  float: right;
}
#Table1-container .table {
  width: 90%;
  margin: 10px 20px;
  background-color: #fff;
  border: solid 2px #e55726;
}
#Table1-container .table tr .td {
  font-family: Zar;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  border-color: #e55726;
}
#Table1-container .table tr .td div .color-picker {
  width: 1vw;
  height: 1vw;
  border: 0.2vw solid #b09ac9;
  border-radius: 2vw;
  position: relative;
  margin-top: 0.5vw;
}
#Table1-container .table tr .td div .red-color-td {
  background-color: #cf3f34;
  margin: 2px auto;
}
#Table1-container .table tr .td div .green-color-td {
  background-color: #47a759;
  margin: 2px auto;
}
#Table1-container .table tr .td div .blue-color-td {
  background-color: #2095b8;
  margin: 2px auto;
}
#Table1-container .table tr .td-title-name {
  background-color: white;
}

#Table2-container {
  background-color: #f8b044;
}

#Table3-container {
  background-color: #f8b044;
}
#Table3-container .table tr .td {
  font-family: Koodak;
  text-align: center;
  background-color: #b9ce4d;
  border-color: #4b812a;
}
#Table3-container .table tr .td div .color-picker {
  width: 1.5vw;
  height: 1.5vw;
  border: 0.2vw solid #b09ac9;
  border-radius: 2vw;
  position: relative;
  margin-top: 0.5vw;
}
#Table3-container .table tr .td div .red-color-td {
  background-color: #cf3f34;
  float: left;
}
#Table3-container .table tr .td div .blue-color-td {
  background-color: #2095b8;
  float: left;
  margin-left: 0.5vw;
  margin-right: -2vw;
}
#Table3-container .table tr .td-title-name {
  background-color: white;
}

#Table4-container {
  background-color: #7fbecc;
}
#Table4-container .table tr .td-title-name {
  background-color: #e7f5fd;
}
#Table4-container .table tr .td {
  border-color: #3e549a;
  font-family: Koodak;
  text-align: center;
  background-color: white;
}
#Table4-container .table tr .td div .color-picker {
  width: 1.5vw;
  height: 1.5vw;
  border: 0.2vw solid #b09ac9;
  border-radius: 2vw;
  position: relative;
  margin-top: 0.5vw;
}
#Table4-container .table tr .td div .red-color-td {
  background-color: #cf3f34;
  float: left;
}
#Table4-container .table tr .td div .green-color-td {
  background-color: #47a759;
  float: left;
  margin-left: 0.5vw;
  margin-right: -2vw;
}
#Table4-container .table tr .td div .blue-color-td {
  background-color: #2095b8;
  float: left;
  margin-left: 0.5vw;
  margin-right: -2vw;
}
#Table4-container .table tr .td-title-name {
  background-color: white;
}

.text-config {
  font-family: Zar;
  font-size: 2vw;
  direction: rtl;
  white-space: pre-wrap;
}

.question-text-config {
  padding-right: 5vw;
  padding-left: 3vw;
}

.question-num {
  color: #f8b044;
}

#Question-1 {
  padding-right: 1vw;
}

.circleContainer, #Circle1 {
  border-radius: 50%;
}
.circleContainer .circleSlice, .circleContainer #Slice4, .circleContainer #Slice3, .circleContainer #Slice2, .circleContainer #Slice1, #Circle1 .circleSlice, #Circle1 #Slice4, #Circle1 #Slice3, #Circle1 #Slice2, #Circle1 #Slice1 {
  width: 5000px;
  height: 5000px;
  position: absolute;
  transform-origin: 100% 100%;
  border: 1px solid #000;
  left: 50%;
  top: 50%;
  margin-top: -5002px;
  margin-left: -5002px;
}

#Circle1 {
  margin-top: 5vw;
  border: 2px solid #000;
  animation-fill-mode: forwards;
  width: 14vw;
  height: 14vw;
  border-color: #000;
  position: relative;
  overflow: hidden;
  margin-left: 5vw;
}

#Slice1 {
  transform: rotate(90deg);
  background-color: #cf3f34;
}

#Slice2 {
  transform: rotate(180deg);
  background-color: #2095b8;
}

#Slice3 {
  transform: rotate(270deg);
  background-color: #cf3f34;
}

#Slice4 {
  transform: rotate(360deg);
  background-color: #47a759;
}

#clock-needle:after {
  width: 4vw;
  height: 0.3vw;
  background-color: #000;
  display: inline-block;
  vertical-align: middle;
  content: "";
}

#clock-needle:before {
  width: 0;
  height: 0;
  border-bottom: 0.5vw solid transparent;
  border-top: 8px solid transparent;
  border-left: 8px solid #000;
  display: inline-block;
  vertical-align: middle;
  content: "";
}

#clock-needle {
  position: absolute;
  margin-right: 3vw;
  margin-top: 4.5vw;
  transform: rotate(-45deg);
}

.tableQuestionContainer .fractionalQuestionContainer {
  display: flex;
  flex-direction: row;
}
.tableQuestionContainer .fractionalQuestionContainer div {
  margin-top: 0;
}
.tableQuestionContainer .fractionalQuestionContainer input {
  width: 5vw;
  font-size: 1.8vw;
}

.page-no-input {
  display: flex;
  flex-direction: row-reverse;
  width: 25vw;
  margin: auto;
}
.page-no-input #next_btn {
  margin-right: 1.5vw;
}
.page-no-input #pre_btn {
  margin-left: 1.5vw;
}
.page-no-input div .page-number-input {
  background-color: #fcb94b;
  border-radius: 2.5vw;
  border: 0.9vw double white;
  text-align: center;
  font-size: 2vw;
  color: white;
  padding: 0.1vw 0.5vw;
  width: 5vw;
}

.arrow {
  width: 3vw;
}

.right-page-num {
  background-color: #f8b044;
  width: 7vw;
  height: 5vh;
  border: 2px double white;
  border-radius: 35px;
  position: relative;
  top: -6.25vh;
  right: 86vw;
}
.right-page-num p {
  color: white;
  text-align: center;
  font-family: Zar;
}

#activity-circle {
  display: flex;
  flex-direction: row-reverse;
}

#question-1 {
  display: flex;
  flex-direction: column;
}

#question-2-3-images {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

#question-2-3 {
  display: flex;
  flex-direction: column;
}

#cube-coin {
  display: flex;
  flex-direction: column;
  margin-right: 10vw;
  margin-top: 5vw;
}

#cube {
  width: 7vw;
  height: 7vw;
}

#coin {
  width: 7vw;
  height: 7vw;
  margin-right: 7vw;
}

#guess-box {
  display: flex;
  flex-direction: column;
  background-color: #fffddf;
  border-radius: 15px;
  border: 1.5px solid #fcc441;
  margin-right: 5vw;
  margin-left: 3vw;
  height: 31vh;
}

#guess-text-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 25px;
}

#guess-text-question {
  padding-top: 5px;
}
#guess-text-question p {
  font-family: Zar;
  font-size: 1.5vw;
}

#guess-text-label {
  background-color: #fcc441;
  color: white;
  width: 10vw;
  position: relative;
  right: 45px;
  border-left: 2vw solid #f8b044;
}
#guess-text-label p {
  font-family: Koodak;
  font-size: 1.5vw;
  text-align: center;
  padding-top: 15px;
}

#candle-cylindrical {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#candle-box {
  padding-right: 25px;
  margin-top: 25px;
}

#candle {
  width: 8vw;
  height: 7vw;
}

#cylindrical-box {
  padding-left: 25px;
}

#cylindrical {
  width: 30vw;
  height: 10vw;
}

#TableQuestion1-container {
  display: flex;
  flex-direction: row;
  margin-right: 7vw;
  margin-top: 2vw;
}

.textarea {
  height: 10vh;
  width: 50vw;
}