
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

:root {

    --orange_level0: #fde8d4;
    --orange_level1: #f8b044;
    --orange_level2: #f19345;
    --orange_level3: #e55726;

    --pink_level1: #fdebf3;
    --pink_level2: #ffc9c2;
    --pink_level3: #b03776;

    --green-square: #47a758;

    --text-box-border-color: #a5cde0;


    --yellow_level1_guessbox: #fffce0;
    --yellow_level2_border: #ffdd2b;
    --yellow_level3_border: #fecc4e;
    --yellow_level4_guessbox: #fcb94b;

    --red_level1: #f0595b;
    --red_level2: #c8242b;
    --red_level3: #db3f32;

    --blue_level0: #d4effb;
    --blue_level1: #6bcff6;
    --blue_level2: #3853a3;
    --blue_level3: #5cb6cd;

    --green_level0: #d2e287;
    --green_level1: #bbd75e;
    --green_level2: #87c765;
    --green_level3: #44b869;
    --green_level4: #3ab54a;


    --purple: #b09ac9;

    --pink: #e79abb;

    --dynamic_rnd: 0;
    --dynamic_rnd_last: 0;

}

.page-left-border {
    width: 90vw;
    max-width: 100%;
    border: 0.8vw double var(--pink_level2);

    margin: 6vw 0 0 10vw;
    border-right: none;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
    position: relative;
    background-color: white;
}

.page-right-border {
    width: 90vw;
    max-width: 100%;

    border: 0.8vw double var(--pink_level2);

    margin: 6vw 10vw 0 0;
    border-left: none;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: relative;
    background-color: white;
}


.background-left {
    width: 100vw;
    height: 43vw;

    background-image: repeating-linear-gradient(var(--pink_level2), var(--pink_level2) 1.5vw, var(--pink_level1) 0vw, var(--pink_level1) 2vw);
    background-position: bottom;
    background-repeat: no-repeat;

    position: absolute;
    bottom: -12vw;
    right: 0;
    z-index: -1;
}
/* .page-right-border .background-style {
    right: -9vw;
} */

.background-right {

    width: 100vw;
    height: 42vw;
    /* margin-top: 50vw; */
    background-image: repeating-linear-gradient(var(--pink_level2), var(--pink_level2) 1.5vw, var(--pink_level1) 0vw, var(--pink_level1) 2vw);
    /* background-position: bottom; */
    background-repeat: no-repeat;
    position: absolute;
    bottom: -12vw;
    left: 0;
    z-index: -1;
}

.activity-cover {
    width: 13vw;
    position: absolute;
    /* right: -2.3vw;
    top: 0.5vw;
    margin-right: 5vw;
    z-index: 2; */
}
#activity_cover_136{
    right: -2.3vw;
    top: 0.5vw;
    margin-right: 5vw;
    z-index: 2;
}

#classwork_cover_137{
    /* border: 2px solid rebeccapurple; */
    right: -2.3vw;
    margin-right: 5vw;
    z-index: 2;
}

#classwork_title_137{
    background-color: var(--pink_level2);
    border-radius: 1.5vw;
    text-align: center;
    font-family:BNazanin,'BNazanin';

    font-size: 2.5vw;
    color: white;

    padding: 0 9vw 0 2vw;
    position: absolute;
    right: 4vw;
    margin-top: 2vw;
    /* top: 2.5vw; */
}
.activity-title {
    background-color: var(--pink_level2);
    border-radius: 1.5vw;

    text-align: center;
    font-family:BNazanin,'BNazanin';
    /* font-family: Koodak; */
    font-size: 1.9em;
    color: white;

    padding: 0 2vw 0 2vw;;
    position: absolute;
    right: 4vw;
    top: 2.5vw;
    /* z-index: 1; */

    margin-right: 10vw;
}

#tamrin_138_cover{
    padding-right: 8vw; margin-right: 2vw;
}
#top136title{
    background-color: var(--pink_level2);
    border-radius: 1.5vw;

    text-align: center;
    font-family:BNazanin,'BNazanin';
    /* font-family: Koodak; */
    font-size: 2.5vw;
    color: black;

    padding: 0 1.2vw 0 1.2vw;
    position: absolute;
    margin-left:33%; 
    margin-top: -11vw;
}

.questions-number {
    color: var(--pink);
}
.text {
    font-family:BNazanin,'BNazanin';
    /* font-family: BNazanin; */
    font-size: 1.8em;
    direction: rtl;

    /* white-space: pre-wrap; */
}
#little_boy_image {
    /* position: absolute; */
    float: left;
    width: 10vw;
    margin-left: 12vw;
    margin-top: -6vw;
    margin-bottom: 2vh;  
}
#little_red_img{
    width: 12vw;
    float: right; 
    position: relative;  
    margin-top:5vw; 
    margin-right: -18vw;
}

#pen_img{
    width: 12em;
    /* height: 10vh; */
    margin-top: -7vw;
    float: left;
}
#quran_img{
    width: 12em;
    position: relative;
    /* margin-top: -7vw; */
    float: left;
}

#boz_img{
    width: 20em;
    position: relative;
    margin-right: 2vw;
    /* margin-top: -7vw; */
    float: left;
    border: solid pink;
    border-radius: 5%;
}
#colored_pencil_image {
    /* position: absolute; */
    float: left;
    width: 15vw;
    /* margin-left: 1vw; */
    margin-top: -6vw;
    margin-bottom: 2vh;  
}
#p137q1_content {
    margin-top: 3vw;
}

.answer_line{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    
}

table, td, th {
    text-align: left;
    font-size: 1.4em;
    font-family:BNazanin,'BNazanin';
  }
th{
    width: 11vw;
}
table {
    /* font-family:Kodak ; */
    margin-top: 2vw;
    width: 100%;
    border-collapse: collapse;
    
}
.center_th{
    text-align: center;
}
.q1p137table{
    margin-top: 5vw;
    width: 100%;
    border-collapse: collapse;
    /* font-size: 2vw; */
    float: right;
    display: inline;
}
/*** Page 136 ***/
#content_136 {
    padding-left: 7vw;
    padding-right: 5vw;
    margin-top: 9vw;
}
.normal_content{
    /* position: relative; */
    padding-left: 1.8vw;
    padding-right: 5vw;
    margin-top: 1vw;
}

#content_137{
    /* position: relative; */
    padding-left: 1.8vw;
    padding-right: 5vw;
    margin-top: 1vw;
}
#content_136 #Q1_container {
    /* font-size: 2vw; */
    padding-right: 10vw;
    /* font-size: 2vw; */
}
#content_137 #Q1_container {
    position: relative;
    padding-right: 20vw;
    margin-top: 1.5vw;
}

#Q1p138_container{
    position: relative; margin-right: 15vw;
}
#Q1p138_container #Q1_description {
    position:relative;
    right:3vw;
}
#content_136 #Q1_description {
    float: right;
    /* font-size: 2vw; */
}

.right_q_container {
    padding-top: 4vw;
    margin-right: 0vw;
    /* margin-bottom: 3vw; */
    clear: both;
}
#content_136 #Q2_questions_content {
    clear: both;
}


.creative_container {
    border: 0.3vw solid var(--pink);
    border-radius: 3vw;
    background-color: var(--orange_level0);

    /* position: relative; */
    margin-top: 1.5vw;
    padding-left: 5vw;
    padding-top: 1vw;
    width: 99.1%;
    height: 30vw;
    margin-left: -1.5vw;
    margin-bottom: 0.95vw;

}

.creative_title {
    background-color: var(--pink);
    border-top-left-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
    border-right: 2vw solid var(--pink_level2);

    text-align: center;
    font-family:BNazanin,'BNazanin';
    /* font-family: Koodak; */
    font-size: 2.5vw;
    color: white;
    float: right;
    z-index: 1;

    padding-right: 1vw;
    padding-left: 1vw;
    margin-top: 1vw;

    position: relative;
    /* position: left; */
    right: -2vw;
}

.creative_content{
    margin-top: 1vw;
    margin-right: 16vw;
    /* margin-block-start: auto; */
    /* font-family: BNazanin, 'BNazanin'; */
    
}
.page-number_right {
    font-family:BNazanin,'BNazanin';
    background-color: var(--pink_level2);
    border-radius: 2.5vw;
    border: 0.9vw double white;

    text-align: center;
    font-size: 2.1vw;
    /* font-family: Koodak; */
    color: white;

    padding: 0 3vw;
    position: absolute;
    bottom: -0.5vw;
    right: -5vw;
}
.page-number_left {
    font-family:BNazanin,'BNazanin';
    background-color: var(--pink_level2);
    border-radius: 2.5vw;
    border: 0.9vw double white;

    text-align: center;
    font-size: 2.1vw;
    /* font-family: Koodak; */
    color: white;

    padding: 0 3vw;
    position: absolute;
    bottom: -0.5vw;
    left: -5vw;
}


.showanswerbutton, .hideanswerbutton {
    background-color: #6fa3f1!important;
    position: relative;
    width: 20%;
    margin-left: 80%;
    border-color: #104ed3;
}

.triangle-up {
	display: inline;
	width: 0;
	height: 0;
	border-left: 1.8vw solid transparent;
	border-right: 1.8vw solid transparent;
    border-bottom: 2.5vw solid rgb(112, 5, 116);
    /* border-top: 1vw solid rgb(112, 5, 116); */
    /* margin-left:2vw; */
    margin-right: 1vw;
    /* margin-bottom: 2vw; */
    /* border-bottom-color: ; */
    float: left;
}
.square {
    height: 2.5vw;
    width: 2.5vw;
    float: left;
    background-color: rgb(202, 19, 19);
    margin-right:1vw;
   
  }
  .circle {
    height: 2.5vw;
    width: 2.5vw;
    float: left;
    background-color: rgb(202, 19, 19);
    margin-right:1vw;
    border-radius: 50%;
   
  }
  .shape_container{
    float: left;
    margin-right: 0.5vw;
  }
  .shape_container_l{
    float: left;
    margin-right: 5vw;
    margin-top: 2vw;
    height: 13vw;
  }
  .tiny_number_in{
    border: solid pink;
    width: 1.9vw;
  }
  .med_number_in{
    height: 3vw;
    width:  4.5vw;
    font-size: 2vw;
    border: solid pink;
  }

  .num_container_137{
      position: relative;
      width: 5vw;
      height: 4vw;
      background-color: var(--blue_level3);
      border-radius: 20%;
      font-size: 2em;
      text-align: center;
      float: left;
      margin-right: 1vw;
  }
#cal_137{
    margin-top: 2vw;
    position: relative;
    font-size: 2em;
    padding-right: 10vw;
    /* text-align: left; */
    /* right: 60vw; */
}