:root {
    --yellow_level1_guessbox: #fffce0;
    --yellow_level2_border: #ffdd2b;
    --yellow_level3_border: #fecc4e;
    --yellow_level4_guessbox: #fcb94b;

    --red_level1: #f0595b;
    --red_level2: #c8242b;

    --blue_level1: #6bcff6;
    --blue_level2: #3853a3;

    --green_level1: #bbd75e;
    --green_level2: #87c765;
    --green_level3: #44b869;

    --orange_level1: #fee6d3;
    --orange_level2: #fcb94b;
    --orange_level3: #f89f6d;

    --purple: #b09ac9;

    --pink: #f287b6;

}


.right-border{

    width: 90vw;
    height: 110vw;
    max-width: 100%;

    border: 0.8vw double var(--yellow_level2_border);

    margin: 10vw 10vw 10vw 0;
    border-left: none;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: relative;
    background-color: white;

}

.background-style{

    width: 100vw;
    height: 50vw;

    background-image: repeating-linear-gradient(0deg, var(--yellow_level2_border), var(--yellow_level2_border) 1vw, var(--yellow_level3_border) 0vw, var(--yellow_level3_border) 2.5vw);
    background-position: bottom;
    background-repeat: no-repeat;

    position: absolute;
    bottom: -15vw;
    z-index: -1;
}


.page-number{

    background-color: var(--yellow_level4_guessbox);
    border-radius: 5vw;
    border: 0.5vw solid white;

    text-align: center;
    font-size: 3vw;
    color: white;

    padding: 0.5vw 4vw;
    position: absolute;
    bottom: -0.5vw;
    right: -6vw;
}

.title-style{

    background-color: var(--yellow_level3_border);
    border-radius: 5vw;


    text-align: center;
    font-family: Koodak;
    font-size: 4vw;
    color: black;

    padding-right: 1.5vw;
    padding-left: 1.5vw;
    position: absolute;
    left: 35vw;
    right: 25vw;
    top: -4vw;
}

.that-ridiculous-red-parts-in-title{
    width: 31.4vw;
    height: 1.5vw;

    background-color: var(--red_level2);
    color: var(--red_level2);
    border-style: solid;

    position: absolute;
    left: 34vw;
    right: 40vw;
    top: -1.5vw;
}