:root {
    --yellow_level1_guessbox: #fffce0;
    --yellow_level2_border: #ffdd2b;
    --yellow_level3_border: #fecc4e;
    --yellow_level4_guessbox: #fcb94b;

    --red_level1: #f0595b;
    --red_level2: #c8242b;

    --blue_level1: #6bcff6;
    --blue_level2: #3853a3;

    --green_level1: #bbd75e;
    --green_level2: #87c765;
    --green_level3: #44b869;

    --orange_level1: #fee6d3;
    --orange_level2: #fcb94b;
    --orange_level3: #f89f6d;

    --purple: #b09ac9;

    --pink: #f287b6;

}


.right-border{

    width: 90vw;
    height: 140vw;
    max-width: 100%;

    border: 0.8vw double var(--yellow_level2_border);

    margin: 10vw 10vw 10vw 0;
    border-left: none;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: relative;
    background-color: white;

}

.background-style{

    width: 100vw;
    height: 60vw;

    background-image: repeating-linear-gradient(0deg, var(--yellow_level2_border), var(--yellow_level2_border) 1vw, var(--yellow_level3_border) 0vw, var(--yellow_level3_border) 2.5vw);
    background-position: bottom;
    background-repeat: no-repeat;

    position: absolute;
    bottom: -15vw;
    z-index: -1;
}


.page-number{

    background-color: var(--yellow_level4_guessbox);
    border-radius: 3vw;
    border: 1vw double white;

    text-align: center;
    color: white;

    padding: 0 4vw;
    position: absolute;
    bottom: -0.5vw;
    right: -7vw;
}

.title-style{

    background-color: var(--yellow_level3_border);
    border-radius: 3vw;

    text-align: center;
    font-family: Koodak;
    font-size: 3.5vw;
    color: black;

    padding: 1vw;
    position: absolute;
    left: 35vw;
    right: 32vw;
    top: -4.5vw;
}

.that-ridiculous-red-parts-in-title{
    width: 24.5vw;
    height: 1.5vw;

    background-color: var(--red_level2);
    color: var(--red_level2);
    border-style: solid;

    position: absolute;
    left: 34vw;
    right: 40vw;
    top: -1.5vw;
}

.activity-text{

    background-color: var(--yellow_level3_border);
    border-radius: 1.5vw;

    text-align: center;
    font-family: Koodak;
    font-size: 3vw;
    color: white;

    padding: 0.1vw 4vw;
    position: absolute;
    right: 11vw;
    top: 3vw;
    z-index: 1;
}

.activity-image{

    width: 15vw;
    position: absolute;
    right: -2.5vw;
    top: 1vw;
    z-index: 2;
}

.text-config{
    font-family: Zar;
    font-size: 2.8vw;
    direction: rtl;
    white-space: pre-wrap;
}

.questions-text-config{
    padding-right: 5vw;
    padding-left: 3vw;
    padding-bottom: 2vw;
    margin-top: 2vw;
}

.colored-table{
    width: 70vw;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 2vw;
    font-family: Koodak;

}

.colored-td{
    padding: 1vw;
    border: 0.3vw solid var(--blue_level2);
    font-size: 2vw;
    font-family: Koodak;
    text-align: center;
}

/* circle sectors detection for Q1 */

.wrapper {
    width: 20vw;
    height: 20vw;
    border: 2px solid var(--purple);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-left: 10vw;
    transform: rotate(15deg);
}

.sector {
    width: 5000px;
    height: 5000px;

    position: absolute;
    transform-origin: 100% 100%;

    left: 50%;
    top: 50%;
    border: 1px solid var(--purple);
    margin-top: -5000px;
    margin-left: -5000px;
    background-color: white;
}

.color-picker{
    width: 3vw;
    height: 3vw;
    border: 0.3vw solid var(--purple);
    border-radius: 2vw;
    position: relative;
    margin-top: 0.5vw;

}

.shaking-animation {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}