/*.page-border{*/
/*    text-align: center;*/
/*    border: solid 2px;*/
/*    float: right;*/
/*    width: 30%;*/
/*}*/
.page-bg {
    height: 100%;
    background: linear-gradient(to bottom, white 67%, #e5555a 33%);
    background-repeat: no-repeat;
}
.page-border{
    direction: rtl;
    width: 95%;
    background: white;
    border: 0.5vw double #e5555a;
    /*outline: 5px solid red;*/
    border-radius: 5px;
    margin: auto;
    padding :1.5vw;
}
.page-number{
    text-align: center;
    background: #e5555a ;
    padding: 0.1vw;
    border: 0.1vw solid #e5555a;
    border-radius: 20px;

}
.outer-number{
    width: 5vw;
    border: 0.1vw solid #e5555a;
    border-radius: 20px;
}

