/*.page-border{*/
/*    text-align: center;*/
/*    border: solid 2px;*/
/*    float: right;*/
/*    width: 30%;*/
/*}*/
.page-border{
    direction: rtl;
    width: 95%;
    border: 0.5vw double red;
    /*outline: 5px solid red;*/
    border-radius: 5px;
    margin: 2vw;
}
