@font-face {
  font-family: 'Zar';
  src: url("/assets/fonts/Zar.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/Zar.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Zar.woff2") format("woff2"), url("/assets/fonts/Zar.woff") format("woff"), url("/assets/fonts/Zar.ttf") format("truetype"), url("/assets/fonts/Zar.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'ZarBold';
  src: url("/assets/fonts/ZarBold.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/ZarBold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/ZarBold.woff2") format("woff2"), url("/assets/fonts/ZarBold.woff") format("woff"), url("/assets/fonts/ZarBold.ttf") format("truetype"), url("/assets/fonts/ZarBold.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Faraz';
  src: url("/assets/fonts/Faraz.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/Faraz.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Faraz.woff2") format("woff2"), url("/assets/fonts/Faraz.woff") format("woff"), url("/assets/fonts/Faraz.ttf") format("truetype"), url("/assets/fonts/Faraz.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

* {
  font-family: 'Zar';
  font-size: 1rem;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'ZarBold';
  font-weight: bold;
}

.hand-written {
  font-family: 'Faraz';
}

html {
  font-size: 20px;
}

a {
  text-decoration: none;
}

* {
  margin: 0px;
}

body {
  line-height: 1.8em;
  background-color: white;
}

.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  display: inline-block;
  float: none;
}

#main-header h3 {
  margin: 0 auto;
}

.masale {
  clear: right;
  float: right;
  text-align: start;
  margin: 1em 5em;
}

section {
  width: 100%;
  margin: 1em 0;
}

section .section-header {
  clear: both;
  width: 100%;
  background-color: bisque;
  overflow: hidden;
}

section .section-header h5 {
  float: right;
  margin: 0 1em;
}
