:root {
    --color-dark-blue : #79c2d2;
    --color-light-blue : #e1f4fd;
    --color-very-dark-blue: #0c9ec3;
    --color-dark-purple : #b41878;
    --color-light-pink : #f8b0a0;
    --color-veryLight-pink : #fdc6ab;
    --color-dark-yellow : #fecc4e;
    --color-title-purple: #9d86bd;
}
body{
    margin: 0;
}
.right-border{

    width: 90vw;
    max-width: 100%;
    border: 0.8vw double #79c2d2;
    margin: 6vw 10vw 0 0;
    border-left: none;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: relative;
    background-color: white;
}

.left-border{
    width: 90vw;
    max-width: 100%;
    border: 0.8vw double #79c2d2;
    margin: 6vw 0 0 10vw;
    border-right: none;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
    position: relative;
    background-color: white;
}
.background-style-right{
    width: 100vw;
    height: 54.3vw;
    background-image: repeating-linear-gradient(0deg, #79c2d2, #79c2d2 1vw, #e1f4fd 0vw, #e1f4fd 2.5vw);
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -12vw;
    z-index: -1;
    left: -10vw;
}
.background-style{
    width: 100vw;
    height: 54.3vw;
    background-image: repeating-linear-gradient(0deg, #79c2d2, #79c2d2 1vw, #e1f4fd 0vw, #e1f4fd 2.5vw);
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -12vw;
    z-index: -1;
}

.page-numberr{
    background-color: #0c9ec3;
    border-radius: 2.5vw;
    border: 0.9vw double white;
    text-align: center;
    font-size: 2vw;
    font-family: Koodak;
    color: white;
    padding: 0 3vw;
    position: absolute;
    bottom: -0.5vw;
    right: -5vw;
}

.title-style{
    background-color: #0c9ec3;
    border-radius: 2vw;
    text-align: center;
    font-family: Koodak;
    font-size: 2.25vw;
    color: black;
    padding: 0 2vw;
    position: absolute;
    right: 35vw;
    left: 35vw;
    top: -3.3vw;
}

.that-ridiculous-red-parts-in-title{
    height: 1vw;
    background-color: #9d86bd;
    color: #9d86bd;
    border-style: solid;
    position: absolute;
    right: 34vw;
    left: 34vw;
    top: -1.2vw;
}

.activity-text{
    background-color: #0c9ec3;
    border-radius: 1.5vw;
    text-align: center;
    font-family: Koodak;
    font-size: 2.25vw;
    color: white;
    padding: 0 5vw 0 3vw;
    position: absolute;
    right: 8vw;
    top: 2.5vw;
    z-index: 1;
}

.activity-image{
    width: 13vw;
    position: absolute;
    right: -2.3vw;
    top: 0.5vw;
    z-index: 2;
}

.text-config{
    font-family: Zar;
    font-size: 2vw;
    direction: rtl;
    white-space: pre-wrap;
}

.questions-text-config{
    padding-right: 5vw;
    padding-left: 3vw;
    padding-bottom: 2vw;
    margin-top: 2vw;
}

.guess-box-level1{
    background-color: #e1f4fd;
    border: 0.4vw solid #79c2d2;
    border-radius: 4vw;
    position: relative;
    padding: 1.5vw;
    margin: 18vw 1.5vw 5vw 7vw;
}
.guess-box-text-right{
    background-color: #0c9ec3;
    border-radius: 1.5vw 0 0 1.5vw;
    border-right: 2vw solid #79c2d2;

    text-align: center;
    font-family: Koodak;
    font-size: 2.25vw;
    color: white;

    padding: 0 3vw 0 2vw;
    position: absolute;
    right: -2vw;
    top: 1vw;
    z-index: 1;
}

.guess-box-text-left{
    background-color:#0c9ec3;
    border-radius: 0 01.5vw 1.5vw 0;
    border-left: 2vw solid #79c2d2;
    text-align: center;
    font-family: Koodak;
    font-size: 2.25vw;
    color: white;
    padding: 0 2vw 0 3vw;
    position: absolute;
    left: -1.5vw;
    top: 1vw;
    z-index: 1;
}
.guess-box-level2{
    background-color: white;
    border: 0.3vw solid #f8b0a0;
    border-radius: 4vw;
    position: relative;
    padding: 1.5vw;
    margin-top: 2vw;
    margin-right: 55vw;
}
.box-level2{
    background-color: white;
    border: 0.3vw solid #f8b0a0;
    border-radius: 4vw;
    position: relative;
    padding: 1vw;
    margin: 1.5vw 0vw 0vw -5vw;
}
.box-level1{
    background-color: #fdc6ab;
    border: 0.3vw solid #f8b0a0;
    border-radius: 4vw;
    position: relative;
    padding: 1.5vw;
    padding-right: 0vw;
    padding-bottom: 0vw;
    margin: 18vw 1.5vw 5vw 16vw;
}
.textBox-style{
    text-align: center;
    width: 10vw;
    border: none;
    border-radius: 0.6vw;
    font-size: 1.75vw;
    border-bottom: 2px solid #79c2d2;
    border-bottom-left-radius: 0.3vw;
    border-bottom-right-radius: 0.3vw;
}
.arrow {
    width: 120px;
}
.line {
    margin-top: 2vw;
    width: 0.75vw;
    background: #0c9ec3;
    height: 0.75vw;
    float: left;
}
.point {
    width: 0;
    height: 0;
    border-top: 0.75vw solid transparent;
    border-bottom: 0.75vw solid transparent;
    border-left: 0.75vw solid #0c9ec3;
    float: right;
}
.left-point{
    width: 0;
    height: 0;
    border-top: 0.75vw solid transparent;
    border-bottom: 0.75vw solid transparent;
    border-right: 0.75vw solid #0c9ec3;
    float: right;
}
.dot {
    background-color: #fecc4e;
    border: none;
    color: black;
    height: 4.5vw;
    width: 4.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    border-radius: 50%;
}
.square {
    font-size: 1vw;
    background-color: white;
    height: 4.5vw;
    width: 4.5vw;
    color: black;
    border: 0.2vw solid #79c2d2;
    transition-duration: 0.4s;
}
.square:hover {
    background-color: #79c2d2; /* Green */
    color: white;
    cursor: pointer;
}
.textarea {
    font-size: 2vw;
    font-family: ZAR;
    direction: rtl;
    width: 40vw;
    height: 15vw;
    padding: 2vw;
    box-sizing: border-box;
    border: 0.5vw solid #79c2d2;
    border-radius: 2vw;
    background-color: #f8f8f8;
    resize: none;
}
.submit{
    font-family: ZAR;
    background-color:#0c9ec3; /* Green */
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    border-radius: 1vw;
}
.submit:hover{
    cursor: pointer;
    background-color: #ddd;
    color: black;
}
.arrow2{
    width: 120px;
}
.line2{
    margin-top: 2vw;
    width: 1vw;
    background: #b41878;
    height: 0.3vw;
    float: left;
}
.line2::after{
    position: absolute;
    content: '';
    left: 0.4vw;
    right: 0;
    top: -0.2em;
    width: 0;
    height: 0;
    border: solid #b41878;
    border-width: 0 0.3vw 0.3vw 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #0c9ec3;
    background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 15vw;
    height: 5vw;
    font-family: ZAR;
    font-size: 1.5vw;
    line-height: 3;
    background: #79c2d2;
    overflow: hidden;
    border-radius: .25em;
}
select {
    flex: 1;
    font-size: 2vw;
    padding: 0 .5em;
    color: white;
    cursor: pointer;
}
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
    background: #79c2d2;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
.select:hover::after {
    color: white;
}
--------------
.container {
    max-width: 100vw;
    margin: 10vw auto;
}

.vector {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    border-top: 0.2vw solid #b41878;
}
.vector:hover{
    cursor: pointer;
}
.vector > div {
    width: 3.85vw;
    text-align: center;
    padding-top: 2vw;
    position: relative;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.vector > div::before {
    position: absolute;
    content: '';
    left: 50%;
    top: 0;
    width: 0.2vw;
    height: 1vw;
    background-color: #b41878;
}

.vector::after {
    position: absolute;
    content: '';
    left: 41.5vw;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-left: 0.7vw solid #b41878;
    border-top: 0.7vw solid transparent;
    border-bottom: 0.7vw solid transparent;
    border-right: 0.7vw solid transparent;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}
.page-navigator{
    margin: auto;
    width: 50%;
    margin-bottom: 2vw;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 1vw 2vw;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    font-size: 2vw;
    background-color: #79c2d2;
    color: black;
}

.next {

    font-size: 2vw;
    background-color: #79c2d2;
    color: black;
}

.round {
    border-radius: 50%;
}
/* some styles */
#text1{
    padding-top: 6vw;
    padding-right: 15vw;
    margin-top: 3vw;
    font-family: Zar;
    font-size: 2vw;
    direction: rtl;
    white-space: pre-wrap;
}
#textBox2{
    text-align: center;
    width: 10vw;
    border: none;
    border-radius: 0.6vw;
    font-size: 1.75vw;
    border-bottom: 2px solid #79c2d2;
    border-bottom-left-radius: 0.3vw;
    border-bottom-right-radius: 0.3vw;
    position: absolute;
    margin-left:30vw ;
    margin-top: -2em;
}
#text7{
    position: absolute; margin-left:39vw ; margin-top: 7vw
}
#textBox6{
    position: absolute; margin-left:43vw ; margin-top: 7vw
}
#text6{
    position: absolute; margin-left:25vw ; margin-top: 2vw
}
#textBox5{
    position: absolute; margin-left:16vw ; margin-top: 2vw
}
#textBox4{
    position: absolute; margin-left:32vw ; margin-top: 2vw
}
#text4{
    position: absolute; margin-left:64vw ; margin-top: 2vw
}
#text5{
    position: absolute; margin-left:48vw ; margin-top: 2vw
}
#text2{
    position: absolute; margin-left:46vw ; margin-top: -3vw
}
#text3{
    position: absolute; margin-left:23vw ; margin-top: -3vw
}
#textBox3{
    position: absolute; margin-left:13vw ; margin-top: -2em
}
.Q2_container{
    margin-right: -7vw;
}
#text8{
    padding-top: 6vw; padding-right: 15vw; margin-top: 3vw
}
#textBox7{
    position: absolute; margin-left:58vw ; margin-top: -2em
}
#text9{
    position: absolute; margin-left:42vw ; margin-top: -3vw
}
#textBox8{
    position: absolute; margin-left:30vw ; margin-top: -2em
}
#text10{
    position: absolute; margin-left:25vw ; margin-top: -3vw
}
#textBox9{
    position: absolute; margin-left:13vw ; margin-top: -2em
}
#text11{
    position: absolute; margin-left:5vw ; margin-top: -3vw
}
#text12{
    padding-top: 6vw; padding-right: 15vw; margin-top: 3vw
}
#textBox10{
    position: absolute; margin-left:46vw ; margin-top: -2em
}
#text13{
    padding-top: 2vw; padding-right: 15vw;
}
#textBox11{
    position: absolute; margin-left:54vw ; margin-top: -2em
}
#text14{
    position: absolute; margin-left:30vw ; margin-top: -3vw
}
#textBox12{
    position: absolute; margin-left:18vw ; margin-top: -2em
}
#text15{
    padding-top: 2vw; padding-right: 15vw;
}
#textBox13{
    position: absolute; margin-left:54vw ; margin-top: -2em
}
#text16{
    position: absolute; margin-left:50vw ; margin-top: -3vw
}
#text17{
    padding-top: 6vw; padding-right: 15vw; margin-top: 3vw
}
#textBox14{
    position: absolute; margin-left:18vw ; margin-top: -2em
}
#text18{
    position: absolute; margin-left:28vw ; margin-top: -3vw
}
#text19{
    padding-top: 2vw; padding-right: 15vw;
}
#textBox15{
    position: absolute; margin-left:44vw ; margin-top: -2em
}
#text20{
    position: absolute; margin-left:46vw ; margin-top: -3vw
}
#textBox16{
    position: absolute; margin-left:15vw ; margin-top: -2em
}
#text21{
    position: absolute; margin-left:25vw ; margin-top: -3vw
}
#text22{
    padding-top: 2vw; padding-right: 15vw;
}
#textBox17{
    position: absolute; margin-left:60vw ; margin-top: -2em
}
#text23{
    position: absolute; margin-left:53vw ; margin-top: -3vw
}
#Q1-Image-metre{
    float: left; width: 19vw; margin-top: 8vw; margin-left: 2vw
}
#Q1{
    padding-top: 0.5vw; padding-right: 1vw; margin-top: 1vw
}
#box-Q1{
    clear:both;margin-left: 5vw; margin-top: 7.5vw ;margin-right:11vw ; border-radius: 2vw
}
#txt1{
    direction:ltr;padding-top: 1vw; margin-top: 3vw
}
#textBox1_1{
    position: absolute; margin-left:9vw ; margin-top: -2em
}
#txt2{
    position: absolute; margin-left:20vw ; margin-top: -3vw
}
#textBox2_1{
    position: absolute; margin-left:22vw ; margin-top: -2em
}
#txt3{
    direction:ltr;padding-top: 1vw; margin-top: 1vw
}
#textBox3_1{
    position: absolute; margin-left:11vw ; margin-top: -2em
}
#box-Q2{
    clear:both;margin-left: 5vw; margin-top: 0vw ;margin-right:11vw ; border-top: none ; border-radius: 2vw
}
#txt4{
    position: absolute; margin-left:22vw ; margin-top: -3vw
}
#textBox4_1{
    position: absolute; margin-left:24vw ; margin-top: -2em
}
#txt5{
    position: absolute; margin-left:35vw ; margin-top: -3vw
}
#textBox5_1{
    position: absolute; margin-left:37vw ; margin-top: -2em
}
#txt6{
    direction:ltr;padding-top: 1vw; margin-top: 1vw
}
#textBox6_1{
    position: absolute; margin-left:6vw ; margin-top: -2em;width: 17vw
}
#txt7{
    position: absolute; margin-left:35vw ;direction:ltr; margin-top: -3vw
}
#textBox7_1{
    position: absolute; margin-left:41vw ; margin-top: -2em ;width: 17vw
}
#Q2{
    padding-top: 0.5vw; padding-right: 1vw; margin-top: 1vw
}
#txt8{
    direction:ltr;padding-top: 1vw; margin-top: 1vw
}
#textBox8_1{
    position: absolute; margin-left:15vw ; margin-top: -2em
}
#txt9{
    position: absolute; margin-left:49vw ;direction:ltr; margin-top: -3vw
}
#textBox9_1{
    position: absolute; margin-left:60vw ; margin-top:-2em
}
#txt10{
    direction:ltr;padding-top: 1vw; margin-top: 3vw
}
#textBox10_1{
    position: absolute; margin-left:12vw ; margin-top: -2em
}
#txt11{
    position: absolute; margin-left:52vw ;direction:ltr; margin-top: -3vw
}
#textBox11_1{
    position: absolute; margin-left:60vw ; margin-top: -2em
}
#txt12{
    direction:ltr;padding-top: 1vw; margin-top: 3vw
}
#textBox12_1{
    position: absolute; margin-left:39vw ; margin-top: -2em
}
#txt13{
    direction:ltr;padding-top: 1vw; margin-top: 3vw
}
#textBox13_1{
    position: absolute; margin-left:16vw ; margin-top: -2em
}
#txt14{
    position: absolute; margin-left:41vw ;direction:ltr; margin-top: -3vw
}
#textBox14_1{position: absolute; margin-left:60vw ; margin-top: -2em}
#Q3{
    padding-top: 2vw; padding-right: 13vw; margin-top: 1vw
}
.vector_font{
    font-size: 2vw ;
    font-family: ZAR;
}
#textBox1{
    background-color: #e1f4fd;
    position: absolute;
    margin-top: 5vw;
    margin-left: 28vw;
    border-color: #555
}
#teextBox1{
    position: absolute; margin-left:15vw ;  rows:"10" ; cols:"30";
}
#Q1_containerprime{
    margin-bottom: 15vw
}
#text24{
    position: absolute; margin-left:38vw ; margin-top: -3vw;
}
#text25{
    padding-top: 2vw; padding-right: 15vw;
}
#textBox19{
    position: absolute; margin-left:53vw ; margin-top: -2em;
}
#text26{
    position: absolute; margin-left:49vw ; margin-top: -3vw;
}
#text27{
    padding-top: 6vw; padding-right: 15vw; margin-top: 3vw;
}
#candies{
    float: left; width: 25vw; margin-top: 2vw; margin-left: 2vw ; border: 0.3vw solid #79c2d2; border-radius: 2vw;
}
#Q5_containerr{
    margin-right: -7vw; margin-bottom: 10vw;
}
