* {
    direction: rtl
}


a, a:active, a:focus, a:focus-within, a:hover, a:link, a:visited {
    text-decoration: none
}



body {
    margin: 0;
}


:root {

    --orange_level1: #f8b044;
    --orange_level2: #f19345;
    --orange_level3: #e55726;

    --pink_level1: #fdebf3;
    --pink_level2: #dc93b0;
    --pink_level3: #b03776;


    --yellow_level1_guessbox: #fffce0;
    --yellow_level2_border: #ffdd2b;
    --yellow_level3_border: #fecc4e;
    --yellow_level4_guessbox: #fcb94b;

    --red_level1: #f0595b;
    --red_level2: #c8242b;
    --red_level3: #db3f32;

    --blue_level0: #d4effb;
    --blue_level1: #6bcff6;
    --blue_level2: #3853a3;
    --blue_level3: #5cb6cd;

    --green_level0: #d2e287;
    --green_level1: #bbd75e;
    --green_level2: #87c765;
    --green_level3: #44b869;
    --green_level4: #3ab54a;


    --purple: #b09ac9;

    --pink: #f287b6;

    --dynamic_rnd: 0;
    --dynamic_rnd_last: 0;

        /* ============ shiva ================*/
    /* Pink */
    --queation_number_pink: #b40f76;
    --border_bg_pink: #d366aa;
    --bg_lighter_pink: #e07eb4;
    --calculator_title_pink: #e07eb4;
    --calculator_bg_pink: #fce6f4;
    /* Green */
    --circle_green: #b3de44;

    /* Blue */
    --equation_under_line: #c4e2ee;

}


.left-border {
    width: 90vw;
    max-width: 100%;
    border: 0.8vw double var(--border_bg_pink);

    margin: 6vw 0 0 10vw;
    border-right: none;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
    position: relative;
    background-color: white;
}


.right-border{

    width: 90vw;
    max-width: 100%;

    border: 0.8vw double var(--border_bg_pink);

    margin: 6vw 10vw 0 0;
    border-left: none;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: relative;
    background-color: white;
}

.background-style {

    width: 100vw;
    height: 53vw;

    background-image: repeating-linear-gradient(0deg, var(--bg_lighter_pink), var(--bg_lighter_pink) 1vw, var(--border_bg_pink) 0vw, var(--border_bg_pink) 2.5vw);
    background-position: bottom;
    background-repeat: no-repeat;

    position: absolute;
    bottom: -12vw;
    z-index: -1;
}


.activity_item .activity-cover {
    width: 13vw;
    position: absolute;
    right: -2.3vw;
    top: 0.5vw;
    z-index: 2;
}

.classwork-cover{
    width: 13vw;
    position: absolute;
    right: -9vw;
    top: 0.5vw;
    z-index: 2;
}

.classwork-title{
    background-color: var(--bg_lighter_pink);
    border-radius: 1.4vw;

    text-align: center;
    font-family: Koodak;
    font-size: 2.5vw;
    color: white;

    padding: 1vw 8vw 1.5vw 2vw;
    margin-right: -4vw;

    position: absolute;
    right: 3vw;
    top: 2.5vw;
    z-index: 1;

    /* float: right; */
}

.activity_item .activity-title {
    background-color: var(--bg_lighter_pink);
    border-radius: 1.4vw;

    text-align: center;
    font-family: Koodak;
    font-size: 2.5vw;
    color: white;

    padding: 1vw 11vw 1.5vw 3vw;
    position: absolute;
    right: 3vw;
    top: 2.5vw;
    z-index: 1;
}


.activity-image{

    width: 13vw;
    position: absolute;
    right: -2.3vw;
    top: 0.5vw;
    z-index: 2;
}


.text {
    font-family: B Zar;
    font-size: 2vw;
    direction: rtl;
    white-space: pre-wrap;
}


.questions-text {
    padding-right: 1vw;
    padding-left: 3vw;
    padding-bottom: 2vw;
    margin-top: -2vw;
}


.table-questions-text{
    padding-right: 0vw;
    padding-left: 3vw;
    padding-bottom: 0vw;
    margin-bottom: -1.5vw;
    margin-right: -7vw;
}


.answer-text{
    margin-right: 7vw;
    font-size: 1.5vw;
}


.answer-container{
    margin-bottom: -1vw;
}


#textAfterPic {
    z-index: 1;
    float: left;
    position: relative;
}


#numberAfterPic{
    float: left;
    position: relative;
    padding-left: 3vw;
}

.questions-number {
    color: var(--queation_number_pink);
    z-index: 1;
    font: Koodak;
}


.jadval-zarb table td{
    border: 0.3vw solid #4ebf4a;
    border-collapse: collapse;
    background-color: #fefdca;
    padding: 0.5vw;
}


.jadval-zarb table{
    border-top: 0.3vw solid #4ebf4a;
    border-bottom: 0.3vw solid #4ebf4a;
    border-left: 0.3vw solid #4ebf4a;
    border-right: 0.3vw solid #4ebf4a;
}


.jadval-zarb td{
    width: 3vw;
    height: 3vw;
    text-align: center;
    font-size: 2vw;
}


.jadval-zarb input{
    width: 3vw;
    height: 3vw;
    background-color: inherit;
    border: 0px;
    outline: none;
    direction: ltr;
    text-align: center;
}


.jadval-zarb input[type=number]:focus{
    background-color: var(--pink_level1);
}



.jadval-zarb input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.jadval-zarb .jadvalZarbFirstColumn td{
    width: 3vw;
}


.jadval-zarb .jadval-submit {
    font-size: 2vw;
    margin-top: 0.5vw;
    background-color: #4ebf4a;
    width: 10vw;
    border-radius: 0.9vw;
    color: white;
}


.jadval-zarb .jadval-submit:hover{
    background-color: var(--bg_lighter_pink);
    box-shadow: 0 0 1px rgba(0, 0, 0, .75);
}


.simple-table {
    background-color: var(--pink_level1);
    padding: 0.5vw;
    border: 0.2vw solid var(--pink_level2);
    border-radius: 3vw;
}


.simple-table table {
    border-collapse: collapse;
}


.simple-table td {
    font-size: 1.5vw;
    text-align: center;
    font-family: Koodak;
    padding: 0.5vw 1.5vw;
}


.simple-table .bottom-border {
    border-bottom: 0.3vw solid var(--pink_level3);
}


.simple-table .right-border {
    border-right: 0.3vw solid var(--pink_level3);
}


.simple-table .top-border {
    border-top: 0.3vw solid var(--pink_level3);
}


/*.simple-table td{*/
/*    padding: 0.7vw;*/
/*    border: 0.3vw solid var(--orange_level3);*/
/*    font-size: 1.5vw;*/
/*    font-family: Koodak;*/
/*    text-align: center;*/
/*}
*/


.page-number {

    background-color: var(--border_bg_pink);
    border-radius: 2.5vw;
    border: 0.9vw double white;

    text-align: center;
    font-size: 2vw;
    font-family: ‌B Zar;
    color: white;

    padding: 0 3vw;
    position: absolute;
    bottom: -0.5vw;
    right: -5vw;
}


.title-style {

    background-color: var(--yellow_level3_border);
    border-radius: 2vw;

    text-align: center;
    font-family: Koodak;
    font-size: 3vw;
    color: black;

    padding: 0 2vw;
    position: absolute;
    right: 35vw;
    left: 35vw;
    top: -3.3vw;
}



.that-ridiculous-red-parts-in-title {
    height: 1vw;

    background-color: var(--red_level2);
    color: var(--red_level2);
    border-style: solid;

    position: absolute;
    right: 34vw;
    left: 34vw;
    top: -1.2vw;
}


.colored-table {
    width: 65vw;
    margin: 0 10vw;
    border-collapse: collapse;
    font-size: 1.5vw;
    font-family: Koodak;
}


.colored-td {
    padding: 0.7vw;
    border: 0.25vw solid var(--blue_level2);
    font-size: 1.5vw;
    font-family: Koodak;
    text-align: center;
}


.simple-td {
    padding: 0.7vw;
    border: 0.3vw solid var(--orange_level3);
    font-size: 1.5vw;
    font-family: Koodak;
    text-align: center;
}


.simple-td-green {
    padding: 0.7vw;
    border: 0.3vw solid var(--green_level4);
    font-size: 1.5vw;
    font-family: Koodak;
    text-align: center;
}


.simple-table-border {
    float: left;
    border: 1vw solid var(--orange_level2);
    border-radius: 2vw;
    padding: 1vw;
    width: 30vw;
    margin-left: 5vw;
}


.bar-chart {
    width: 25vw;
    border-collapse: collapse;
    font-size: 2vw;
    font-family: Koodak;
}


.bar-chart-td {
    padding: 0.5vw;
    font-size: 2vw;
    font-family: Koodak;
    text-align: center;
}


/* circle sectors detection for Q1 */

.wrapr {
    width: 14vw;
    height: 14vw;
    border: 2px solid var(--purple);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-left: 10vw;
}


.sector {
    width: 5000px;
    height: 5000px;

    position: absolute;
    transform-origin: 100% 100%;

    left: 50%;
    top: 50%;
    border: 1px solid var(--purple);
    margin-top: -5002px;
    margin-left: -5002px;
    background-color: white;
}


.color-picker {
    width: 1.5vw;
    height: 1.5vw;
    border: 0.2vw solid var(--purple);
    border-radius: 2vw;
    position: relative;
    margin-top: 0.5vw;

}


.shaking-animation {
    animation: shake 1.5s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}


@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }


    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }


    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }


    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }

}


.guess-box-level1 {
    background-color: var(--yellow_level1_guessbox);
    border: 0.4vw solid var(--yellow_level4_guessbox);
    border-radius: 4vw;

    position: relative;
    padding: 1.5vw;
    margin: 18vw 1.5vw 5vw 7vw;
}


.guess-box-text-right {
    background-color: var(--yellow_level3_border);
    border-radius: 1.5vw 0 0 1.5vw;
    border-right: 2vw solid var(--yellow_level4_guessbox);

    text-align: center;
    font-family: Koodak;
    font-size: 2.5vw;
    color: white;

    padding: 0 3vw 0 2vw;
    position: absolute;
    right: -2vw;
    top: 1vw;
    z-index: 1;
}


.guess-box-text-left {
    background-color: var(--yellow_level3_border);
    border-radius: 0 01.5vw 1.5vw 0;
    border-left: 2vw solid var(--yellow_level4_guessbox);

    text-align: center;
    font-family: Koodak;
    font-size: 2.5vw;
    color: white;

    padding: 0 2vw 0 3vw;
    position: absolute;
    left: -1.5vw;
    top: 3vw;
    z-index: 1;
}


.guess-box-level2 {
    background-color: white;
    border: 0.3vw solid var(--green_level1);
    border-radius: 4vw;

    position: relative;
    padding: 1.5vw;
    margin-top: 2vw;
    margin-right: 30vw;
}



/* ================= */


/* --------------------------------- */

.calculator-text{
    max-width: 42vw;
    padding-top: 1vw;
}


.calculator-question{
    padding-right: -vw;
    max-width: 42vw;
}



.calculator-box-level1 {
    background-color: var(--calculator_bg_pink);
    border: 0.3vw solid var(--border_bg_pink);
    border-radius: 4vw;

    position: relative;
    padding: 1.5vw;
    margin: 18vw 1.5vw 5vw 7vw;

    clear:both; left: -6vw; margin-top: 2vw
}


.calculator-box-text-right {
    background-color: var(--yellow_level3_border);
    border-radius: 1.5vw 0 0 1.5vw;
    border-right: 2vw solid var(--yellow_level4_guessbox);

    text-align: center;
    font-family: Koodak;
    font-size: 2.5vw;
    color: white;

    padding: 0 3vw 0 2vw;
    position: absolute;
    right: -2vw;
    top: 1vw;
    z-index: 1;
}


.calculator-box-text-left {
    background-color: var(--calculator_title_pink);
    border-radius: 0 1.5vw 1.5vw 0;
    border-left: 2vw solid var(--border_bg_pink);

    padding: 0 2vw 0 3vw;
    position: absolute;
    left: -1.5vw;
    top: 3vw;
    z-index: 1;
    height: 5vw;
}


#calculator-title{
    text-align: center;
    font-family: Koodak;
    font-size: 2.5vw;
    color: white;  

}


.calculator-box-level2 {
    /* background-color: white; */

    position: relative;
    padding: 1.5vw;
    margin-top: 2vw;
    margin-right: 30vw;
}

/* ================= */

.clock-hand:after {
    width: 0;
    height: 0;
    border-bottom: 0.5vw solid transparent;
    border-top: 0.5vw solid transparent;
    border-left: 1.1vw solid black;
    display: inline-block;
    vertical-align: middle;
    content: "";

}


.clock-hand:before {
    width: 4vw;
    height: 0.3vw;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
    content: "";
}


.continues-rotation {
    animation: rotation 2s linear;
}


.continues-rotation2 {
    animation: rotation 2s linear;
}


@keyframes rotation {
    from {
        transform: rotate(var(--dynamic_rnd_last));
    }

    to {
        transform: rotate(var(--dynamic_rnd));
    }

}


.cylinder {
    width: 4vw;
    height: 15vw;
    border-radius: 1.3vw;
}


.cylinder-above {
    content: "";
    position: absolute;
    background: white;
    border: 0 solid transparent;
    border-radius: 100%;
    z-index: 1;
    width: 4vw;
    height: 2vw;
    margin-top: -0.3vw;
}


.cone {

    width: 0;
    height: 0;
    border-bottom: 15vw solid white;
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;

    content: "";
    position: relative;
    display: block;
}


.cone-circle {
    width: 4vw;
    height: 3vw;
    background: white;
    z-index: 1;
    border-radius: 50%;

    content: "";
    position: absolute;
    display: block;
}



.Q2-table .circle{
  height: 2vw;
  width: 2vw;
  background-color: #b3de44;
  border-radius: 50%;
  display: inline-block;
}


.Q2-table{
    margin-top: 3vw;
}


.input-xsmall-style{
    width: 5vw;
    padding: 1vw 1vw;
    margin: 0.3vw 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(145, 210, 248);
    outline: none;
    direction: ltr;
    text-align: center;
    position: static;
}
 

.math-signs{
    font-size: 1.7vw;
}


#ghashogh{
    height: 18vw;
    border: 0.4vw solid var(--pink_level2);
    border-radius: 2vw;
}



#Q3456-container{
    padding-bottom: 3vw;
}


#jabe-medad{
    margin-right: -30vw;
}


/* ================= Next Page ========================== */
.Q1-68-container{
    padding-right: 8vw; 
    padding-top: 6vw; 
    max-width: 80vw;
}

.Q1-68-question-text{
    padding-top: 1vw; 
    padding-right: 3vw; 
    margin-top: 2vw;
}


.Q2-68-container{
    padding-right:  1vw; 
    padding-top: 6vw; 
    max-width: 80vw;
}

.Q2-68-question-text{
    padding-top: 1vw; 
    padding-right: 12vw; 
    margin-top: 2vw;
}

.Q2-68-table{
    margin-right: 8vw;
}


.Q3-68-table table{ 
    width: 100%;
}


.Q3-68-table td{
    /* border: 0.1vw solid blue; */
    margin-top: 0vw;
    padding: 0vw 0vw 0vw 4vw;
}


.Q3-68-table input{
    margin: -3vw -6vw -2vw 0vw;
    /* padding: 0vw 0vw 0vw 0vw; */
}


.Q3-68-table{
    margin: 0vw 0vw 0vw 0vw;
    border: 0.1vw solid var(--bg_lighter_pink);
    border-radius: 6vw;
    width: 100%;
}


.Q3-68-table-container{
    margin-right: 0vw;
    margin-top: 0vw;
    margin-left: 0vw;

    width: 65%;
    margin: auto;
    margin-bottom: 4vw;
    
    border: 0.5vw double var(--bg_lighter_pink);
    border-radius: 6vw;
}

.Q368-question {
    padding-top: 1vw; 
    padding-right: 11vw; 
    margin-top: 2vw;
    max-width: 68vw;
}


.Q1-67-container{
    /* border: 0.5vw solid green; */
}


.Q1-67-question{
    padding: 7vw 13vw 0vw 0vw; 
    text-align: justify; 
    max-width: 75vw; 
    text-justify: inter-word; 
    line-height: 2.7vw;
}


.Q1-67-table-container{
    width: 85%; 
    margin: auto; 
    /* border: 0.5vw dashed blue; */
    padding-right: 10vw;
}


.Q1-67-table{
    width: 100%;
    /* border: 0.4vw solid #b03776; */
}

.Q1-67-table tr{
    margin: auto;
    /* width: 100%; */
}

.Q1-67-table td{
    /* border: 0.3vw solid green; */
    margin: auto;
}

.Q1-67-table td img{
    max-width: 15vw;
    width: 80%;
    margin: auto;
    /* border: 0.3vw dotted red; */

    margin-right: 15%;
    margin-top: 0.5vw;
}

.Q1-67-table td div{

    margin-right: 8%;
    margin-top: 0vw;
    margin-bottom: 1vw;
}

/* -------------------------------------- */

/* .Q1-67-subtable-container{
    padding: 8vw 20vw 3vw 2vw;
}

.Q1-67-subtable-container table td{
    border: 0.3vw solid #4251aa;
    border-collapse: collapse;
    background-color: #f2eeed;
    padding: 0.5vw;
}


.Q1-67-subtable-container table{
    border: 0.3vw solid bisque;
    frame: void
}


.Q1-67-subtable-container td{
    width: 3vw;
    height: 3vw;
    text-align: center;
    font-size: 2vw;

}


.Q1-67-subtable-container button{
    width: 100%;
    height: 3vw;
    background-color: inherit;
    outline: none;
    direction: ltr;
    text-align: center;
    border: none;
}


.Q1-67-subtable-container button:focus{
    background-color: #f03f52;
}


 
.Q1-67-subtable-container button::-webkit-outer-spin-button,button::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.Q1-67-subtable-container .jadval-submit {
    font-size: 2vw;
    margin-top: 0.5vw;
    background-color: #4ebf4a;
    width: 8vw;
    height: 2.5vw;
    border-radius: 0.9vw;
    color: white;
    border: none;
}


.Q1-67-subtable-container .jadval-submit:hover{
    background-color: var(--bg_lighter_pink);
    box-shadow: 0 0 1px rgba(0, 0, 0, .75);
}
 */

/*  ----------------------------
--------------------------------- */

.Q1-76-subtable-container {
    /* border: 0.8vw solid red; */
}

.Q1-76-subtable{
    border: 0.5vw dashed grey;
    width: 100%;

    background-color: #f2eeed;
}

.Q1-76-subtable-container table{
    border: 0.3vw solid #4251aa;
    border-collapse: collapse;
    padding: 0vw 0vw 0vw 0vw;

    width: 14.6vw;
    height: 12vw;
    width: 80%;
    margin: auto;

    margin-right: 0.5vw;

}

.Q1-76-subtable-container td{
    margin: auto;
    border: 0.3vw solid #4251aa;
    border-collapse: collapse;
}

.Q1-76-subtable-container button{
    width: 60%;
    height: 60%;
    margin: auto;
    margin-top: 0.3vw;
    margin-right: 0.8vw;
    border:none;
    outline: none;
}

.Q1-76-subtable-container button:focus{
    background-color: #f03f52;
}




.Q2-67-box-level1 {
    background-color: var(--calculator_bg_pink);
    border: 0.6vw solid var(--border_bg_pink);
    border-radius: 4vw;

    position: relative;
    padding: 1.5vw;
    margin: 18vw -1vw 5vw 11vw;

    clear:both; left: -6vw; margin-top: 2vw
}


.Q2-67-table{
    background-color: white;
    width: 100%;
}

.Q2-67-table td{
    /* border: 0.3vw dashed red; */
    padding: 1vw 2vw 6vw 4vw;
}

.Q2-67-box-level1 table td{
    border: 0.2vw solid green;
    border-collapse: collapse;
}