:root{
    --main_color: #78c2da;
    --title_color : #5cb6d6;
    --footer_color2 : #78c2da;
}

@font-face {
    font-family: Zar;
    src: url("/assets/fonts/Zar.woff") format("woff");
}

body{
    /*background-image: repeating-linear-gradient(0deg,var(--footer_color1), var(--footer_color1) 1vw, var(--footer_color2) 0vw , var(--footer_color2) 2.5vw);*/
    /*background-size: 100% 30%;*/
    /*background-position: bottom;*/
    /*background-repeat: no-repeat;*/
    font-family:"B Zar";
    font-size: 2vw;
}

.page1{
    border-top: 1vw double var(--main_color);
    border-right: 1vw double var(--main_color);
    border-bottom: 1vw double var(--main_color);
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    box-sizing: border-box;
    width: 93vw;
    height: 125vw;
    background: white;
    margin: 3vw 5vw 3vw 0;
    padding:0vw 3vw;
    /*position: relative;*/
}

.page-title{
    width: 18vw;
    height: 5vw;
    margin: 0 auto;
    padding-top: .5vw;
    background-color: var(--title_color);
    color: white;
    text-align: center;
    font-size: 2.5vw;
    top: 1vw;
    left: 40vw;
    position: absolute;
    margin-right: 34%;
    border-radius: 2vw;
    -webkit-text-stroke: 0.05vw black;
}

.little-title{
    background-color: var(--title_color);
    font-weight: bold;
    text-align: center;
    width: 20vw;
    height: 4vw;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    margin-right: -3vw;
}

#fn_title{
    top:10vw;
    position: absolute;
    color: black;
}

#tamrin_title{
    top:45vw;
    position: absolute;
    color: white;
}

.farhange_neveshtan{
    background-color: #e1f4fc;
    width: 70vw;
    height: 30vw;
    top: 14vw;
    position: absolute;
    margin-right: 0;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}

.farhange_neveshtan_content{
    background-color: white;
    border: double 0.5vw #5cb6d6;
    border-radius: 5vw;
    width: 50vw;
    height: 20vw;
    margin: 3vw 1vw;
    padding: 1vw 2vw;
}

.image_one{
    top : 7.5vw;
    left: -4.6vw;
    position: absolute;
}

.image-two{
    width: 10vw;
    height: 14vw;
    top: 45vw;
    position: absolute;
    margin-right: -3vw;
}

.tamrin-content{
    top: 50vw;
    position: relative;
    /*width: 70vw;*/
    margin-right: 8vw;
    margin-left: 10vw;
    float: right;
}

/*p{*/
/*    position: relative;*/
/*    float: right;*/
/*    overflow-x: auto;*/
/*}*/

.q1{
    width: 45vw;
    display: block;
}

.q3{
    display: block;
}

.q4{
    top: 85vw;
    right: 20vw;
    position: absolute;
}

.q5{
    top: 92vw;
    right: 20vw;
    position: absolute;
}

.q6{
    top: 100vw;
    right: 8vw;
    position: absolute;
}

.q6-content{
    font-family:"B Zar";
    top: 104vw;
    /*right: vw;*/
    position: absolute;
}

.number{
    color: var(--title_color);
}

.image-three{
    width: 30vw;
    height: 20vw;
    top: 48vw;
    left: 5vw;
    position: absolute;
    margin-right: -3vw;
    float: left;
}

.image-four{
    width: 14vw;
    height: 12vw;
    top: 35vw;
    right:-2vw ;
    position: absolute;
}

.line{
    border-top: 0.1vw solid var(--title_color);
    margin-top: 2.5vw;
}

.tamrin{
    position: relative;
}

.page2{
    border-top: 1vw double var(--main_color);
    border-left: 1vw double var(--main_color);
    border-bottom: 1vw double var(--main_color);
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
    box-sizing: border-box;
    width: 93vw;
    height: 125vw;
    background: white;
    margin: 3vw 0 3vw 5vw;
    padding:0vw 3vw;
    /*position: relative;*/
}

.q7-content{
    margin: 3vw 3vw;
    float: right;
}

.q7-images{
    float: left;
}

.book-img{
    width: 12vw;
    height: 12vw;
    top: 5vw;
    left: 40vw;
    position: absolute;
}

.watermelon-img{
    width: 15vw;
    height: 13vw;
    top: 7vw;
    left: 15vw;
    position: absolute;
}

.melon-img{
    width: 20vw;
    height: 12vw;
    top: 18vw;
    left: 28vw;
    position: absolute;
}

.q7{
    height: 28vw;
}

.q8{
    border-style: solid;
    border-color: var(--title_color);
    border-radius: 5vw;
    border-width: 0.3vw;
    box-shadow: 1vw 1vw var(--title_color);
    height: 57vw;
    width: 70vw;
    margin-right: 5vw;
    padding: 2vw;
}

.circle, .triangle, .parallelogram, .diamond, .square, .rectangle{
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    height: 4vw;
    margin-bottom: -2vw;
}

pre{
    font-family:"B Zar";
}

.caption{
    font-family:"B Zar";
    margin-right: 2vw;
    margin-bottom: 5vw;
}

.rec-felesh{
    height: 6vw;
}

.dia-felesh{
    height: 8vw;
}

.tri-felesh{
    height: 7.5vw;
    margin-left: 1vw;
}

.cir-felesh{
    margin-top: 1vw;
    margin-bottom: -5vw;
    height: 5vw;
}

.dia-felesh-rev{

}

.squ-felesh{
    height: 7vw;
}

.paras-felesh{
    height: 7vw;
    margin-right: -2vw;
}

.start{
    width: 8vw;
    top: 59.5vw;
    position: absolute;
    background-color: #fecc4e;
    border-style: solid;
    border-color: #fecc4e;
    border-radius: 1vw;
    text-align: center;
    /*font-size: 2.6vw;*/
}

.finish{
    width: 8vw;
    background-color: #fecc4e;
    border-style: solid;
    border-color: #fecc4e;
    border-radius: 1vw;
    text-align: center;
    top: 87vw;
    position: absolute;
    margin-right: 22vw;
}

#felesh{
    margin-right: 30.5vw;
    /*margin-top: 5.5vw;*/
    height: 3vw;
    top: 1vw;
    position: relative;
}

#rec-felesh-down{
    margin-right: 52vw;
    /*margin-top: 1vw;*/
    height: 5vw;
    margin-bottom: -5vw;
}

.q9{
    margin: 3vw;
}

.q10{
    margin: 1vw 3vw;
}

.q9-con, .q10-con{
    margin-right: -5vw;
}


.page3{
    border-top: 1vw double var(--main_color);
    border-right: 1vw double var(--main_color);
    border-bottom: 1vw double var(--main_color);
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    box-sizing: border-box;
    width: 93vw;
    height: 125vw;
    background: white;
    margin: 5vw 5vw 3vw 0;
    padding:0vw 3vw;
    /*position: relative;*/
}

.snake-img{
    width: 13vw;
    height: 11vw;
    top: -0.5vw;
    position: absolute;
}

.s_q1{
    right: 30vw;
    position: absolute;
    width: 33vw;
}

.s_q2{
    right: 10vw;
    top: 20vw;
    position: absolute;
    width: 30vw;
}

input{
    width: 7.5vw;
    margin: 0 1vw;
}

.page-number{
    width: 8vw;
    height: 3vw;
    margin: 0 auto;
    position: absolute;
    background-color: var(--title_color);
    border-style: double;
    text-align: center;
    font-size: 2vw;
    color: white;
    background-position: center;
    top: 126vw;
    right: 44vw;
    border-radius: 2vw;
}

.previous-page{
    display: block;
    float: right;
    top: 120vw;
    position: absolute;
}
.previous-page a{
    text-decoration: none;
    color: var(--main_color);
    font-size: 3vw;
}
.previous-page a:hover{
    text-decoration: none;
    color: olive;
    font-size: 3vw;
}

.next-page{
    display: block;
    float: left;
    top: 121vw;
    left: 7vw;
    position: absolute;
}
/*.next-page-page2{*/
/*    display: block;*/
/*    float: left;*/
/*    top: -6vw;*/
/*    position: relative;*/
/*}*/

.next-page a{
    text-decoration: none;
    color: var(--main_color);
    font-size: 3vw;
}
.next-page a:hover{
    text-decoration: none;
    color: olive;
    font-size: 3vw;
}