/*-----------------------------------*/
:root {
    --yellow_level1_guessbox: #fffce0;
    --yellow_level2_border: #ffdd2b;
    --yellow_level3_border: #fecc4e;
    --yellow_level4_guessbox: #fcb94b;

    --red_level1: #f0595b;
    --red_level2: #c8242b;
    --red_level3: #db3f32;

    --blue_level0: #d4effb;
    --blue_level1: #6bcff6;
    --blue_level2: #3853a3;
    --blue_level3: #5cb6cd;

    --green_level0: #d2e287;
    --green_level1: #bbd75e;
    --green_level2: #87c765;
    --green_level3: #44b869;
    --green_level4: #3ab54a;

    --orange_level1: #fee6d3;
    --orange_level2: #fcb94b;
    --orange_level3: #f89f6d;

    --purple: #b09ac9;

    --pink_level0: #fbdfeb;
    --pink: #f287b6;

    --dynamic_rnd: 0;
    --dynamic_rnd_last: 0;

}
/*-----------------------------------*/
@font-face {
    font-family: 'zar';
    src: url("../../fonts/Zar.woff") format("woff");
}

.right-border{

    width: 90vw;
    max-width: 100%;

    border: 0.8vw double #fbd2c1;

    margin: 6vw 10vw 0 0;
    border-left: none;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: relative;
    background-color: white;
}

.left-border{
    width: 90vw;
    max-width: 100%;

    border: 0.8vw double #fbd2c1;

    margin: 6vw 0 0 10vw;
    border-right: none;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
    position: relative;
    background-color: white;
}

.background-style{

    width: 100vw;
    height: 53vw;

    background-image: repeating-linear-gradient(0deg, #fbd2c1, #fbd2c1 1vw, #f9c6a9 0vw, #f9c6a9 2.5vw);
    background-position: bottom;
    background-repeat: no-repeat;

    position: absolute;
    bottom: -12vw;
    z-index: -1;
}

.page-number{

    background-color: #f9c6a9;
    border-radius: 2.5vw;
    border: 0.9vw double white;

    text-align: center;
    font-size: 2vw;
    font-family: Koodak;
    color: white;

    padding: 0 3vw;
    position: absolute;
    bottom: -0.5vw;
    right: -5vw;
}

.activity-text{

    background-color: #f9c6a9;
    border-radius: 1.5vw;

    text-align: center;
    font-family: Koodak;
    font-size: 2.5vw;
    color: white;

    padding: 0 11vw 0 3vw;
    position: absolute;
    right: 2vw;
    top: -2.5vw;
    z-index: 1;
}
.activity-image{

    width: 13vw;
    position: absolute;
    right: -2.3vw;
    top: -4.5vw;
    z-index: 2;
}
.text-config{
    font-family: Zar;
    font-size: 2vw;
    direction: rtl;
    white-space: pre-wrap;
}

.questions-text-config{
    padding-right: 5vw;
    padding-left: 3vw;
    padding-bottom: 2vw;
    margin-top: 2vw;
}
.guess-box-level1{
    background-color: #fee6d3;
    border: 0.4vw solid #f69b86;
    border-radius: 4vw;

    position: relative;
    padding: 1.5vw;
    margin: 18vw 1.5vw 5vw 7vw;

    font-family: ZAR;
}

.hint-box{
    background-color: #ebf3d4;
    border: 0.4vw solid #459235;
    border-radius: 4vw;

    position: relative;
    padding: 3vw;

}

.guess-box-text-right{
    background-color: #f9c6a9;
    border-radius: 1.5vw 0 0 1.5vw;
    border-right: 2vw solid #f69b86;

    text-align: center;
    font-family: Koodak;
    font-size: 2.5vw;
    color: white;

    padding: 0 3vw 0 2vw;
    position: absolute;
    right: -2vw;
    top: 1vw;
    z-index: 1;
}
.guess-box-text-left{
    background-color: #f9c6a9;
    border-radius: 0 01.5vw 1.5vw 0;
    border-left: 2vw solid #f69b86;

    text-align: center;
    font-family: Koodak;
    font-size: 2.5vw;
    color: white;

    padding: 0 2vw 0 3vw;
    position: absolute;
    left: -1.5vw;
    top: 3vw;
    z-index: 1;
}

.title-style{

    background-color: #f9c6a9;
    border-radius: 2vw;

    text-align: center;
    font-family: Koodak;
    font-size: 2vw;
    color: black;

    padding: 0 2vw;
    position: absolute;
    right: 35vw;
    left: 35vw;
    top: -2.1vw;
}



.previous-page{
    display: block;
    float: right;
    position: absolute;

}
.previous-page a{
    text-decoration: none;
    color: #47a758;
    font-size: 2vw;
}
.previous-page a:hover{
    text-decoration: none;
    color: olive;
    font-size: 2vw;
}



.next-page{
    display: block;
    float: left;


}
.next-page a{
    text-decoration: none;
    color: #47a758;
    font-size: 2vw;
}
.next-page a:hover{
    text-decoration: none;
    color: olive;
    font-size: 2vw;
}

.divide{
    margin-top: 1vw ;
    float: left  ;
    width: 20vw;
    height: 18vw ;
    font-family: ZAR;

}

.divide-left-top{
    white-space: pre;
    float: top  ;
    width: 5vw ;
    height: 6vw ;
    border-right: solid #f9c6a9 0.3vw;

}
.divide-right-top{
    margin-left: 0;
    white-space: pre;
    float: top  ;
    width: 5vw ;
    height: 3vw ;
    border-bottom: solid #f9c6a9 0.3vw;


}
.input-1{
    width: 4vw;
    height: 2vw;
    margin-top: 0.5vw;
    margin-right: 3vw;
    font-size: 1.5vw;
    font-family: ZAR;
}

.correct-ans {
    position: relative;
    border: 3px solid green;
    outline: none;
}

.wrong-ans {
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
    border: 1px solid red;
    outline: none;
}

@keyframes shake {
    0% {
        left: -5px;
    }
    100% {
        right: -5px;
    }
}
/*-----------------------------------*/





